{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h1>{% block title %}{% trans "غیر فعال کردن احراز هویت دو عاملی" %}{% endblock %}</h1>
                        <p>{% blocktrans trimmed %}آیا از غیر فعال کردن احراز هویت دوعاملی مطمئن هستید ؟؟ اینکار باعث تضعیف امنیت حساب شما خواهد شد.{% endblocktrans %}</p>
                        <form method="post">
                            {% csrf_token %}
                            <table>{{ form }}</table>
                            <button class="btn btn-danger"
                                    type="submit">{% trans "غیر فعال کردن" %}</button>
                        </form>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
