/* important font files */
@font-face {
    font-family: 'vazir';
    font-weight: 300;
    src: url(../../dialog/fonts/vazir/Vazir-Thin.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Thin.ttf),
    url(../../dialog/fonts/vazir/Vazir-Thin.woff),
    url(../../dialog/fonts/vazir/Vazir-Thin.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 400;
    src: url(../../dialog/fonts/vazir/Vazir-Light.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Light.ttf),
    url(../../dialog/fonts/vazir/Vazir-Light.woff),
    url(../../dialog/fonts/vazir/Vazir-Light.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 500;
    src: url(../../dialog/fonts/vazir/Vazir-Regular.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Regular.ttf),
    url(../../dialog/fonts/vazir/Vazir-Regular.woff),
    url(../../dialog/fonts/vazir/Vazir-Regular.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 600;
    src: url(../../dialog/fonts/vazir/Vazir-Medium.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Medium.ttf),
    url(../../dialog/fonts/vazir/Vazir-Medium.woff),
    url(../../dialog/fonts/vazir/Vazir-Medium.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 700;
    src: url(../../dialog/fonts/vazir/Vazir-Bold.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Bold.ttf),
    url(../../dialog/fonts/vazir/Vazir-Bold.woff),
    url(../../dialog/fonts/vazir/Vazir-Bold.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 800;
    src: url(../../dialog/fonts/vazir/Vazir-Black.eot);
    src: url(../../dialog/fonts/vazir/Vazir-Black.ttf),
    url(../../dialog/fonts/vazir/Vazir-Black.woff),
    url(../../dialog/fonts/vazir/Vazir-Black.woff2);
}


html {
    min-height: 100%;
    background: linear-gradient(to right, rgba(13, 178, 222, 0.2), rgba(0, 91, 234, 0.2)), url('../../dialog/img/register.png');
}

body {
    padding-top: 30px;
    font-family: 'vazir', tahoma;
    direction: rtl;
}

a, a:hover, a:focus {
    text-decoration: none;
}

#msform {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform .box {
    padding: 20px 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#msform .box > input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'vazir', tahoma;
    color: #2C3E50;
    font-size: 13px;
}

#msform .action-button {
    width: 150px;
    font-weight: bold;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px #005bea;
}

.fs-title {
    font-size: 80px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}

.fs-title span {
    font-size: 15px;
    font-weight: normal;
}

@media (max-width: 767px) {
    #msform {
        width: 98%
    }

    #msform .box {
        padding: 20px
    }
}


element.style {
    color: #ffffff;
}

element.style {
    color: honeydew;
}