<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Open Graph Meta-->
    <title>{% block title %}{% endblock title %}</title>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/css/main.css' %}"/>
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block extracss %}
    {% endblock extracss %}
</head>
<body class="app sidebar-mini">

<!-- Navbar-->
<header class="app-header">
    <a class="app-header__logo" href="#">Event Calendar</a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        {% if request.user.avatar %}
            <img class="app-sidebar__user-avatar" src="{{ request.user.avatar.url }}" alt="User Image" height="80px"
                 width="80px"/>
        {% else %}
            {% if user.gender == 'F' %}
                <img src="{% static 'registrations\dialog\img\avatar\woman.png' %}"
                     class="app-sidebar__user-avatar"

                      alt="User Image" height="50px"
                 width="50px"/>
            {% else %}
                <img src="{% static 'registrations\dialog\img\avatar\man.png' %}"
                     class="i#000000=010000" alt="بارگذاری نشد"
                     data-lity=""
                     style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
            {% endif %}
        {% endif %}
        <div>
            <div class="admin-name col-xs-7">
                    <div id="my_name" class="m-b-10">{{ user.get_full_name }}</div>
                    <div class="gooleh b#4CAF50"></div>
                    {% if request.user.job_title %}
                        <span>{{ request.user.job_title }}</span>
                    {% else %}
                        <span>کارمند</span>
                    {% endif %}
                </div>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="{% url 'calendar:dashboard' %}"><i class="app-menu__icon fa fa-dashboard"></i><span
                    class="app-menu__label">Dashboard</span></a>
        </li>
        <li>
            <a class="app-menu__item" href="{% url 'calendarapp:calendar' %}"><i
                    class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Calendar</span></a>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span
                    class="app-menu__label">Events</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="{% url 'calendarapp:running_events' %}"><i
                            class="icon fa fa-circle-o"></i> Running</a>
                </li>
                <li>
                    <a class="treeview-item" href="{% url 'calendarapp:upcoming_events' %}"><i
                            class="icon fa fa-circle-o"></i> Upcoming</a>
                </li>
                <li>
                    <a class="treeview-item" href="{% url 'calendarapp:all_events' %}"><i
                            class="icon fa fa-circle-o"></i> All</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
    </div>
    {% block content %}
    {% endblock content %}
</main>
<!-- Essential javascripts for application to work-->
{% include 'calendar/base/js.html' %}
{% block extrascripts %}
{% endblock extrascripts %}
</body>
</html>
