{% extends 'partials/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block main %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Company Settings</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-lg-6">
            <h5 style="font-size: large" class="card-title">Company Name: {{company.0.companyName}}</h5>
            <hr>
            <p class="card-text"><strong>Address:</strong> {{company.0.addressLine}}</p>
            <p class="card-text"><strong>Postal Code:</strong> {{company.0.postalCode}}</p>
            <p class="card-text"><strong>national_id:</strong> {{company.0.national_id}}</p>
            <br>
            <p class="card-text"><strong>Phone Number:</strong> {{company.0.sales.phone_number}}</p>
            <p class="card-text"><strong>Email:</strong> {{company.0.sales.email}}</p>
            <br>
          </div>


          <div class="col-lg-5">
            <div class="p-5">
            <img class=img-fluid  src="{% static 'invoice/assets/img/empty.svg' %}" alt="Skolo Online Learning">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}
