{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}



    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create an Invoice</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'invoice:demo-invoices' %}">
                    <button type="button" class="btn btn-primary">Go Back</button>
                </a>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Huyar Tarabar Online Demurrage Invoice Generator
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="card-title">Add CONTAINER to your invoice
                            <button href="#addProductModal" type="button" class="btn btn-link" data-bs-toggle="modal">
                                ADD CONTAINER
                            </button>
                        </h5>

                        {% if containers|length > 0 %}
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>

                                        <th>container_number</th>
                                        <th>size</th>
                                        <th>discharge_time</th>
                                        <th>return_time</th>
                                        <th>free_time Invoice</th>
                                        <th>Demurrage_amount</th>
                                        <th>damage_amount</th>
                                        <th>delete</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for container in containers %}
                                        <tr>
                                            <td>{{ container.container_number }}</td>
                                            <td>{{ container.size }}</td>
                                            <td>{{ container.discharge_time }}</td>
                                            <td>{{ container.return_time }} {{ container.price }}</td>
                                            <td>{{ container.free_time }}</td>
                                            <td>{{ container.Demurrage_amount }}</td>
                                            <td>{{ container.damage_amount }}</td>
                                            <td>
                                                <a href="{% url 'invoice:delete-container' container.slug %}">
                                                    <button class="btn btn-danger"> DELETE</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <br>


                <div class="row">
                    <div class="col-lg-6">

                        <form class="" action="#" method="post">

                            {% csrf_token %}
                            {% crispy demo_inv_form %}

                        </form>

                    </div>
                    <div class="col-lg-6">
                        <h5 class="card-title"> Select Client to Add </h5>
                        <br>
                        <h5 class="card-title"> Current Client: <span
                                class="badge bg-success">{{ demo_invoice.shipment.shipment_number }}</span></h5>
                        <br>

                        <div class="mb-5">
                            <form class="" action="#" method="post">
                                {% csrf_token %}

                                {{ shipment_form|crispy }}

                                <button type="submit" class="btn btn-primary">ADD shipment</button>
                            </form>
                        </div>


                        <div class="row">
                            <div class="col-lg-4">
                                <a href="{% url 'invoice:view-pdf-demo-invoice' demo_invoice.slug %}">
                                    <button class="btn btn-info text-white"> VIEW DEMURRAGE INVOICE</button>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'invoice:view-document-demo-invoice' demo_invoice.slug %}">
                                    <button class="btn btn-success text-white"> VIEW PDF DEMURRAGE INVOICE</button>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="{% url 'invoice:email-document-demo-invoice' demo_invoice.slug %}">
                                    <button class="btn btn-warning text-white"> EMAIL DEMURRAGE INVOICE</button>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>





    <!-- MODALS MODALS -->
    <!-- Modals Start Here -->
    <div class="modal modal-sheet py-5" tabindex="-1" id="addProductModal">
        <div class="modal-dialog">
            <div class="modal-content rounded-6 shadow">

                <form class="" action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Add Invoice Container</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body py-0">


                        {{ container_form.as_p }}


                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>



{% endblock %}
