{% extends 'partials/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block main %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card mb-5">
                            <h5 class="card-header">inquiries</h5>
                            <div class="card-body">
                                <h5 class="card-title">Total Number of inquiries: {{ inquiries }}</h5>
                                <h5 class="card-title"> Inquiries Confirmed: {{ ConfirmInquiry }}</h5>
                                <a href="{% url 'invoice:invoices' %}" class="btn btn-primary btn-lg">View inquiries</a>
                            </div>
                        </div>
                        <div class="card mb-5">
                            <h5 class="card-header">Demurrage Invoices</h5>
                            <div class="card-body">
                                <h5 class="card-title">Total Number of Demurrage Invoices: {{ Demurrage_invoices }}</h5>
                                <h5 class="card-title">Total Number of Demurrage Final
                                    Invoices: {{ Demo_F_invoices }}</h5>
                                <a href="{% url 'invoice:demo-invoices' %}" class="btn btn-primary btn-lg">View
                                    Demurrage Invoices</a>
                            </div>
                        </div>
                        <div class="card mb-5">
                            <h5 class="card-header">Clients</h5>
                            <div class="card-body">
                                <h5 class="card-title">Total Number of Clients: {{ clients }}</h5>
                                <a href="{% url 'client:client_list' %}" class="btn btn-primary btn-lg">View Clients</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="p-5">
                    <img class=img-fluid src="{% static 'invoice/assets/img/empty.svg' %}" alt="Skolo Online Learning">
                </div>
            </div>
        </div>
    </div>




{% endblock %}
