{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    {% if demurrage.shipment.HBL_number %}
        <title>{{ demurrage.shipment.HBL_number }}</title>
    {% else %}
        <title>{{ demurrage.shipment.shipment_number }}</title>
    {% endif %}

    <style>

        .container {
            margin-left: 50px;
            margin-right: 50px;

        }

        table {
            caption-side: bottom;
            border-collapse: collapse;
            font-family: system-ui;
        }

        th {
            text-align: inherit;
            text-align: -webkit-match-parent;
        }

        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
        }

        .table {
            --bs-table-bg: transparent;
            --bs-table-striped-color: #495057;
            --bs-table-striped-bg: #f8f9fa;
            --bs-table-active-color: #495057;
            --bs-table-active-bg: #f8f9fa;
            --bs-table-hover-color: #495057;
            --bs-table-hover-bg: #f8f9fa;
            width: 100%;
            margin-bottom: 1rem;
            color: #495057;
            vertical-align: top;
            border-color: #eff2f7;
        }

        .table > :not(caption) > * > * {
            padding: 0.75rem 0.75rem;
            background-color: var(--bs-table-bg);
            background-image: -webkit-gradient(linear, right top, right bottom, from(var(--bs-table-accent-bg)), to(var(--bs-table-accent-bg)));
            background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
            border-bottom-width: 0px;
        }

        .table > tbody {
            vertical-align: inherit;
        }

        .table > thead {
            vertical-align: bottom;
        }

        .table > :not(:last-child) > :last-child > * {
            border-bottom-color: #eff2f7;
        }

        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .d-table {
            display: table !important;
        }

        .table th {
            font-weight: 600;
        }


        .page-banner-area {
            width: 100%;
            background: url("http://localhost:8000/myproject/static/registrations/dialog/img/banner.jpg") !important;
        }
    </style>

</head>
<body>
<div id="printableDIV" style="width:90%;margin: 10mm auto; border: 1px solid #ccc;">
    <div class="headerPDF" style="width:100%;  padding-inline:10mm ">
        <table dir="rtl" style="width: 100%; font-family: Tahoma; font-size: 11pt;" border="0" cellspacing="0"
               cellpadding="3">
            <tbody>
            <tr>
                <td style="width: 30%;" rowspan="3"><img
                        src="D:\main project\project\myproject\static\registrations\dialog\img/huyar.jpg"
                        style="width: 100%; max-width: 180px "/></td>
                <td style="width: 40%; font-size: 14pt;" rowspan="3" align="center" valign="middle"><strong>
                    {% if demurrage.demo_F %}
                        صورتحساب قطعی دموراژ
                    {% else %}
                        صورتحساب مقطعی دموراژ (علی الحساب )
                    {% endif %}
                </strong>
                </td>
            </tr>
            <tr>
                <td style="width: 15%;" align="center">شماره صورتحساب:</td>
                <td style="width: 15%;" align="center">{{ demurrage.number }}</td>
            </tr>

            <tr>
                <td style="width: 15%; " align="center">تاریخ:</td>
                <td style="width: 15%;" align="center">{{ demurrage.Jpublish }}</td>
            </tr>
            </tbody>
        </table>
        <table dir="rtl" style="width: 100%; font-family: Tahoma; font-size: 10pt;" border="0" cellspacing="0"
               cellpadding="5">
            <tbody>
            <tr>
                <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                    colspan="8"><strong>مشخصات شرکت حمل</strong></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid #000;" align="right">نام شخص حقیقی/حقوقی:</td>
                <td colspan="3">شرکت حمل ونقل بین المللی هویار ترابر</td>
                <td align="right">شماره اقتصادی:</td>
                <td align="right"></td>
                <td align="left">شماره ثبت:</td>
                <td style="border-left: 1px solid #000;" align="right"></td>
            </tr>
            <tr>
                <td style="width: 15%; border-right: 1px solid #000;" align="right">استان:</td>
                <td style="width: 9%;" align="right">تهران</td>
                <td style="width: 6%;" align="right">شهرستان:</td>
                <td style="width: 9%;" align="right">تهران</td>
                <td style="width: 15%;" align="right">کدپستی 10 رقمی:</td>
                <td style="width: 15%;" align="right">151566711</td>
                <td style="width: 10%;" align="right">شماره نمابر:</td>
                <td style="width: 20%; border-left: 1px solid #000;" align="right">021-88176791</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid #000;" align="right">نشانی کامل:</td>
                <td colspan="5" align="right">تهران،میدان آرژانتین،خیابان بیهقی،خیابان 14 شرقی،پلاک 15 ،طبقه همکف
                </td>
                <td align="rightright">شماره تلفن:</td>
                <td style="border-left: 1px solid #000;" align="right">021-88171010 (10 خط)</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                    colspan="8"><strong>مشخصات مشتری</strong></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid #000;" align="right">نام شخص حقیقی/حقوقی:</td>
                <td colspan="3">{{ demurrage.shipment.reference_number.companyName.companyName }}</td>
                <td align="right">شماره اقتصادی:</td>
                <td align="right">{{ demurrage.shipment.reference_number.companyName.economic_code }}</td>
                <td align="right">آیدی ثبت در سیستم:</td>
                <td style="border-left: 1px solid #000;"
                    align="right">{{ demurrage.shipment.reference_number.companyName.uniqueId }}</td>
            </tr>
            <tr>

                <td style="border-right: 1px solid #000;" align="right">شماره تلفن:</td>
                <td align="right">{{ demurrage.shipment.reference_number.companyName.telephoneNumber }}</td>
                <td align="right">ایمیل:</td>
                <td align="right">{{ demurrage.shipment.reference_number.companyName.email }}</td>
                <td align="right">کدپستی 10 رقمی:</td>
                <td align="right">{{ demurrage.shipment.reference_number.companyName.postalCode }}</td>
                <td align="right">شناسه ملی:</td>
                <td style="border-left: 1px solid #000;"
                    align="right">{{ demurrage.shipment.reference_number.companyName.national_id }}</td>
            </tr>
            <tr>

                <td style="border-right: 1px solid #000;" align="right">نشانی کامل:</td>
                <td colspan="5"
                    align="right">{{ demurrage.shipment.reference_number.companyName.addressLine1 }}</td>
                <td align="right"></td>
                <td style="border-left: 1px solid #000;" align="right"></td>
            </tr>

            <tr>
                <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                    colspan="8"><strong>مشخصات محموله</strong></td>
            </tr>
            <tr>

                <td style="width: 15%; border-right: 1px solid #000;" align="right">شماره سفر:</td>
                <td style="width: 9%;" align="right">{{ demurrage.shipment.shipment_number }}</td>
                <td style="width: 15%;" align="right">شماره بارنامه MBL:</td>
                <td style="width: 9%;" align="right">{{ demurrage.shipment.MBL_number }}</td>
                <td style="width: 15%;" align="right">شماره بارنامه HBL:</td>
                <td style="width: 15%;" align="right">{{ demurrage.shipment.HBL_number }}</td>
                <td style="width: 10%;" align="right">شماره کانتینر:</td>
                <td style="border-left: 1px solid #000;"
                    align="right">{{ demurrage.shipment.container_number.0 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="main" style="margin:0 10mm 0 10mm">
        <table dir="rtl" style="width: 100%; border-collapse: collapse; font-family: Tahoma; font-size: 10pt;"
               border="1" cellspacing="0" cellpadding="5">
            <tbody>
            <tr>
                <td style="font-size: 11pt;" colspan="11" align="center"><strong>مشخصات کالا یا خدمات مورد
                    معامله</strong></td>
            </tr>
            <tr style="background-color:#dbdbda;">
                <td style="width: 5%;" align="center"><strong>ردیف</strong></td>
                <td style="width: 10%;" align="center"><strong>شماره کانتینر</strong></td>
                <td style="width: 10%;" align="center"><strong>سایز و نوع</strong></td>
                <td style="width: 10%;" align="center"><strong>از تاریخ</strong></td>
                <td style="width: 10%;" align="center"><strong>تا تاریخ</strong></td>
                <td style="width: 10%;" align="center"><strong>تعداد کل روزها</strong></td>
                <td style="width: 5%;" align="center"><strong>زمان مجاز تخلیه </strong></td>
                <td style="width: 10%;" align="center"><strong>روزهای محاسبه شده</strong></td>
                <td style="width: 10%;" align="center"><strong>مبلغ دموراژ</strong></td>
                <td style="width: 10%;" align="center"><strong>مبلغ خسارت</strong></td>
                <td style="width: 10%;" align="center"><strong>وضعیت برگشت کانتینر</strong></td>
            </tr>
            {% for cont in container %}
                <tr>
                    <td align="center">{{ forloop.counter }}</td>
                    <td align="center">{{ cont.container_number }}</td>
                    <td align="center">{{ cont.size }}</td>
                    <td align="center">{{ cont.discharge_time }}</td>
                    <td align="center">{{ cont.return_time }}</td>
                    <td align="center">{{ cont.free_time }}</td>
                    <td align="center">
                        {% if cont.total_demurrage_time > 0 %}{{ cont.total_demurrage_time }}{% else %}
                            0{% endif %}
                    </td>
                    <td align="center">{% if cont.demurrage_time > 0 %}{{ cont.demurrage_time }}{% else %}
                        0{% endif %}
                    </td>
                    <td align="center">{{ cont.Demurrage_amount }}</td>
                    {% if demurrage.demo_F %}
                        <td align="center">{{ cont.damage_amount }}</td>
                    {% else %}
                        <td align="center">______</td>
                    {% endif %}
                    {% if demurrage.demo_F %}
                        <td align="center" style="color: rgba(0,0,0,0.53)">تحویل داده شده است.</td>
                    {% else %}
                        {% if cont.is_return %}
                            <td align="center" style="color: rgba(0,0,0,0.53)">تحویل داده شده است.</td>
                        {% else %}
                            <td align="center" style="color: #e56f6f">تحویل داده نشده است.</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            <tr style="background-color: rgba(229,229,192,0.62);">
                <td colspan="1" align="center"><strong>سپرده نقدی: </strong></td>
                {% if demurrage.deposit %}
                    <td align="center"><strong>{{ demurrage.deposit }}</strong></td>
                {% else %}
                    <td align="center"><strong>______ </strong></td>
                {% endif %}
                <td align="center"><strong>پرداختی مشتری:</strong></td>
                {% if demurrage.payment %}
                    <td align="center"><strong>{{ demurrage.payment }}</strong></td>
                {% else %}
                    <td align="center"><strong>______ </strong></td>
                {% endif %}
                <td colspan="2" align="center"><strong>جمع صورتحساب دموراژ و خسارت :</strong></td>
                <td align="center"><strong>{{ invoiceTotal }}</strong></td>
                <td align="center"><strong>مالیات بر ارزش افزوده :</strong></td>
                <td align="center"><strong>{{ TaxTotal }}</strong></td>
                <td align="center"><strong>جمع کل :</strong></td>
                <td align="center"><strong>{{ Total }}</strong></td>
            </tr>
            </tbody>
        </table>
        <p dir="rtl" style="font-family:Tahoma; font-size:11pt;"><strong>نحوه پرداخت: </strong><br>
            واریز به شماره حساب 0106848123008 ﻧﺰد ﺑﺎﻧﮏ ﻣﻠﯽ ﺑﻨﺎم ﺷﺮﮐﺖ ﺣﻤﻞ و ﻧﻘﻞ ﺑﯿﻦ اﻟﻤﻠﻠﯽ ﻫﻮﯾﺎر ﺗﺮاﺑﺮو ﯾﺎ ﺷﻤﺎره ﺣﺴﺎب
            209810013996272 ﺷﻤﺎره ﺷﺒﺎ: IR85/0570/0209/8100/1399/6271/02 ﺑﺎﻧﮏ ﭘﺎﺳﺎرﮔﺎد
            <br>پرداﺧﺖ از ﻃﺮﯾﻖ دﺳﺘﮕﺎه ﮐﺎرﺗﺨﻮان ﺷﻤﺎره ﺣﺴﺎب ﻓﻮق(ملی) در دﻓﺘﺮ ﺗﻬﺮان اﯾﻦ ﺷﺮﮐﺖ( ﻫﻮﯾﺎر ﺗﺮاﺑﺮ)</p>
        <table dir="rtl" style="width: 100%; font-family: Tahoma; font-size: 11pt;" border="0" cellspacing="0"
               cellpadding="0">
        </table>
    </div>
</div>
</div>
</body>
</html>
