{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block css %}

    <link href="{% static 'invoice/assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Demurrage-Invoices</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'invoice:create-demo-invoice' %}">
                    <button type="button" class="btn btn-primary">Add New Demurrage-Invoice</button>
                </a>
            </div>
        </div>
    </div>

    <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
    <form method="get">
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.number.label_tag }}
                {% render_field filter.form.number class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.demo_F.label_tag }}
                {% render_field filter.form.demo_F class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.status.label_tag }}
                {% render_field filter.form.status class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label>shipment number</label>
                {% render_field filter.form.shipment__shipment_number class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label>MBL number</label>
                {% render_field filter.form.shipment__MBL_number class="form-control" %}</div>
            <div class="form-group col-sm-4 col-md-3">
                <label>HBL number</label>
                {% render_field filter.form.shipment__HBL_number class="form-control" %}</div>
            <div class="form-group col-sm-4 col-md-3">
                <label>type of shipment:</label>

                {% render_field filter.form.shipment__kind_shipment class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.date_created.label_tag }}
                {% render_field filter.form.date_created class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.shipment__container_number.label_tag }}
                {% render_field filter.form.shipment__container_number class="form-control" %}
            </div>
             <div class="form-group col-sm-4 col-md-3">
                <label>Has demurrage invoice paid ?</label>
                {% render_field filter.form.demo_invoice_payment class="form-control" %}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> search
        </button>
    </form>
    <br>
    <br>
    <br>
    {% if filter.qs|length > 0 %}

        <div style="text-align: center" class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>demurrage invoice number</th>
                    <th>shipment number</th>
                    <th>MBL number</th>
                    <th>HBL number</th>
                    <th>company name</th>
                    <th>Date Created</th>
                    <th>container count</th>
                    <th>Demurrage Status</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>

                {% for demo_invoice in filter.qs %}
                    <tr>
                        <td>{{ demo_invoice.number }}</td>
                        <td>{{ demo_invoice.shipment.shipment_number }}</td>
                        <td>{{ demo_invoice.shipment.MBL_number }}</td>
                        <td>{{ demo_invoice.shipment.HBL_number }}</td>
                        <td>{{ demo_invoice.shipment.reference_number.companyName.companyName }}</td>
                        <td style="direction: rtl">{{ demo_invoice.date_created }}</td>
                        <td>{{ demo_invoice.demo.count }}</td>
                        <td>{{ demo_invoice.status }}</td>
                        <td>
                            <a onclick="return confirm('Are you sure you want to delete this?')"
                               href="{% url 'invoice:delete-demo-invoice' demo_invoice.slug %}">
                                <button class="btn btn-danger"> DELETE</button>
                            </a>
                            <script>$(document).on('click', '.confirm-delete', function () {
                                return confirm('Are you sure you want to delete this?');
                            })</script>
                        </td>
                        <td>
                            <a href="{% url 'invoice:create-build-demo-invoice' demo_invoice.slug %}">
                                <button class="btn btn-primary"> VIEW</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <h3>There is no content to display.Start by Adding First Invoice</h3><br>
                <img class=img-fluid src="{% static 'invoice/assets/img/empty.svg' %}" alt="Skolo Online Learning">
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    {% endif %}

{% endblock %}
