
{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block css %}

    <link href="{% static 'invoice/assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Inquiry</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'invoice:create-invoice' %}">
                    <button type="button" class="btn btn-primary">Add New Inquiry</button>
                </a>
            </div>
        </div>
    </div>

    <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
    <form method="get">
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.number.label_tag }}
                {% render_field filter.form.number class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.paymentTerms.label_tag }}
                {% render_field filter.form.paymentTerms class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.status.label_tag }}
                {% render_field filter.form.status class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.client__companyName.label_tag }}
                {% render_field filter.form.client__companyName class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.client__email.label_tag }}
                {% render_field filter.form.client__email class="form-control" %}</div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.client__national_id.label_tag }}
                {% render_field filter.form.client__national_id class="form-control" %}</div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.client__lastName.label_tag }}

                {% render_field filter.form.client__lastName class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.date_created.label_tag }}
                {% render_field filter.form.date_created class="form-control" %}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> search
        </button>
    </form>
    <br>
    <br>
    <br>
    {% if filter.qs|length > 0 %}

        <div style="text-align: center" class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>invoice number</th>
                    <th>Title</th>
                    <th>Client name</th>
                    <th>Phone Number</th>
                    <th>Due Date</th>
                    <th>Invoice Status</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>

                {% for invoice in filter.qs %}
                    <tr>
                         <td>{{ invoice.number }}</td>
                        <td>{{ invoice.title }}</td>
                        <td>{{ invoice.client.companyName }}</td>
                        <td>{{ invoice.client.phoneNumber }}</td>
                        <td>{{ invoice.dueDate }}</td>
                        <td>{{ invoice.status }}</td>
                        <td>
                            <a onclick="return confirm('Are you sure you want to delete this?')"
                               href="{% url 'invoice:delete-invoice' invoice.slug %}">
                                <button class="btn btn-danger"> DELETE</button>
                            </a>
                            <script>$(document).on('click', '.confirm-delete', function () {
                                return confirm('Are you sure you want to delete this?');
                            })</script>
                        </td>
                        <td>
                            <a href="{% url 'invoice:create-build-invoice' invoice.slug %}">
                                <button class="btn btn-primary"> VIEW</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <h3>There is no content to display.Start by Adding First Inquiry</h3><br>
                <img class=img-fluid src="{% static 'invoice/assets/img/empty.svg' %}" alt="Skolo Online Learning">
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    {% endif %}

{% endblock %}
