{% load  static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Skolo Invoice</title>

    <style>

        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: system-ui;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 5px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .invoice-box.rtl {
            direction: rtl;
            font-family: system-ui;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>


<body>

<div class="invoice-box">
    <div class="container">
        <h1>Inquery:to {{ invoice.client.companyName }}</h1>
        <br>
        <hr>
        <br>
        <br>

        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td><img
                                    src="{% static "registrations\dialog\img\huyar.jpg" %}"
                                    style="width: 100%; max-width: 180px"/></td>
                            <td style="text-align: right;">
                                <img src="{% static "registrations\dialog\img\QR.jpeg" %}"
                                     style="width: 100%; max-width: 100px"/>
                                <br/>
                                <br/>
                                Invoice #: {{ invoice.number }}<br/>
                                Created: {{ invoice.date_created|date }}<br/>
                                expire: {{ invoice.dueDate }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>company name: {{ p_settings.0.companyName }}
                                <br/>
                                address: {{ p_settings.0.addressLine }}
                                <br/>
                                zipe code: {{ p_settings.0.postalCode }} <br/>
                                national ID: {{ p_settings.0.national_id }} <br/>
                                full name: {{ p_settings.0.sales.get_full_name }} <br/>
                                number: {{ p_settings.0.sales.phone_number }} <br/>
                                email: {{ p_settings.0.sales.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                company name: {{ invoice.client.companyName }}<br/>
                                address :{{ invoice.client.addressLine1 }}<br/>
                                zipe code : {{ invoice.client.postalCode }}<br/>
                                number: {{ invoice.client.phoneNumber }}<br/>
                                email {{ invoice.client.email }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr class="heading">
                <td style="text-align: left">Item</td>
                <td style="text-align: center">Quantity</td>
                <td style="text-align: center">Price</td>
            </tr>

            {% for product in products %}
                <tr class="item">
                    <td style="text-align: left">{{ product.title }}</td>
                    <td style="text-align: center">{{ product.quantity }}</td>
                    <td style="text-align: center">{{ product.currency }}</td>
                </tr>
            {% endfor %}




            <tr style="text-align: center" class="total">
                <td></td>

                <td>Total: {{ invoiceTotal }}</td>
            </tr>

            <tr>
                <td>
                    <p>
                        {{ invoice.notes }}
                    </p>
                </td>
            </tr>


        </table>


    </div>
</body>
</html>
