{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>demurrage {{ demurrage.shipment.shipment_number }}</title>

    <style>

        @font-face {
            font-family: 'vazir';
            font-weight: 300;
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Thin.eot);
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Thin.ttf),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Thin.woff),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Thin.woff2);
        }

        @font-face {
            font-family: 'vazir';
            font-weight: 400;
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Light.eot);
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Light.ttf),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Light.woff),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Light.woff2);
        }

        @font-face {
            font-family: 'vazir';
            font-weight: 500;
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Regular.eot);
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Regular.ttf),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Regular.woff),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Regular.woff2);
        }

        @font-face {
            font-family: 'Tanha';
            src: url('/../../static/admin/fonts/Tanha.woff');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'vazir';
            font-weight: 700;
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Bold.eot);
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Bold.ttf),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Bold.woff),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Bold.woff2);
        }

        @font-face {
            font-family: 'vazir';
            font-weight: 800;
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Black.eot);
            src: url(/../../static/registrations/dialog/fonts/vazir/Vazir-Black.ttf),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Black.woff),
            url(/../../static/registrations/dialog/fonts/vazir/Vazir-Black.woff2);
        }

        body {
            margin: 0;
        }

        body * {
            font-family: vazir;
        }

        .footerPDF, .headerPDF {
            box-sizing: border-box;
        }

        thead.report-header {
            display: none;
            visibility: hidden;
            opacity: 0;
        }

        tfoot.report-footer {
            display: none;
            visibility: hidden;
            opacity: 0;
        }

        button, input[type=submit], input[type=reset], input[type=button], .button {
            padding-bottom: 1px;
            padding-right: 6px;
            padding-left: 6px;
            vertical-align: middle;
        }

        button, input[type=submit], input[type=reset], input[type=button], .button, .buttons .button, .yui-button button {
            padding: 5px 10px !important;
            margin: 2px;
            color: #262627;
            text-align: center;
            vertical-align: middle;
            background-color: #ebebea;
            border-radius: 0px;
            cursor: pointer;
        }

        @page {
            size: landscape;
            margin: 0mm;
        }

        @media print {
            html, body {
                width: 100%;
            }

            body * {
                visibility: hidden;
            }

            #printableDIV, #printableDIV * {
                visibility: visible;
            }

            #ContentContainer {
                margin: 0 !important;
                padding: 0 !important;
            }

            span {
                font-family: inherit !important;
            }

            #printButton {
                display: none;
            }

            #printableDIV {
                width: 100% !important;
                margin: 10px !important;
                padding: 0 !important;
                border: none !important;
                position: relative;
                left: 0;
                top: 0;
            }

            table.report-container {
                page-break-after: always;
            }

            .report-content-cell {
                height: 100%;
                vertical-align: top;
            }

            thead.report-header {
                display: table-header-group;
            }

            tfoot.report-footer {
                display: table-footer-group;
            }

        }
    </style>
</head>


<body>
<td><img
        src="{% static "registrations\dialog\img\banner.jpg" %}"
        style="width: 90%; margin-left:5%;margin-right: 5%"/></td>
<div style="direction:rtl">

    <div id="printableDIV" style="width:90%;margin: 10mm auto; border: 1px solid #ccc;">
        <div class="headerPDF" style="width:100%;  padding-inline:10mm ">
            <table dir="rtl" style="width: 100%; font-family: vazir; font-size: 11pt;" border="0" cellspacing="0"
                   cellpadding="3">
                <tbody>
                <tr>
                    <td style="width: 30%;" rowspan="3"><img
                            src="{% static "registrations\dialog\img\huyar.jpg" %}"
                            style="width: 100%; max-width: 150px "/></td>
                    <td style="width: 40%; font-size: 14pt;" rowspan="3" align="center" valign="middle"><strong>
                        {% if demurrage.demo_F %}
                            صورتحساب قطعی دموراژ
                        {% else %}
                            صورتحساب مقطعی دموراژ (علی الحساب )
                        {% endif %}
                    </strong>
                    </td>
                </tr>
                <tr>
                    <td style="width: 15%;" align="center">شماره صورتحساب:</td>
                    <td style="width: 15%;" align="center">{{ demurrage.number }}</td>
                </tr>

                <tr>
                    <td style="width: 15%; " align="center">تاریخ:</td>
                    <td style="width: 15%;" align="center">{{ demurrage.Jpublish }}</td>
                </tr>
                </tbody>
            </table>
            <table dir="rtl" style="width: 100%; font-family: vazir; font-size: 10pt;" border="0" cellspacing="0"
                   cellpadding="5">
                <tbody>
                <tr>
                    <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                        colspan="8"><strong>مشخصات شرکت حمل</strong></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid #000;" align="right">نام شخص حقیقی/حقوقی:</td>
                    <td colspan="3">شرکت حمل ونقل بین المللی هویار ترابر</td>
                    <td align="left">شماره اقتصادی:</td>
                    <td align="right"></td>
                    <td align="left">شماره ثبت:</td>
                    <td style="border-left: 1px solid #000;" align="right"></td>
                </tr>
                <tr>
                    <td style="width: 15%; border-right: 1px solid #000;" align="right">استان:</td>
                    <td style="width: 9%;" align="right">تهران</td>
                    <td style="width: 6%;" align="right">شهرستان:</td>
                    <td style="width: 9%;" align="right">تهران</td>
                    <td style="width: 15%;" align="left">کدپستی 10 رقمی:</td>
                    <td style="width: 15%;" align="right">151566711</td>
                    <td style="width: 10%;" align="left">شماره نمابر:</td>
                    <td style="width: 20%; border-left: 1px solid #000;" align="right">021-88176791</td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid #000;" align="right">نشانی کامل:</td>
                    <td colspan="5" align="right">تهران،میدان آرژانتین،خیابان بیهقی،خیابان 14 شرقی،پلاک 15 ،طبقه همکف
                    </td>
                    <td align="left">شماره تلفن:</td>
                    <td style="border-left: 1px solid #000;" align="right">021-88171010 (10 خط)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                        colspan="8"><strong>مشخصات مشتری</strong></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid #000;" align="right">نام شخص حقیقی/حقوقی:</td>
                    <td colspan="3">{{ demurrage.shipment.reference_number.companyName.companyName }}</td>
                    <td align="left">شماره اقتصادی:</td>
                    <td align="right">{{ demurrage.shipment.reference_number.companyName.economic_code }}</td>
                    <td align="left">آیدی ثبت در سیستم:</td>
                    <td style="border-left: 1px solid #000;"
                        align="right">{{ demurrage.shipment.reference_number.companyName.uniqueId }}</td>
                </tr>
                <tr>

                    <td style="border-right: 1px solid #000;" align="right">شماره تلفن:</td>
                    <td align="right">{{ demurrage.shipment.reference_number.companyName.telephoneNumber }}</td>
                    <td align="right">ایمیل:</td>
                    <td align="right">{{ demurrage.shipment.reference_number.companyName.email }}</td>
                    <td align="left">کدپستی 10 رقمی:</td>
                    <td align="right">{{ demurrage.shipment.reference_number.companyName.postalCode }}</td>
                    <td align="left">شناسه ملی:</td>
                    <td style="border-left: 1px solid #000;"
                        align="right">{{ demurrage.shipment.reference_number.companyName.national_id }}</td>
                </tr>
                <tr>

                    <td style="border-right: 1px solid #000;" align="right">نشانی کامل:</td>
                    <td colspan="5"
                        align="right">{{ demurrage.shipment.reference_number.companyName.addressLine1 }}</td>
                    <td align="left"></td>
                    <td style="border-left: 1px solid #000;" align="right"></td>
                </tr>

                <tr>
                    <td style="border: 1px solid #000000; background-color: #dbdbda; text-align: center; font-size: 11pt;"
                        colspan="8"><strong>مشخصات محموله</strong></td>
                </tr>
                <tr>

                    <td style="width: 15%; border-right: 1px solid #000;" align="right">شماره سفر:</td>
                    <td style="width: 9%;" align="right">{{ demurrage.shipment.shipment_number }}</td>
                    <td style="width: 15%;" align="right">شماره بارنامه MBL:</td>
                    <td style="width: 9%;" align="center">{{ demurrage.shipment.MBL_number }}</td>
                    <td style="width: 15%;" align="left">شماره بارنامه MBL:</td>
                    <td style="width: 15%;" align="center">{{ demurrage.shipment.HBL_number }}</td>
                    <td style="width: 10%;" align="left">شماره کانتینر:</td>
                    <td style="border-left: 1px solid #000;"
                        align="center">{{ demurrage.shipment.container_number.0 }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="main" style="margin:0 10mm 0 10mm">
            <table dir="rtl" style="width: 100%; border-collapse: collapse; font-family: vazir; font-size: 10pt;"
                   border="1" cellspacing="0" cellpadding="5">
                <tbody>
                <tr>
                    <td style="font-size: 11pt;" colspan="11" align="center"><strong>مشخصات کالا یا خدمات مورد
                        معامله</strong></td>
                </tr>
                <tr style="background-color:#dbdbda;">
                    <td style="width: 5%;" align="center"><strong>ردیف</strong></td>
                    <td style="width: 10%;" align="center"><strong>شماره کانتینر</strong></td>
                    <td style="width: 10%;" align="center"><strong>سایز و نوع</strong></td>
                    <td style="width: 10%;" align="center"><strong>از تاریخ</strong></td>
                    <td style="width: 10%;" align="center"><strong>تا تاریخ</strong></td>
                    <td style="width: 10%;" align="center"><strong>تعداد کل روزها</strong></td>
                    <td style="width: 5%;" align="center"><strong>زمان مجاز تخلیه </strong></td>
                    <td style="width: 10%;" align="center"><strong>روزهای محاسبه شده</strong></td>
                    <td style="width: 10%;" align="center"><strong>مبلغ دموراژ</strong></td>
                    <td style="width: 10%;" align="center"><strong>مبلغ خسارت</strong></td>
                    <td style="width: 10%;" align="center"><strong>وضعیت برگشت کانتینر</strong></td>
                </tr>
                {% for cont in container %}
                    <tr>
                        <td align="center">{{ forloop.counter }}</td>
                        <td align="center">{{ cont.container_number }}</td>
                        <td align="center">{{ cont.size }}</td>
                        <td align="center">{{ cont.discharge_time }}</td>
                        <td align="center">{{ cont.return_time }}</td>
                        <td align="center">{{ cont.free_time }}</td>
                        <td align="center">
                            {% if cont.total_demurrage_time > 0 %}{{ cont.total_demurrage_time }}{% else %}
                                0{% endif %}
                        </td>
                        <td align="center">{% if cont.demurrage_time > 0 %}{{ cont.demurrage_time }}{% else %}
                            0{% endif %}
                        </td>
                        <td align="center">{{ cont.Demurrage_amount }}</td>
                        {% if demurrage.demo_F %}
                            <td align="center">{{ cont.damage_amount }}</td>
                        {% else %}
                            <td align="center">______</td>
                        {% endif %}
                        {% if demurrage.demo_F %}
                            <td align="center" style="color: rgba(0,0,0,0.53)">تحویل داده شده است.</td>
                        {% else %}
                            {% if cont.is_return %}
                                <td align="center" style="color: rgba(0,0,0,0.53)">تحویل داده شده است.</td>
                            {% else %}
                                <td align="center" style="color: #e56f6f">تحویل داده نشده است.</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr style="background-color: rgba(229,229,192,0.62);">
                    <td colspan="1" align="center"><strong>سپرده نقدی: </strong></td>
                    {% if demurrage.deposit %}
                        <td align="center"><strong>{{ demurrage.deposit }}</strong></td>
                    {% else %}
                        <td align="center"><strong>______ </strong></td>
                    {% endif %}
                    <td align="center"><strong>پرداختی مشتری:</strong></td>
                    {% if demurrage.payment %}
                        <td align="center"><strong>{{ demurrage.payment }}</strong></td>
                    {% else %}
                        <td align="center"><strong>______ </strong></td>
                    {% endif %}
                    <td colspan="2" align="center"><strong>جمع صورتحساب دموراژ و خسارت :</strong></td>
                    <td align="center"><strong>{{ invoiceTotal }}</strong></td>
                    <td align="center"><strong>مالیات بر ارزش افزوده :</strong></td>
                    <td align="center"><strong>{{ TaxTotal }}</strong></td>
                    <td align="center"><strong>جمع کل :</strong></td>
                    <td align="center"><strong>{{ Total }}</strong></td>
                </tr>
                </tbody>
            </table>
            <p dir="rtl" style="font-family:vazir; font-size:11pt;"><strong>نحوه پرداخت: </strong><br>
                واریز به شماره حساب 0106848123008 ﻧﺰد ﺑﺎﻧﮏ ﻣﻠﯽ ﺑﻨﺎم ﺷﺮﮐﺖ ﺣﻤﻞ و ﻧﻘﻞ ﺑﯿﻦ اﻟﻤﻠﻠﯽ ﻫﻮﯾﺎر ﺗﺮاﺑﺮو ﯾﺎ ﺷﻤﺎره ﺣﺴﺎب
                209810013996272 ﺷﻤﺎره ﺷﺒﺎ: IR85/0570/0209/8100/1399/6271/02 ﺑﺎﻧﮏ ﭘﺎﺳﺎرﮔﺎد
                <br>پرداﺧﺖ از ﻃﺮﯾﻖ دﺳﺘﮕﺎه ﮐﺎرﺗﺨﻮان ﺷﻤﺎره ﺣﺴﺎب ﻓﻮق(ملی) در دﻓﺘﺮ ﺗﻬﺮان اﯾﻦ ﺷﺮﮐﺖ( ﻫﻮﯾﺎر ﺗﺮاﺑﺮ)</p>
            <table dir="rtl" style="width: 100%; font-family: vazir; font-size: 11pt;" border="0" cellspacing="0"
                   cellpadding="0">
            </table>
        </div>
    </div>
</div>
</body>

</html>