<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ p_settings.clientName }}</title>

    <style>

        .container {
            margin-left: 50px;
            margin-right: 50px;

        }

        table {
            caption-side: bottom;
            border-collapse: collapse;
            font-family: system-ui;
        }

        th {
            text-align: inherit;
            text-align: -webkit-match-parent;
        }

        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
        }

        .table {
            --bs-table-bg: transparent;
            --bs-table-striped-color: #495057;
            --bs-table-striped-bg: #f8f9fa;
            --bs-table-active-color: #495057;
            --bs-table-active-bg: #f8f9fa;
            --bs-table-hover-color: #495057;
            --bs-table-hover-bg: #f8f9fa;
            width: 100%;
            margin-bottom: 1rem;
            color: #495057;
            vertical-align: top;
            border-color: #eff2f7;
        }

        .table > :not(caption) > * > * {
            padding: 0.75rem 0.75rem;
            background-color: var(--bs-table-bg);
            background-image: -webkit-gradient(linear, right top, right bottom, from(var(--bs-table-accent-bg)), to(var(--bs-table-accent-bg)));
            background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
            border-bottom-width: 0px;
        }

        .table > tbody {
            vertical-align: inherit;
        }

        .table > thead {
            vertical-align: bottom;
        }

        .table > :not(:last-child) > :last-child > * {
            border-bottom-color: #eff2f7;
        }

        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .d-table {
            display: table !important;
        }

        .table th {
            font-weight: 600;
        }


    </style>
</head>

<body>

<div class="container">
    <h1>Inquery:from {{ p_settings.0.companyName }} to {{ invoice.client.companyName }}</h1>
    <br>
    <hr>
    <br>
    <br>


    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td><img
                         src="D:\main project\project\myproject\static\registrations\dialog\img/huyar.jpg"
                         style="padding-top:50px;width: 100%; max-width: 200px ;border-radius: 15px"/></td>
                <td style="text-align: right;">
                     <img src="D:\main project\project\myproject\static\registrations\dialog\img/QR.jpeg"
                         style="width: 100%; max-width: 100px"/>
                    <br/>
                    <br/>
                    Invoice #: {{ invoice.number }}<br/>
                    Created: {{ invoice.date_created|date }}<br/>
                    expire: {{ invoice.dueDate }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <br>


    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td><strong>company name: {{ p_settings.0.companyName }}</strong>
                    <br/>
                    address: {{ p_settings.0.addressLine }}
                    <br/>
                    zipe code: {{ p_settings.0.postalCode }} <br/>
                    national ID: {{ p_settings.0.national_id }} <br/>
                    full name: {{ p_settings.0.sales.get_full_name }} <br/>
                    number: {{ p_settings.0.sales.phone_number }} <br/>
                    email: {{ p_settings.0.sales.email }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong> company name: {{ invoice.client.companyName }}</strong><br/>
                    address :{{ invoice.client.addressLine1 }}<br/>
                    zipe code : {{ invoice.client.postalCode }}<br/>
                    number: {{ invoice.client.phoneNumber }}<br/>
                    email: {{ invoice.client.email }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <br>
    <br>
    <h1>Invoice Items</h1>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="heading">
                <td style="text-align: left">Item</td>
                <td style="text-align: center">Quantity</td>
                <td style="text-align: center">Price</td>
            </tr>
            </thead>


            <tbody>
            {% for product in products %}
                <tr class="item">
                    <td style="text-align: left">{{ product.title }}</td>
                    <td style="text-align: center">{{ product.quantity }}</td>
                    <td style="text-align: center">{{ product.currency }}</td>
                </tr>
            {% endfor %}
            <tr style="text-align: center" class="total">
                <td></td>
                <td></td>
                <td><strong> Total: {{ invoiceTotal }} </strong></td>
            </tr>
            </tbody>

        </table>
    </div>
    <br>
    <br>
    <p>
        {{ invoice.notes }}
    </p>
</div>
</body>
</html>
