{# Form used by both Add Task and Edit Task views #}
{% load widget_tweaks %}
<form action="" name="add_task" method="post">
    {% csrf_token %}
    <div class="mt-3">
        <div class="form-group">
            <strong for="id_title" name="title">عنوان کار</strong>
            <input type="text" class="form-control" id="id_title" name="title" placeholder="عنوان کار را وارد کنید"
                   value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
        </div>

        <div class="form-group">
            <strong for="id_note">شرح کار</strong>
            <textarea class="form-control" id="id_note" name="note" rows="1"
                      aria-describedby="inputNoteHelp">{% if form.note.value %}
                {{ form.note.value }}{% endif %}</textarea>
        </div>

        <div class="form-group">
            <strong for="id_due_date">زمان انجام کار</strong>
            <input type="date" class="form-control" id="id_due_date" name="due_date"
                   value="{% if form.due_date.value %}{{ form.due_date.value|date:"Y-m-d" }}{% endif %}">
        </div>
        <div class="form-group">
            <strong for="id_assigned_to">انجام دهنده</strong><br><br>
            {# See todo.forms.AddEditTaskForm #}
            {{ form.assigned_to|add_class:'form-control'}}
        </div>


        <input type="hidden" name="priority"
               value="{% if form.priority.value %}{{ form.priority.value }}{% else %}999{% endif %}" id="id_priority">
        <input type="hidden" name="task_list" value="{{ form.task_list.value }}" id="id_task_list">
        <input type="hidden" name="completed" class="form-check-input" type="checkbox"
               checked="{% if task.completed %}checked{% endif %}" id="id_completed">

        <p>
            <input type="submit" name="add_edit_task" value="ثبت" class="btn btn-primary waves-effect">
        </p>

    </div>
</form>
