<br>
  {% if list_slug != "mine" %}
    {% if view_completed %}
      <a href="{% url 'todo:list_detail' list_id list_slug %}" class="btn btn-sm btn-warning">دیدن کار های به مانده</a>

    {% else %}
      <a href="{% url 'todo:list_detail_completed' list_id list_slug %}" class="btn btn-sm btn-warning">دیدن کار های تکمیل شده</a>

    {% endif %}

    <a href="{% url 'todo:del_list' list_id list_slug %}" class="btn btn-sm btn-danger">پاک کردن این لیست</a>
  {% endif %}
