﻿{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>

    <!-- Header meta tags -->
    <meta charset="utf-8">
    <title>{% block title %} عنوان صفحه {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'registrations/dialog/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registrations/dialog/css/bootstrap-tour.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/styles.css' %}"/>
    <style>
        .select2 {
            width: 100% !important;
        }

        .select2-container {
            min-width: 0 !important;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'registrations/dialog/img/favicon/favicon.png' %}">

    <!-- Header scripts -->
    <script type="text/javascript" src="{% static 'registrations/dialog/js/modernizr-custom.js' %}"></script>
    {% block extrahead %}{% endblock extrahead %}
    {% block extra_js %}{% endblock extra_js %}
</head>

<body class="container-fluid">

<!-- loaders and alerts -->
<div class="page-loading">
    <svg class="circular" height="50" width="50">
        <circle class="path" cx="25" cy="25.2" r="19.9" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
    </svg>
</div>

<div id="wait" class="alert" style="display:none">
    <i class="la la-spinner la-spin"></i>بارگذاری ...
</div>

<div id="ChangesSaved" class="alert" style="display:none">
    <i class="la la-check"></i>ذخیره شد
</div>

<div id="lockscreen" style="display:none">
    <i class="la la-lock"></i>برند
    <p>اگر این برگه را رفرش کنید به برگه ورود منتقل خواهید شد.</p>
</div>


<!-- Main content -->
<section class="main_content row">


    <!-- Header and top nav -->
    <header id="top-navbar">

        <!-- Header top help panel -->
        <div id="top_panel" class="t#333">
            <div class="help-text b#fff clearfix">
                <div class="col-sm-3 shortcut-help">
                    <h4>کلیدهای میانبر</h4>
                    <p>M - منو</p>
                    <p>R - پنل سمت چپ</p>
                    <p>T - پنل بالا</p>
                    <p>N - حالت شب</p>
                    <p>B - حالت جعبه ای</p>
                    <p>V - منوی عمودی</p>
                    <p>H - منوی افقی</p>
                    <p><strong>LOCK</strong> - برای <i class="la la-lock t#333"></i> یا <i
                            class="la la-unlock t#333"></i></p>
                </div>

                <div class="col-sm-9 b#89c4f4 b%5">
                    <h4>توضیحات</h4>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br/>
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز<br/>
                    و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.<br/>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br/>
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز<br/>
                    و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
        <!-- /End Header top help panel -->


        <!-- Header buttons and navbar -->
        <nav id="first-navbar">

            <!-- mobile and tablet -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_1">
                    <span class="la la-bars la-2x"></span>
                </button>

                <!-- Sidebar toggle button -->
                <i id="sidebar_toggle" class="la la-outdent pull-left" data-toggle="tooltip" title="تغییر وضعیت منو"
                   data-placement="left"></i>
                <!-- Side panel toggle -->
                <i class="side_panel_toggle_1 la la-sliders pull-right visible-xs"></i>
            </div>

            <div class="collapse navbar-collapse" id="nav_1">

                <!-- Dropdown menu buttons -->
                <ul class="nav navbar-nav">

                    <!-- Mega menu -->
                    <li id="mega_menu_btn">
                        <a>
                            مگامنو <span class="caret"></span>
                        </a>
                        <div id="mega_menu">

                            <ul class="col-sm-3 link">
                                <h4>لینک متنی</h4>
                                <li><a href="#">تماس با ما</a></li>
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">محصولات ما</a></li>
                                <li><a href="#">وبلاگ</a></li>
                                <li><a href="#">دریافت اپلیکیشن</a></li>
                            </ul>

                            <ul class="col-sm-3 icon">
                                <h4>لینک به همراه آیکون</h4>
                                <li><a href="#"><i class="la la-user"></i>کاربران</a></li>
                                <li><a href="#"><i class="la la-forward"></i>محصولات</a></li>
                                <li><a href="#"><i class="la la-plus"></i>سود</a></li>
                                <li><a href="#"><i class="la la-commenting"></i>دیدگاه ها</a></li>
                                <li><a href="#"><i class="la la-server"></i>سرور</a></li>
                            </ul>

                            <ul class="col-sm-3 image">
                                <h4>لینک به همراه تصویر</h4>
                                <li><img src="img/other/avatar7.jpg" alt="بارگذاری نشد"><a href="#">جان</a></li>
                                <li><img src="img/other/avatar3.jpg" alt="بارگذاری نشد"><a href="#">جک</a></li>
                                <li><img src="img/other/avatar5.jpg" alt="بارگذاری نشد"><a href="#">جیم</a></li>
                                <li><img src="img/other/avatar4.jpg" alt="بارگذاری نشد"><a href="#">جیک</a></li>
                            </ul>

                            <ul class="col-sm-3 custom">
                                <h4>محتوای دلخواه</h4>
                                <img src="img/1.jpg" alt="بارگذاری نشد">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </ul>
                        </div>
                    </li>
                    <!-- /End Mega menu -->

                    <!-- Panel manager -->
                    <li id="find_panels">
                        <a data-toggle="dropdown">
                            مدیریت پنل <span class="caret"></span>
                        </a>
                        <ul id="all_panels" class="dropdown-menu b%9">
                            <!-- Fill with jQuery -->
                        </ul>
                    </li>
                    <!-- /End Panel manager -->

                    <!-- Scroll to -->
                    <li id="scroll_to_panels">
                        <a data-toggle="dropdown">
                            رفتن به <span class="caret"></span>
                        </a>
                        <ul id="panels_to_scroll" class="dropdown-menu b%9">
                            <div class="dropmenu-header">
                                با کلیک روی لینک های زیر به پنل آن هدایت می شوید.
                            </div>
                            <!-- Fill with jQuery -->
                        </ul>
                    </li>
                    <!-- /End Scroll to -->

                    <!-- Creat new -->
                    <li>
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-plus"></i> افزودن <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu b%9">
                            <li><a href="#"><i class="la la-barcode"></i> محصول</a></li>
                            <li><a href="#"><i class="la la-edit"></i> نوشته</a></li>
                            <li><a href="#"><i class="la la-user-plus"></i> کاربر</a></li>
                            <li><a href="#"><i class="la la-ticket"></i> تیکت</a></li>
                            <li><a href="#"><i class="la la-file"></i> فایل</a></li>
                            <li><a href="#"><i class="la la-plug"></i> افزونه</a></li>
                        </ul>
                    </li>
                    <!-- /End Creat new -->
                </ul>

                <!-- navbar right buttons -->
                <ul class="nav navbar-right">

                    <!-- Side panel toggle -->
                    <li class="side_panel_toggle_2 hidden-xs" data-placement="bottom" data-toggle="tooltip"
                        title="پنل کناری">
                        <i class="la la-sliders"></i>
                    </li>

                    <!-- profile dropdown menu -->
                    <li class="dropdown top-user-menu">
                        <a data-toggle="dropdown">
                            <i class="la la-user"></i>
                        </a>
                        <ul class="dropdown-menu b%9">
                            <div class="dropmenu-header">
                                {% if user.avatar %}
                                    <img class="img-rounded" src="{{ user.avatar.url }}" alt="بارگذاری نشد" data-lity>
                                {% endif %}
                                <div class="m-r-10">
                                    <h5>{{ user.get_full_name }}</h5>
                                    <span>حسابدار</span>
                                </div>
                            </div>
                            <li>
                                <a href="#">
                                    <i class="la la-user"></i>
                                    مشخصات
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-edit"></i>
                                    ویرایش نمایه
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-inbox"></i>
                                    صندوق ورودی
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-envelope"></i>
                                    پیام ها
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-cog"></i>
                                    تنظیمات حساب
                                </a>
                            </li>
                            <li>
                                <a href="user-login1.html">
                                    <i class="la la-sign-out"></i>
                                    خروج از سیستم
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Top hidden panel -->
                    <li id="top_panel_slide" data-placement="bottom" data-toggle="tooltip" title="پنل راهنما"><i
                            class="la la-question-circle-o"></i></li>

                    <!-- Search form -->
                    <li>
                        {% if user.is_authenticated %}


                            <form method="get" action="{% url 'todo:search' %}"><i class="la la-search"></i>
                                   <input  class="form-control"  id="q" name="q" type="text" value=""  placeholder="کلمه کلیدی + اینتر"/>
                                   </form>

                        {% endif %}
                    </li>

                    <!-- Full screen -->
                    <li id="full_screen" data-placement="bottom" data-toggle="tooltip" title="تمام صفحه"><i
                            class="la la-window-maximize"></i></li>

                    <!-- Save options -->
                    <li id="save_options" data-placement="bottom" data-toggle="tooltip" title="ذخیره تنظیمات"><i
                            class="la la-save"></i></li>
                </ul>
            </div>
        </nav>
        <!-- End header buttons and navbar -->
    </header>
    <!-- /End header and top nav -->


    <!-- side panel -->
    <section id="side_panel" class="b#fff">
        <div class="board">

            <div class="board-inner">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#options" data-toggle="tab">
                            <span class="la la-lg la-cogs round-tabs" data-toggle="tooltip" title="تنظیمات"></span>
                        </a>
                    </li>
                    <li id="taskbtn">
                        <a href="#tasks" data-toggle="tab">
                            <span class="la la-lg la-tasks round-tabs" data-toggle="tooltip" title="کارها"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#chats" data-toggle="tab">
                            <span class="la la-lg la-comments round-tabs" data-placement="top" data-toggle="tooltip"
                                  title="گفت و گوها"></span>
                            <span class="label blink label-success chat-alert">12</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">

                <!-- options tab -->
                <div class="tab-pane fade in active" id="options">
                    <ul class="list-group">

                        <h4 class="Montserrat-font">تنظیمات پوسته</h4>

                        <!-- font size -->
                        <li class="list-group-item fs-btn">
                            <span>اندازه فونت</span>
                            <i class="la la-plus-square fontsize pull-right" id="larger"></i>
                            <i class="la la-minus-square fontsize pull-right" id="smaller"></i>
                        </li>


                        <!-- top bar color -->
                        <li class="list-group-item top-color-changer">
                            <p>رنگ نوار بالا</p>
                            <button style="background: #555555; color: #ddd;"></button>
                            <button style="background: #ffffff; color: #535353;"></button>
                            <button style="background: #fde3a7; color: #555;"></button>
                            <button style="background: linear-gradient(40deg,#0336ff,#ff0266); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#03dac5,#6200ee); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#0db2de,#005bea); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#ffffff,#FFEB3B); color:#333;"></button>
                        </li>


                        <!-- menu color -->
                        <li class="list-group-item menu-color-changer">
                            <p>رنگ منو</p>
                            <button style="background: #555555; color: #ddd;"></button>
                            <button style="background: #ffffff; color: #535353;"></button>
                            <button style="background: #fde3a7; color: #555;"></button>
                            <button style="background: linear-gradient(40deg,#0336ff,#ff0266); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#03dac5,#6200ee); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#0db2de,#005bea); color:#fff;"></button>
                            <button style="background: linear-gradient(40deg,#ffffff,#FFEB3B); color:#333;"></button>
                        </li>


                        <!-- background image -->
                        <li class="list-group-item">
                            <p>تصویر پس زمینه:</p>
                            <button id="patt_btn" class="btn modern round btn-block" data-toggle="modal"
                                    data-target="#PatternsModal">
                                نمایش الگوها
                            </button>
                        </li>


                        <!-- menu position -->
                        <li class="list-group-item">
                            موقعیت منو
                            <select id="m_orient" class="option-select pull-right">
                                <option value="vertical" selected>عمودی</option>
                                <option value="horizontal">افقی</option>
                            </select>
                        </li>


                        <!-- fixed top bar -->
                        <li class="list-group-item">
                            ثابت بودن نوار بالا
                            <div class="material-switch pull-right">
                                <input id="topfix" type="checkbox" checked/>
                                <label for="topfix" class="label-primary"></label>
                            </div>
                        </li>


                        <!-- night mode -->
                        <li class="list-group-item">
                            حالت شب
                            <div class="material-switch pull-right">
                                <input id="nightmode" type="checkbox"/>
                                <label for="nightmode" class="label-warning"></label>
                            </div>
                        </li>


                        <!-- boxed layout -->
                        <li class="list-group-item">
                            طرح جعبه ای
                            <div class="material-switch pull-right">
                                <input id="box_option" type="checkbox"/>
                                <label for="box_option" class="label-success"></label>
                            </div>
                        </li>


                        <!-- Corners radius -->
                        <li class="list-group-item">
                            شعاع پنل ها:
                            <span id="corners_txt"></span>
                            <div id="corners_s" class="m-t-10"></div>
                        </li>


                        <!-- Sidebar width -->
                        <li class="list-group-item">
                            عرض ستون کناری:
                            <span id="side_width_txt"></span>
                            <div id="side_w_s" class="m-t-10"></div>
                        </li>

                    </ul>
                </div>
                <!-- /End options tab -->

                <!-- tasks tab -->
                <div class="tab-pane fade" id="tasks">
                    <ul class="list-group">
                        <li class="list-group-item t#c3272b">
                            <h4>شما 10 پروژه دارید</h4>
                        </li>
                        <li class="list-group-item">
                            <a href="#">پنل مدیریت 27%</a>
                            <div class="progress progress-striped pr-good">
                                <div class="progress-bar" style="width: 27%"></div>
                                <!-- for usage of pr-bad and pr-good please open custom-functions.js -->
                            </div>
                            <a href="#">به روزرسانی ها 60%</a>
                            <div class="progress progress-striped pr-good">
                                <div class="progress-bar" style="width: 60%"></div>
                            </div>
                            <a href="#">استفاده سی پی یو 90%</a>
                            <div class="progress progress-striped pr-bad">
                                <div class="progress-bar" style="width: 90%"></div>
                            </div>
                            <a href="#">برنامه اندروید 85%</a>
                            <div class="progress progress-striped pr-good">
                                <div class="progress-bar" style="width: 85%"></div>
                            </div>
                            <a href="#">افزایش حمله ها 10%</a>
                            <div class="progress progress-striped pr-bad">
                                <div class="progress-bar" style="width: 10%"></div>
                            </div>
                            <a href="#">و بیشتر...</a>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item t#c3272b">
                            <h4>شما 6 کار دارید</h4>
                        </li>
                        <li class="list-group-item">
                            <p class="label b#7a3">به روزرسانی افزونه</p>
                            <div class="side-task">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="label b#239 t#f8e">مهمانی تولد</p>
                            <div class="side-task">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="label b#192 t#bef">تیم توسعه دهنده</p>
                            <div class="side-task">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /End tasks tab -->

                <!-- chat tab -->
                <div class="tab-pane fade" id="chats">
                    <!-- chat tower -->
                    <div class="chat-tower b#fff">

                        <!-- chat header -->
                        <div class="tower-head b#fff t#7b7b7b">
                            <div class="pull-left">
                                <span id="chat_header">انتخاب کنید</span>
                            </div>
                            <!-- chat buttons -->
                            <div class="pull-right btn-group">
                                <!-- options for chat list -->
                                <div id="chats_btn" class="btn-group">
                                    <button data-toggle="dropdown"><i class="la la-cog"></i></button>
                                    <ul role="menu" class="dropdown-menu pull-right">
                                        <li><a href="#">من را آفلاین نشان بده</a></li>
                                        <li><a href="#">پاک کردن لیست</a></li>
                                        <li><a href="#">برون بری لیست</a></li>
                                    </ul>
                                </div>
                                <!-- options for message list -->
                                <div id="messages_btn" class="btn-group">
                                    <button data-toggle="dropdown"><i class="la la-cogs"></i></button>
                                    <ul role="menu" class="dropdown-menu pull-right">
                                        <li><a href="#">مسدود کردن کاربر</a></li>
                                        <li><a href="#">پاک کردن پیام ها</a></li>
                                        <li><a href="#">ایمیل کردن گفت و گو</a></li>
                                    </ul>
                                </div>
                                <!-- log out from live chat -->
                                <button id="log_outer"><i class="t#444 la la-power-off"></i></button>
                            </div>
                            <!-- /end chat buttons -->
                            <div class="back-to">
                                <i class="la la-2x la-hand-o-right"></i>
                            </div>
                        </div>
                        <!-- /End chat header -->

                        <!-- chat body -->
                        <div class="tower-body js-control b#6c7a89">


                            <!-- users list fade -->
                            <div id="chat_users">

                                <!-- user loop -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/other/avatar2.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="media-body">
                                        <p>لورم ایپسوم</p>
                                        <small>3:30 بعد از ظهر</small>
                                        <p>ایالات متحده آمریکا</p>
                                    </div>
                                </div>
                                <!-- /End user loop -->
                                <!-- user loop -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/other/avatar1.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="media-body">
                                        <p>لورم ایپسوم 2</p>
                                        <small>1:30 بعد از ظهر</small>
                                        <p>ایالات متحده آمریکا</p>
                                    </div>
                                </div>
                                <!-- /End user loop -->
                                <!-- user loop -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/other/avatar3.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="media-body">
                                        <p>لورم ایپسوم 3</p>
                                        <small>9:30 صبح</small>
                                        <p>کارگردان هنری</p>
                                    </div>
                                </div>
                                <!-- /End user loop -->
                                <!-- user loop -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/other/avatar4.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="media-body">
                                        <p>لورم ایپسوم 4</p>
                                        <small>8:00 صبح</small>
                                        <p>تیم سئو</p>
                                    </div>
                                </div>
                                <!-- /End user loop -->
                            </div>
                            <!-- /End chat_users -->


                            <!-- messages of user fade -->
                            <div id="user_message">
                                <div class="chat-line">
                                    <abbr>امروز</abbr>
                                </div>
                                <!-- Message loop -->
                                <div class="direct-chat-msg">
                                    <img src="img/other/avatar5.jpg" alt="بارگذاری نشد" data-lity>
                                    <div class="chat-info clearfix"><span>لورم</span></div>

                                    <div class="direct-chat-text">
                                        من هنگام ورود به حساب کاربری خود خطایی دریافت کردم. معنی این خطاها چیست؟
                                    </div>

                                    <div class="chat-info clearfix">
                                        <small class="pull-right">3:36 بعد از ظهر</small>
                                    </div>
                                </div>
                                <!-- /End message loop -->
                                <!-- Message loop -->
                                <div class="direct-chat-msg">
                                    <img src="img/other/admin.jpg" alt="بارگذاری نشد" data-lity>
                                    <div class="chat-info clearfix"><span>مدیر</span></div>

                                    <div class="direct-chat-text">
                                        سلام، می توانم متن خطا را ببینم؟
                                    </div>

                                    <div class="chat-info clearfix">
                                        <small class="pull-right">3:37 بعد از ظهر</small>
                                    </div>
                                </div>
                                <!-- /End message loop -->
                                <!-- Message loop -->
                                <div class="direct-chat-msg">
                                    <img src="img/other/avatar5.jpg" alt="بارگذاری نشد" data-lity>
                                    <div class="chat-info clearfix"><span>لورم</span></div>

                                    <div class="direct-chat-text">
                                        <img src="img/other/warning.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="chat-info clearfix">
                                        <small class="pull-right">3:40 بعد از ظهر</small>
                                    </div>
                                </div>
                                <!-- /End message loop -->
                                <!-- Message loop -->
                                <div class="direct-chat-msg">
                                    <img src="img/other/avatar5.jpg" alt="بارگذاری نشد" data-lity>
                                    <div class="chat-info clearfix"><span>لورم</span></div>

                                    <div class="direct-chat-text">
                                        ببخشید، تصویر را اشتباه فرستادم. تصویر درست:
                                    </div>
                                    <div class="chat-info clearfix">
                                        <small class="pull-right">3:40 بعد از ظهر</small>
                                    </div>
                                </div>
                                <!-- /End message loop -->
                                <!-- Message loop -->
                                <div class="direct-chat-msg">
                                    <img src="img/other/avatar5.jpg" alt="بارگذاری نشد" data-lity>
                                    <div class="chat-info clearfix"><span>لورم</span></div>

                                    <div class="direct-chat-text">
                                        <img src="img/other/error.jpg" alt="بارگذاری نشد" data-lity>
                                    </div>
                                    <div class="chat-info clearfix">
                                        <small class="pull-right">3:45 بعد از ظهر</small>
                                    </div>
                                </div>
                                <!-- /End message loop -->
                            </div>
                            <!-- /End user_message -->

                        </div>
                        <!-- /End chat body -->

                        <!-- chat fotter -->
                        <div class="tower-foot b#fff">
                            <textarea id="status_message" placeholder="پیام خود را بنویسید..."
                                      name="message"></textarea>
                            <div class="btn-footer">
									<span class="bg_none">
										<i class="la la-film"></i>
										<input name="uploadvideo" role="button" tabindex="0" type="file"
                                               accept=".mp4,.avi,.mkv,.mov"/>
									</span>
                                <span class="bg_none">
										<i class="la la-camera"></i>
										<input name="uploadimage" role="button" tabindex="0" type="file"
                                               accept=".jpg,.png,.gif"/>
									</span>
                                <span class="bg_none">
										<i class="la la-paperclip"></i>
										<input name="uploadfile" role="button" tabindex="0" type="file"
                                               accept=".xls,.xlsx,.doc,.docx,.pdf,.xps,.psd"/>
									</span>

                                <!-- send message -after load each message pleas run "chat_scroller();" js function- -->
                                <button id="send_btn" class="bg_none pull-right"><i class="la la-send"></i></button>
                            </div>
                        </div>
                        <!-- /End chat fotter -->

                    </div>
                    <!-- /End chat -->
                </div>
                <!-- /End chats tab -->

                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <!-- /End side panel -->


    {% include "registration/sidebar.html" %}

    <!-- content -->
    <section class="clearfix">
        <div id="content" class="col-lg-12 col-xs-12">
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <p>{{ form.non_field_errors }}</p>
            {% block content %}{% endblock %}
        </div>
    </section>
    <!-- /End content -->


    <!-- Footer and copyright -->
    <footer class="page-footer b#444=000 t#bbb=fff">
        طراحی شده با <i class="la la-heart t#F22613"></i> توسط عرفان صحرایی
        <a href="javascript:;" id="ToTop" class="la la-arrow-up pull-right"></a>
    </footer>
    <!-- /End Footer -->


</section>
<!-- /End main content -->


<!-- best Modal place -->
<div class="modal fade" id="PatternsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">الگوها</h4>
            </div>
            <div class="modal-body">
                <ol id="pattern_thumb">
                    <div id="pat_images">
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern1.png' %}   ">1</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern2.png' %}   ">2</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern3.png' %}   ">3</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern4.png' %}   ">4</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern5.png' %}   ">5</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern6.png' %}   ">6</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern7.png' %}   ">7</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern8.png' %}   ">8</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern9.png' %}   ">9</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern10.png' %} ">10</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern11.png' %} ">11</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern12.png' %} ">12</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern13.png' %} ">13</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern14.png' %} ">14</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern15.png' %} ">15</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern16.png' %} ">16</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern17.png' %} ">17</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern18.png' %} ">18</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern19.png' %} ">19</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern20.png' %} ">20</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern21.png' %} ">21</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern22.png' %} ">22</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern23.png' %} ">23</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern24.png' %} ">24</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern25.png' %} ">25</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern26.png' %} ">26</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern27.png' %} ">27</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern28.png' %} ">28</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern29.png' %} ">29</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern30.png' %} ">30</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern31.png' %} ">31</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern32.png' %} ">32</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern33.png' %} ">33</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern34.png' %} ">34</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern35.png' %} ">35</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern36.png' %} ">36</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern37.png' %} ">37</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern38.png' %} ">38</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern39.png' %} ">39</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern40.png' %} ">40</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern41.png' %} ">41</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern42.png' %} ">42</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern43.png' %} ">43</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern44.png' %} ">44</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern45.png' %} ">45</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern46.png' %} ">46</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern47.png' %} ">47</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern48.png' %} ">48</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern49.png' %} ">49</li>
                        <li class="patt-item"><img src="{% static 'registrations/dialog/img/patt/ern50.png' %} ">50</li>
                    </div>
                </ol>
            </div>
            <div class="modal-footer">
                <input id="PattInput" type="hidden"/>
                <div class="btn-group pull-left">
                    <button id="BodyBtn" class="btn btn-info">تنظیم روی بدنه</button>
                    <button id="ContentBtn" class="btn btn-info">تنظیم روی محتوا</button>
                </div>
                <button id="RemoveBtn" class="btn btn-primary pull-right">حذف الگوها</button>
            </div>
        </div>
    </div>
</div>
<!-- /End Modals -->


<!-- downloaded scripts (for all pages) = colorclass, jquery, uery-ui, bootstrap, lity, malihu, mousetrap, toastr, Waves -->
<script type="text/javascript" src="{% static 'registrations/dialog/js/pack.js' %}"></script>
<script type="text/javascript">

    $('#pattern_thumb .patt-item').click(function () {
        $('#PattInput').val($(this).text());
        $('#pattern_thumb .patt-item').removeClass('t#f00').addClass('t#000');
        $(this).removeClass('t#000').addClass('t#f00');
        cc_fColorClass(2);
    });

    $('#BodyBtn').click(function () {
        var patt = $('#PattInput').val();
        $('body').css({'background': 'url(/static/registrations/dialog/img/patt/ern' + patt + '.png) fixed'});
        if (!$('#box_option').prop('checked')) {
            toastr.info('این ویژگی فقط در حالت جعبه ای کار میکند. لطفا برای دیدن حالت جعبه ای دکمه ی "B" را فشار دهید.');
        }
    });

    $('#ContentBtn').click(function () {
        var patt = $('#PattInput').val();
        $('#content').css({'background': '#f9f9f9 url(/static/registrations/dialog/img/patt/ern' + patt + '.png)'});
    });

    $('#RemoveBtn').click(function () {
        $('#content, body').css({'background': 'none'});
    });


    $('.close, #PatternsModal .pull-right').click(function () {
        setTimeout(SetPaddings, 500);
    });

    $(document).ajaxComplete(function () {
        $("#wait").hide();
    });


    $('#pattern_thumb').mCustomScrollbar({
        theme: "dark-thick",
    });

</script>
<!-- custom script (for all pages) -->
<script type="text/javascript" src="{% static 'registrations/dialog/js/custom-scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'registrations/dialog/js/custom-functions.js' %}"></script>

<!-- script files (for this page) -->
<script type="text/javascript" src="{% static 'registrations/dialog/js/zaccordion.js' %}"></script>
<script type="text/javascript" src="{% static 'registrations/dialog/js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'registrations/dialog/js/jquery.easypiechart.js' %}"></script>
<script type="text/javascript" src="{% static 'registrations/dialog/js/bootstrap-tour.js' %}"></script>
<script src="{% static 'todo/js/jquery.tablednd_0_5.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    function order_tasks(data) {
        // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered
        // data in a list. We pass that list as an object ("data") to a Django view
        // to save new priorities on each task in the list.
        $.post("{% url 'todo:reorder_tasks' %}", data, "json");
        return false;
    };

    $(document).ready(function () {
        // Initialise the task table for drag/drop re-ordering
        $("#tasktable").tableDnD();

        $('#tasktable').tableDnD({
            onDrop: function (table, row) {
                order_tasks($.tableDnD.serialize());
            }
        });

    });

    // When adding a task, change the text of the Add Task button
    function handleClick() {
        console.log(this.innerHTML);
        this.innerHTML = (this.innerHTML == 'Add Task' ? 'Cancel' : 'Add Task');
    }

    document.getElementById('AddTaskButton').onclick = handleClick;
</script>
{% block js %} {% endblock %}
<!-- inline custom script (for this page) -->
<script type="text/javascript">
    $(document).ready(function () {


        /* First page tour (bootstrap-tour.js) */
        var tour1 = new Tour({
            steps: [
                {
                    element: "#sidebar_toggle",
                    content: "با این دکمه میتوانید در صورت لزوم سایدبار را مخفی کنید تا فضای بیشتری برای کار کردن داشته باشید.",
                    placement: "left",
                },
                {
                    element: "#top_panel_slide",
                    content: "این دکمه ، پنل مخفی شده در بالای صفحه را آشکار میسازد تا از راهنمایی های موجود در آن استفاده کنید. <br/>برای دیدن راهنما روی دکمه ی بعدی کلیک کنید.",
                    placement: "right",
                },
                {
                    element: ".shortcut-help",
                    title: "کلیدهای میانبر",
                    content: "در این بخش کلید های میانبر نوشته شده اند که با فشردن آنها روی کیبورد میتوانید در وقت خود صرفه جویی کنید. <br/>پس در وقت مناسب آنها را امتحان کنید.",
                    placement: "bottom",
                    onShow: function (tour1) {
                        $('#top_panel').slideDown();
                    },
                    onHide: function (tour1) {
                        $('#top_panel').slideUp();
                    },
                },
                {
                    element: ".side_panel_toggle_2",
                    content: "این دکمه برای شما پنل کناری را باز میکند تا به امکانات آن دسترسی پیدا کنید. <br/>برای مشاهده ی پنل سریع روی بعدی کلیک کنید.",
                    placement: "right",
                },
                {
                    element: "#side_panel",
                    title: "پنل سمت چپ",
                    content: "با استفاده از پنل کناری میتوانید به آپشن ها، کار ها و چت ها دسترسی داشته باشید. <br/>در وقت مناسب آپشنها را هم امتحان کنید.",
                    placement: "right",
                    onShow: function (tour1) {
                        $('#side_panel').show("slide", {direction: "right"});
                    },
                    onHide: function (tour1) {
                        $('#side_panel').hide("slide", {direction: "right"});
                    },
                },
                {
                    element: "#save_options",
                    title: "ذخیره ی تنظیمات",
                    content: "با این دکمه میتوانید کلیه ی تنظیمات مربوط به صفحه را ذخیره کنید تا هنگام مراجعه ی بعدی تنظیمات به حالت اول بر نگردد.",
                    placement: "bottom",
                },
                {
                    element: "#acc1",
                    title: "اطلاعات مهم",
                    content: "این آکاردئون بخش مهم اطلاعات مورد نیاز را در ابتدای کار در اختیار شما قرار میدهد که شامل لینک هایی به صفحات مورد نظر نیز هست.",
                    placement: "bottom",
                    backdrop: true,
                },
                {
                    element: ".panel:first",
                    title: "پنل",
                    content: "در این قالب زیاد با پنل ها سر و کار دارید پس بهتر است آنها را بشناسید. <br/>تمام امکانات داخل پنل های بوت استرپ تعبیه شده اند.",
                    placement: "top",
                    backdrop: true,
                    backdropPadding: 5,
                },
                {
                    element: ".panel-heading:first span:last",
                    title: "کنترل کننده های پنل",
                    content: "اینها دکمه های کنترل کننده ی پنل هستند که برای مینیمایز کردن، تمام صفحه کردن و ریلود پنل مورد استفاده قرار میگیرند.",
                    placement: "right",
                },
            ]
        });

        tour1.init();
        tour1.start(); // for debug --> tour1.start(true)
        /* end bootstrap tour */


        /* Horizontal accordion (Zaccordion.js) */
        $("#acc1 ul").zAccordion({
            startingSlide: 0,
            auto: false,
            speed: 400,
            slideClass: "slider",
            width: "100%",
            height: 165,
            tabWidth: "16%",
            trigger: "mouseover",
        });
        $("#acc1").show();
        /* End accordion */


        /* Rendro easy pie chart */
        // creat charts
        $(function (charts_creat) {
            $('#pie_chart1').easyPieChart({
                lineWidth: 8,
                barColor: '#19b5fe',
                scaleColor: '#19b5fe',
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
            $('#pie_chart3').easyPieChart({
                barColor: '#9a12b3',
                animate: 3000,
                scaleColor: '#fff',
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
            $('#pie_chart4').easyPieChart({
                barColor: '#080',
                scaleColor: '#080',
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });

        // for demo (update charts)
        $('#easy_pie .reload_btn').on('click', function () {
            $('#pie_chart1').data('easyPieChart').update(Math.random() * 200 - 100);
            $('#pie_chart3').data('easyPieChart').update(Math.random() * 200 - 100);
            $('#pie_chart4').data('easyPieChart').update(Math.random() * 200 - 100);
        });
        /* End rendro easy pie chart */


        /* chart js */
        function chart_js_1() {

            var W = $('#server_status').width();
            var ctx = document.getElementById("js_chart1").getContext("2d");
            ctx.canvas.width = W;
            ctx.canvas.height = 300;
            ctx.font = "30px tahoma";
            js_ch = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                    datasets: [
                        {
                            label: "پهنای باند ماهانه (%)",
                            backgroundColor: "#0db2de00",
                            borderColor: "#0db2de",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 6,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: [65, 59, 80, 81, 56, 55, 30, 50, 72, 63, 18, 33, 40],
                        },
                        {
                            label: "مصرف سی پی یو (%)",
                            backgroundColor: "#005bea00",
                            borderColor: "#005bea",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 6,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: [15, 29, 30, 41, 46, 25, 44, 18, 25, 20, 70, 17, 20],
                        }
                    ],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                        }],
                    },
                },
            });
        };
        chart_js_1();

        /*var c = document.getElementById("js_chart1");
        var ctx = c.getContext("2d");
        ctx.font = "30px tahoma";*/
        //ctx.fillText("Hello World", 10, 50);
        /* End chart js */


        /* responsive chart */
        function reset_charts() {
            js_ch.destroy();
            chart_js_1();
        };

        $('#sidebar_toggle, #box_option, .fullsize_btn').click(reset_charts);
        $('#m_orient').change(reset_charts);

        $(window).bind('resize', function (e) {
            window.resizeEvt;
            $(window).resize(function () {
                clearTimeout(window.resizeEvt);
                window.resizeEvt = setTimeout(function () {
                    reset_charts();
                }, 250);
            });
        });
        /* End responsive chart */


    });
</script>
</body>
</html>
