{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load comment_tags %}
{% load ratings %}
{% load static %}
<title>{% block title %} جزئیات مشتری {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جزئیات مشتری {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'client:client_list' %}">لیست مشتریان </a></li>
            <li>جزئیات مشتری</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جزئیات مشتری
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-3">

                                <!-- image and nav -->
                                <div class="panel nav-sidebar-tab" style="border-radius: 10px;">


                                    <div class="well Ribbon b#5ec"
                                         style="background-color: rgb(255,255,255) !important;">
                                        <h2 class="t#9fe"
                                            style="color: rgb(52,81,229) !important;">{{ client.companyName }}</h2>
                                    </div>

                                    <ul class="nav tabs">

                                        <li class="active"><a href="#prof" data-toggle="tab">مشخصات این مشتری</a></li>
                                            <li class=""><a href="{% url 'client:client-update' client.pk %}">ویرایش
                                                مشتری</a></li>

                                    </ul>
                                </div>

                                <!-- friends -->
                            </div>

                            <!-- content -->
                            <div class="col-sm-9 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">مشخصات مشتری</h3>

                                        <div class="panel m-t-30" style="border-radius: 10px;">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>مشخصات مسئول بازرگانی</td>
                                                        <td>
                                                            {{ client.firstName }} {{ client.lastName }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره همراه</td>
                                                        <td>{{ client.phoneNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره شرکت</td>
                                                        <td>{{ client.telephoneNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ایمیل</td>
                                                        <td> {{ client.email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>آدرس شرکت</td>
                                                        <td> {{ client.addressLine1 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>کد پستی شرکت</td>
                                                        <td> {{ client.postalCode }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شناسه ملی شرکت</td>
                                                        <td> {{ client.national_id }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>کد اقتصادی شرکت</td>
                                                        <td> {{ client.economic_code }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>تاریخ اولین تماس</td>
                                                        <td>{{ client.date_created }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>آخرین آپدیت از محمولات مشتری</td>
                                                        <td>{{ client.publish }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>آیا جزو مشتری های فعال می باشد؟</td>
                                                        <td> {% if client.status %}
                                                            <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                                        {% else %}
                                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                                        {% endif %}</td>
                                                    </tr>
                                                    {% if  client.description %}
                                                        <tr>
                                                            <td>توضیحات اضافه</td>
                                                            <td>{{ client.description }} </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if client.sales %}
                                                        {% if user.is_superuser %}
                                                            <tr>
                                                                <td>بازاریاب این شرکت</td>
                                                                <td>
                                                                    <a class="text-danger"
                                                                       href="{% url 'account:profile_detail' client.sales.pk %}">     {{ client.sales.get_full_name }}</a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

