{% extends 'registration/base.html' %}
{% load ratings %}
{% load widget_tweaks %}
<title>{% block title %} لیست مشتریان {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} لیست مشتریان {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li>لیست مشتریان</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table class="col-md-6" id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جستجوی پیشرفته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">

                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.companyName.label_tag }}
                                                    {% render_field filter.form.companyName class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.lastName.label_tag }}
                                                    {% render_field filter.form.lastName class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.email.label_tag }}
                                                    {% render_field filter.form.email class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.date_created.label_tag }}
                                                    {% render_field filter.form.date_created class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__gt.label_tag }}
                                                    {% render_field filter.form.year_joined__gt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__lt.label_tag }}
                                                    {% render_field filter.form.year_joined__lt class="form-control" %}
                                                </div>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            {% if request.user.is_sales %}
                                                <a href="{% url 'client:client-create' %}" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-plus"></span> ایجاد مشتری جدید
                                                </a>
                                            {% endif %}
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if filter.qs %}
                            <table id="grid" class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false" style="width: 100%">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">نام شرکت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:45px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text"> شخص</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">شماره موبایل</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">شماره شرکت شرکت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">ایمیل</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text-center">پیگیری</span><span class="icon fa "></span></a>
                                    </th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">فعالیت</span><span
                                            class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">اولویت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">بازاریاب</span><span class="icon fa "></span></a></th>
                                    {% if request.user.is_sales %}
                                        <th data-column-id="link" class="text-left" style="width:90px;"><a
                                                class="column-header-anchor "><span
                                                class="text">ویرایش رفرنس</span><span class="icon fa "></span></a></th>
                                    {% endif %}

                                </tr>
                                </thead>
                                <tbody>
                                {% for client in filter.qs %}
                                    <tr data-row-id="5">
                                        <td class="text-center text-warning"
                                            style="width:100px;"><a
                                                href="{% url 'client:client_detail' client.pk %}">{{ client.companyName }}</a>

                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ client.firstName }} {{ client.lastName }}</td>
                                        <td class="text-center" style="width:75px;">{{ client.phoneNumber }}</td>
                                        <td class="text-center" style="width:75px;">
                                            {% if client.telephoneNumber %}{{ client.telephoneNumber }}{% else %}
                                                _________ {% endif %}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ client.email }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ client.Jpublish }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {% if client.status %}
                                                <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                            {% endif %}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ client.position }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {% if client.sales %}
                                                {{ client.sales }}
                                            {% else %}
                                                هویار ترابر
                                            {% endif %}
                                        </td>
                                        {% if request.user.is_sales %}
                                            <td class="text-center" style="width:75px;">
                                                <p><a href="{% url 'client:client-update' client.pk %}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                </p>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}