{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
<title>{% block title %} ایجاد و ویرایش شرکت حمل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} ایجاد و ویرایش کارمند شرکت حمل {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'contact:contact_list' %}">لیست شرکت های حمل</a></li>
            <li>ایجاد و ویرایش</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        ایجاد و ویرایش شرکت حمل
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-12">
                            <!-- general form elements -->

                            <div class="card-body">
                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            {% bootstrap_icon "check" %} ثبت
                                        </button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}