{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load comment_tags %}
{% load ratings %}
{% load static %}
<title>{% block title %} پروفایل بازاریاب شرکت حمل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جزئیات  {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان</a></li>
            <li><a href="{% url 'contact:contact_list' %}">لیست شرکت های حمل</a></li>
            <li>پروفایل</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        پروفایل {{ contact.first_name }} {{ contact.last_name }}
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">

                            <div class="col-sm-3">

                                <!-- image and nav -->
                                <div class="panel nav-sidebar-tab" style="border-radius: 10px;">

                                    <div class="profie-avatar b#0162e8" style="background-color: rgb(1, 98, 232);">
                                        <div>{% ratings contact %}</div>

                                        <div class="t#fff Ubuntu-font" style="color: rgb(255, 255, 255);">
                                            {{ contact.contact_object }}/{{ contact.first_name }} {{ contact.last_name }}
                                        </div>
                                    </div>
                                    <ul class="nav tabs">

                                        <li class="active"><a href="#prof" data-toggle="tab">پروفایل</a></li>
                                        <li class=""><a href="#activity" data-toggle="tab">نظرات </a>
                                        </li>
                                        <li class=""><a href="{% url 'contact:contact_detail_update' contact.pk %}">ویرایش
                                            پروفایل</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- content -->
                            <div class="col-sm-9 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">حساب
                                            کاربری {{ contact.first_name }} {{ contact.last_name }} از
                                            شرکت {{ contact.contact_object.company_name }}</h3>

                                        <div class="panel m-t-30" style="border-radius: 10px;">

                                            <div class="panel-heading Montserrat-font"
                                                 style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <h1 class="panel-title">مشخصات</h1>
                                            </div>

                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="first-table-row">
                                                        <td>نام و نام خانوادگی</td>
                                                        <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>حیطه فعالیت</td>
                                                        <td>{{ contact.kind_shipment }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ایمیل</td>
                                                        <td>{{ contact.email_address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره تماس</td>
                                                        <td>{{ contact.phone_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>تخصص</td>
                                                        <td> {% for tag in contact.category.all %}
                                                            <a href="{% url 'contact:category' tag.slug %}">
                                                                <div class="mr-1 badge badge-danger">{{ tag }}#</div>
                                                            </a>
                                                        {% endfor %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>آیا این نماینده فعال است ؟</td>
                                                        <td> {% if contact.is_active %}
                                                            <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                                        {% else %}
                                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                                        {% endif %}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>زمان ایجاد</td>
                                                        <td> {{ contact.date_added }}
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>ایجاد کننده</td>
                                                        <td> {{ contact.contact_object.creator.get_full_name }}
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>


                                            <div class="panel-footer"
                                                 style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                                <span class="pull-right">
											<a href="{% url 'contact:contact_detail_update' contact.pk %}"
                                               class="btn btn-warning waves-effect"
                                               title="ویرایش این کاربر" tooltip=""><i class="la la-edit"></i></a>
										</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- activity -->
                                    <div class="tab-pane fade in" id="activity">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">فعالیت های اخیر</h3>

                                        <!-- The Timeline -->
                                        <div class="row">
                                            <div class="col-12">
                                                {% render_comments object request %}

                                            </div>
                                        </div>
                                    </div>
                                    <!-- edit user -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

