{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load ratings %}
<title>{% block title %} پیشخوان {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                     جستجوی پیشرفته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">
                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.first_name.label_tag }}
                                                    {% render_field filter.form.first_name class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.last_name.label_tag }}
                                                    {% render_field filter.form.last_name class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.email_address.label_tag }}
                                                    {% render_field filter.form.email_address class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.kind_shipment.label_tag }}
                                                    {% render_field filter.form.kind_shipment class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.contact_object.label_tag }}
                                                    {% render_field filter.form.contact_object class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.is_active.label_tag }}
                                                    {% render_field filter.form.is_active class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined.label_tag }}
                                                    {% render_field filter.form.year_joined class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__gt.label_tag }}
                                                    {% render_field filter.form.year_joined__gt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__lt.label_tag }}
                                                    {% render_field filter.form.year_joined__lt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.author.label_tag }}
                                                    {% render_field filter.form.author class="has-success m-t-20" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.category.label_tag }}
                                                    {% render_field filter.form.category class="has-success m-t-20" %}
                                                </div>
                                            </div>
                                            <br>
                                                <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            <a href="{% url 'contact:contact_detail_create' %}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد مشتری جدید
                                            </a>
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                        {% if filter.qs %}
                                            <table id="grid"
                                                   class="table table-condensed table-hover table-striped bootgrid-table"
                                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                                   data-keep-selection="true" aria-busy="false">
                                                <thead>
                                                <tr>
                                                    <th data-column-id="id" class="text-right" style="width:75px;"><a
                                                            class="column-header-anchor sortable"><span
                                                            class="text">نام و نام خانوادگی</span><span
                                                            class="icon fa "></span></a>
                                                    </th>
                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor sortable"><span
                                                            class="text"> شرکت حمل</span><span
                                                            class="icon fa "></span></a>
                                                    </th>
                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">آدرس ایمیل </span><span
                                                            class="icon fa "></span></a></th>
                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor sortable"><span
                                                            class="text">شماره موبایل</span><span
                                                            class="icon fa fa-sort-asc"></span></a>
                                                    </th>
                                                    <th data-column-id="id" class="text-center" style="width:20px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">تگ</span><span class="icon fa "></span></a>
                                                    </th>

                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">آیا فعال است ؟</span><span
                                                            class="icon fa "></span></a></th>

                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">زمینه فعالیت</span><span
                                                            class="icon fa "></span></a></th>

                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">تاریخ ایجاد</span><span
                                                            class="icon fa "></span></a></th>

                                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor sortable"><span
                                                            class="text">ویرایش</span><span
                                                            class="icon fa fa-sort-asc"></span></a>
                                                    </th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for detail in filter.qs %}
                                                    <tr data-row-id="7">
                                                    <td class="text-center text-warning" style="width:100px;">
                                                        <a href="{% url 'contact:contact_detail_profile' detail.pk %}">   {{ detail.first_name }} {{ detail.last_name }}</a>
                                                    </td>
                                                    <td class="text-center"
                                                        style="width:75px;"><a class="text-warning"
                                                                               href="{% url 'contact:contact_detail_list' detail.contact_object.slug %}">{{ detail.contact_object }}</a>
                                                    </td>
                                                    <td class="text-center"
                                                        style="width:75px;">{{ detail.email_address }}</td>
                                                    <td class="text-center"
                                                        style="width:45px;">{{ detail.phone_number }}</td>

                                                    <td class="text-center" style="width:75px;">
                                                        {% for tag in detail.category.all %}
                                                            <a href="{% url 'contact:category' tag.slug %}">
                                                                <div class="mr-1 badge badge-danger">{{ tag }}#</div>
                                                            </a>
                                                        {% endfor %}
                                                    </td>



                                                    <td class="text-center" style="width:75px;">
                                                        {% if detail.is_active %}
                                                            <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                                        {% else %}
                                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center"
                                                        style="width:75px;">{{ detail.kind_shipment }}</td>
                                                    <td class="text-center"
                                                        style="font-size: small; width:75px;">{{ detail.date_added }}</td>
                                                    <td class="text-center" style="width:75px;">
                                                        <div><a class="btn btn-sm  btn-outline-warning"
                                                                href="{% url 'contact:contact_detail_update' detail.pk %}">ویرایش</a>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                                </tr>
                                            </table>
                                        {% else %}
                                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                                        {% endif %}
                                        <!--/div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}