{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load ratings %}
<title>{% block title %} لیست شرکت های حمل {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} لیست شرکت های حمل {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان</a></li>
            <li>جستجوی پیشرفته در لیست مشتریان</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جستجوی پیشرفته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">

                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.company_name.label_tag }}
                                                    {% render_field filter.form.company_name class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.creator.label_tag }}
                                                    {% render_field filter.form.creator class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined.label_tag }}
                                                    {% render_field filter.form.year_joined class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__gt.label_tag }}
                                                    {% render_field filter.form.year_joined__gt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__lt.label_tag }}
                                                    {% render_field filter.form.year_joined__lt class="form-control" %}
                                                </div>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            <a href="{% url 'contact:contact-create' %}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد شرکت حمل
                                            </a>
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                        {% if filter.qs %}
                                            <table id="grid"
                                                   class="table table-condensed table-hover table-striped bootgrid-table"
                                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                                   data-keep-selection="true" aria-busy="false">
                                                <thead>
                                                <tr>
                                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                                            class="column-header-anchor sortable"><span
                                                            class="text">نام شرکت</span><span
                                                            class="icon fa "></span></a></th>
                                                    <th data-column-id="sender" class="text-center" style="width:45px;">
                                                        <a
                                                                class="column-header-anchor sortable"><span
                                                                class="text">ایجاد کننده</span><span
                                                                class="icon fa fa-sort-asc"></span></a>
                                                    </th>
                                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">زمان ایجاد </span><span
                                                            class="icon fa "></span></a></th>
                                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">امتیاز شرکت</span><span
                                                            class="icon fa "></span></a></th>
                                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                            class="column-header-anchor "><span
                                                            class="text">ویرایش</span><span class="icon fa "></span></a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for contact in filter.qs %}
                                                    <tr data-row-id="5">
                                                        <td class="text-center text-warning" style="width:100px;"><a
                                                                href="{% url 'contact:contact_detail_list' contact.slug %}">{{ contact.company_name }}</a>

                                                        </td>
                                                        <td class="text-center"
                                                            style="width:45px;">{{ contact.creator.get_full_name }}</td>
                                                        <td class="text-center"
                                                            style="width:75px;">{{ contact.created_on }}</td>
                                                        <td class="text-center" style="width:75px;">
                                                            <div>{% ratings contact %}</div>
                                                        </td>
                                                        <td class="text-center" style="width:75px;">
                                                            <p>
                                                                <a href="{% url 'contact:contact_update' contact.pk %}">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                            <!--/div-->
                                        {% else %}
                                            <h3 class="text-danger text-xl-center">جستجوی شما نتیجه‌ای نداشت!</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}