{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load ratings %}
<title>{% block title %} جزئیات شرکت حمل  {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جزئیات شرکت حمل {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'contact:contact_list' %}">لیست شرکت های حمل </a></li>
            <li>جزئیات شرکت حمل</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جزئیات شرکت حمل
                        <div class="pan-btn expand min"></div>
                    </div>

                    <h2 style="width: 100%" class="alert alert-primary text-center ">شرکت حمل و نقل
                        {% if object_list %}
                            :{{ object_list.0.contact_object.company_name }}
                        {% else %}
                            :{{ request.resolver_match.kwargs.slug }}
                        {% endif %}</h2>

                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'contact:contact_detail_create' %}"
                                               class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد کارمند جدید
                                            </a>
                                        </div>
                                    </div>
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'contact:search_contact_detail' %}"
                                               class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-search"></span> جستجوی پیشرفته
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if object_list %}
                            <table id="grid" class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-right" style="width:75px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">نام و نام خانوادگی</span><span class="icon fa "></span></a>
                                    </th>
                                    <th data-column-id="id" class="text-right" style="width:75px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شرکت حمل</span><span class="icon fa "></span></a>
                                    </th>
                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">آدرس ایمیل </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شماره موبایل</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="id" class="text-center" style="width:20px;"><a
                                            class="column-header-anchor "><span
                                            class="text">تگ</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">آیا فعال است ؟</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">زمینه فعالیت</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">تاریخ ایجاد</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="id" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">ویرایش</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for detail in object_list %}
                                    <tr data-row-id="7">
                                    <td class="text-center text-warning" style="width:100px;">
                                        <a href="{% url 'contact:contact_detail_profile' detail.pk %}">   {{ detail.first_name }} {{ detail.last_name }}</a>
                                    </td>
                                    <td class="text-center" style="width:75px;">{{ detail.contact_object }}</td>
                                    <td class="text-center" style="width:75px;">{{ detail.email_address }}</td>
                                    <td class="text-center" style="width:45px;">{{ detail.phone_number }}</td>

                                    <td class="text-center" style="width:75px;">
                                        {% for tag in detail.category.all %}
                                            <a href="{% url 'contact:category' tag.slug %}">
                                                <div class="mr-1 badge badge-danger">{{ tag }}#</div>
                                            </a>
                                        {% endfor %}
                                    </td>



                                    <td class="text-center" style="width:75px;">
                                        {% if detail.is_active %}
                                            <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                        {% else %}
                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center" style="width:75px;">{{ detail.kind_shipment }}</td>
                                    <td class="text-center"
                                        style="font-size: small; width:75px;">{{ detail.date_added }}</td>

                                    <td class="text-center" style="width:75px;">
                                        <p><a href="{% url 'contact:contact_detail_update' detail.pk %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        </p>
                                    </td>
                                {% endfor %}
                                </tr>


                            </table>
                            <div id="grid-footer" class="bootgrid-footer container-fluid">
                                <div class="row">
                                    <div class="col-sm-6"><p class="pagination" aria-hidden="true"
                                                             style="display: none;"></p></div>
                                    <div class="col-sm-6 infoBar">
                                        {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                        <li class="active"><span>{{ i }} <span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}
                        <!--/div-->

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}