{% extends 'registration/base.html' %}
{% load widget_tweaks %}

<title>{% block title %} ایجاد شرکت حمل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} ایجاد شرکت حمل {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'contact:contact_list' %}">لیست شرکت های حمل</a></li>
            <li>ایجاد شرکت حمل</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        ایجاد و ویرایش شرکت حمل
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card-body">
                                <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.company_name.label }}
                                        {{ form.company_name|add_class:'form-control' }}
                                        {% if form.company_name.errors %}
                                            <div class="text-danger">
                                                {{ form.company_name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.creator.label }}
                                        {{ form.creator|add_class:'form-control' }}
                                        {% if form.creator.errors %}
                                            <div class="text-danger">
                                                {{ form.creator.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.slug.label }}
                                        {{ form.slug|add_class:'form-control' }}
                                        {% if form.slug.errors %}
                                            <div class="text-danger">
                                                {{ form.slug.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-ok"></span> ثبت
                                        </button>
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}