{% extends 'registration/base.html' %}
{% load ratings %}
<title>{% block title %} لیست شرکت های حمل {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %}  لیست شرکت های حمل {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li> لیست شرکت های حمل</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        لیست شرکت های حمل
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'contact:contact-create' %}" class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد شرکت حمل جدید
                                            </a>
                                        </div>
                                    </div>
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'contact:search_contact_list' %}"
                                               class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-search"></span> جستجوی پیشرفته
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% if contacts %}
                            <table id="grid" class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">نام شرکت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:45px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">ایجاد کننده</span><span class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">زمان ایجاد </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">امتیاز شرکت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">ویرایش</span><span class="icon fa "></span></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for contact in contacts %}
                                    <tr data-row-id="5">
                                        <td class="text-center text-warning" style="width:100px;"><a
                                                href="{% url 'contact:contact_detail_list' contact.slug %}">{{ contact.company_name }}</a>

                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ contact.creator.get_full_name }}</td>
                                        <td class="text-center" style="width:75px;">{{ contact.created_on }}</td>
                                        <td class="text-center" style="width:75px;">
                                            <div>{% ratings contact %}</div>
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            <p><a href="{% url 'contact:contact_update' contact.pk %}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div id="grid-footer" class="bootgrid-footer container-fluid">
                                <div class="row">
                                    <div class="col-sm-6"><p class="pagination" aria-hidden="true"
                                                             style="display: none;"></p></div>
                                    <div class="col-sm-6 infoBar">
                                        {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                        <li class="active"><span>{{ i }} <span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--/div-->
                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}