{% extends 'registration/base.html' %}
{% load static %}
<title>{% block title %} پیشخوان {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>
        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <!-- accordion -->
    <div class="row">
        <div class="col-md-7 m-b-30">
            <div id="acc1" style="display:none">
                <ul>
                    <li style="background: linear-gradient(230deg, #f93a5a, #f7778c);">
                        <i class="la la-list-ul"></i>
                        <div class="shown">
                            رفرنس ها:{{ references_all }}
                        </div>
                        <div class="hiddable">
                            <a href="{% url 'reference:reference_list' %}"> <i class="la la-search-dollar"></i> رفرنس
                                های در حال بررسی: <span id="New_Comment"></span>{{ references_investigation }}</a>
                            <a href="{% url 'reference:reference_list' %}"> <i class="la  la-check-square-o"></i>رفرنس
                                های تایید شده و در حال انجام : <span
                                        id="New_User">{{ references_confirm_not_complete }}</span></a>
                            <a href="{% url 'reference:reference_list' %}"> <i class="la la-money-bill-wave"></i> به
                                پایان رسیده ( سود دریافت نشده ) : <span
                                        id="New_Order">{{ references_confirm_complete }}</span></a>
                            <a href="{% url 'reference:reference_list' %}"> <i class="la la-archive"></i> به پایان
                                رسیده: <span id="New_Ticket">{{ references_finished }}</span></a>
                        </div>
                    </li>

                    <li style="background: linear-gradient(to right,#0db2de,#005bea);">
                        <i class="la la-address-book"></i>
                        <div class="shown">
                            مشتری ها: <span data-toggle="tooltip" title="این ماه"
                                            data-placement="bottom">{{ client_all }}</span>
                        </div>
                        <div class="hiddable">
                            <p>مشتری های فعال:<span>{{ client_active }}</span></p>
                            <p>مشتری های غیر فعال:<span>{{ client_not_active }}</span></p>
                            <p>مشتری های جدید:<span>{{ client_new }}</span></p>
                        </div>
                        <a href="#" class="more-details"><i class="la la-arrow-circle-left"></i></a>
                    </li>

                    <li style="background: linear-gradient(to right,#0db2de,#005bea);">
                        <i class="la la-file-invoice-dollar"></i>
                        <div class="shown">
                            کمیسیون ارزی: <span data-toggle="tooltip" title="این ماه" data-placement="bottom"></span>
                        </div>
                        <div class="hiddable">
                            {% if queryset_1.count < 7 %}
                                {% for data in queryset_1 %}

                                    <a {% if data.profit_1.amount > 0 %}
                                        class="la la-caret-up" style="color: #8bff0e"
                                    {% elif data.profit_1.amount < 0 %}
                                        class="la la-caret-down" style="color: #be0606"
                                    {% else %}
                                        style="color: #f67a00 ; font-size: small"
                                    {% endif %} href="{% url 'reference:reference_detail' data.pk %}">
                                        {{ data.reference_number }} {{ data.profit_1 }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                {% for data in queryset_1|slice:":7" %}

                                    <a{% if data.profit_1.amount > 0 %}
                                        class="la la-caret-up" style="color: #8bff0e"
                                    {% elif data.profit_1.amount < 0 %}
                                        class="la la-caret-down" style="color: #be0606"
                                    {% else %}
                                        style="color: #f67a00 ; font-size: small"
                                    {% endif %} href="{% url 'reference:reference_detail' data.pk %}">
                                        {{ data.profit_1 }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a href="{% url 'reference:pie_chart_1' %}" class="more-details"><i
                                class="la la-arrow-circle-left"></i></a>
                    </li>

                    <li style="background: linear-gradient(to right,#0db2de,#005bea);">
                        <i class="la la-wallet"></i>
                        <div class="shown">
                            کمیسیون ریالی: <span data-toggle="tooltip" title="این ماه" data-placement="bottom"></span>
                        </div>
                        <div class="hiddable">
                            {% if queryset_2.count < 7 %}
                                {% for data in queryset_2 %}

                                    <a {% if data.profit_2.amount > 0 %}
                                        class="la la-caret-up" style="color: #8bff0e"
                                    {% elif data.profit_2.amount < 0 %}
                                        class="la la-caret-down" style="color: #be0606"
                                    {% else %}
                                        style="color: #f67a00 ; font-size: small"
                                    {% endif %} href="{% url 'reference:reference_detail' data.pk %}">
                                        {{ data.profit_2 }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                {% for data in queryset_2|slice:":6" %}

                                    <a{% if data.profit_2.amount > 0 %}
                                        class="la la-caret-up" style="color: #8bff0e"
                                    {% elif data.profit_2.amount < 0 %}
                                        class="la la-caret-down" style="color: #be0606"
                                    {% else %}
                                        style="color: #ffffff ; font-size: small"
                                    {% endif %} href="{% url 'reference:reference_detail' data.pk %}">
                                        {{ data.profit_2 }}
                                    </a>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <a href="{% url 'reference:pie_chart_2' %}" class="more-details"><i
                                class="la la-arrow-circle-left"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-5 dashboard-tickets">

            <div class="col-xs-6">
                <div class="overview">
                    <i class="la la-3x la-user-tie"></i>
                    <span><a href="{% url 'client:client_list' %}">{{ client_new_week }}</a></span>
                    <p>مشتریان جدید</p>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="overview">
                    <i class="la la-3x la-truck"></i>
                    <span><a href="{% url 'contact:contact_list' %}">{{ contact_list }}</a></span>
                    <p>شرکت های حمل</p>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="overview">
                    <i class="la la-3x la-wpforms"></i>
                    <span><a href="{% url 'reference:reference_list' %}">{{ references_new }}</a></span>
                    <p>رفرنس های جدید</p>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="overview">
                    <i class="la la-3x la-commenting"></i>
                    <span>20</span>
                    <p>دیدگاه تازه</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /End accordion -->
    <table id="content_table">
        <tr class="row1">
            <td id="column2" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart2">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        سفرهای فعال بازاریاب
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="population-chart"></canvas>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                        <script>

                            $(function () {

                                var $populationChart = $("#population-chart");
                                $.ajax({
                                    url: $populationChart.data("url"),
                                    success: function (data) {

                                        var ctx = $populationChart[0].getContext("2d");

                                        new Chart(ctx, {
                                            type: 'doughnut',
                                            data: {
                                                labels: {{ labels_3|safe }},
                                                datasets: [{
                                                    backgroundColor: [
                                                        'rgb(255, 99, 132)',
                                                        'rgb(75, 192, 192)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(201, 203, 207)',
                                                        'rgb(54, 162, 235)'
                                                    ],
                                                    data: {{ data_3|safe }}
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                legend: {
                                                    position: 'top',
                                                },
                                                title: {
                                                    display: true,
                                                }
                                            }
                                        });

                                    }
                                });

                            });

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>
            <td id="column1" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        سفرهای به پایان رسیده بازاریاب طی یک سال گذشته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="pie-chart"></canvas>
                        </div>
                        <script>
                            var config = {
                                type: 'bar',
                                data: {
                                    labels: {{ labels_4|safe }},
                                    datasets: [{
                                        data: {{ data_4|safe }},
                                        backgroundColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(75, 192, 192)',
                                            'rgb(255, 205, 86)',
                                            'rgb(201, 203, 207)',
                                            'rgb(54, 162, 235)'
                                        ],
                                        borderWidth: 1,
                                        label: "سفرهای به پایان رسیده ",
                                    }],

                                },
                                options: {
                                    responsive: true

                                },
                                scales: {
                                    x: {
                                        stacked: true
                                    },
                                    y: {
                                        stacked: true
                                    }
                                }
                            };
                            window.onload = function () {
                                var ctx = document.getElementById('pie-chart').getContext('2d');
                                window.myPie = new Chart(ctx, config);
                            };

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>
        </tr>
        <tr class="row2">
            <td id="column2" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart3">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        دفترچه تلفن
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="population-chart3"></canvas>
                        </div>
                        <script>

                            $(function () {

                                var $populationChart = $("#population-chart3");
                                $.ajax({
                                    url: $populationChart.data("url"),
                                    success: function (data) {

                                        var ctx = $populationChart[0].getContext("2d");

                                        new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: {{ labels_5|safe }},
                                                datasets: [{
                                                    label: 'تلفن های کریر و کشتی رانی اضافه شده ',
                                                    tension: 1,
                                                    data: {{ data_5|safe }},
                                                    backgroundColor: [
                                                        'rgba(255, 99, 132, 0.2)',
                                                        'rgba(255, 159, 64, 0.2)',
                                                        'rgba(255, 205, 86, 0.2)',
                                                        'rgba(75, 192, 192, 0.2)',
                                                        'rgba(54, 162, 235, 0.2)',
                                                        'rgba(153, 102, 255, 0.2)',
                                                        'rgba(201, 203, 207, 0.2)'
                                                    ],
                                                    borderColor: [
                                                        'rgb(255, 99, 132)',
                                                        'rgb(255, 159, 64)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(75, 192, 192)',
                                                        'rgb(54, 162, 235)',
                                                        'rgb(153, 102, 255)',
                                                        'rgb(201, 203, 207)'
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },

                                        });

                                    }
                                });

                            });

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>
            <td id="column2" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart4">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        مشتری های فعال بازاریاب
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="population-chart4"></canvas>
                        </div>
                        <script>

                            $(function () {

                                var $populationChart = $("#population-chart4");
                                $.ajax({
                                    url: $populationChart.data("url"),
                                    success: function (data) {

                                        var ctx = $populationChart[0].getContext("2d");

                                        new Chart(ctx, {
                                            type: 'polarArea',
                                            data: {
                                                labels: {{ labels_6|safe }},
                                                datasets: [{
                                                    label: 'مشتریان فعال ',
                                                    backgroundColor: [
                                                        'rgb(99,112,255)',
                                                        'rgb(128,192,75)',
                                                        'rgb(255,86,86)',
                                                        'rgb(201,207,206)',
                                                        'rgb(235,54,205)'
                                                    ],
                                                    data: {{ data_6|safe }}
                                                }]
                                            },
                                        });

                                    }
                                });

                            });

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>
        </tr>
        <tr class="row3">
            <td id="column2" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart3">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        سود ارزی سفرهای به پایان رسیده یکسال گذشته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="population-chart5"></canvas>
                        </div>
                        <script>

                            $(function () {

                                var $populationChart = $("#population-chart5");
                                $.ajax({
                                    url: $populationChart.data("url"),
                                    success: function (data) {

                                        var ctx = $populationChart[0].getContext("2d");

                                        new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: {{ labels_7|safe }},
                                                datasets: [{
                                                    label: 'سود ارزی ',
                                                    borderColor: 'rgba(210,10,10,0.91)',
                                                    fill: true,
                                                    tension: 0.1,
                                                    data: {{ data_7|safe }}
                                                }]
                                            },

                                            options: {
                                                animations: {
                                                    tension: {
                                                        duration: 1000,
                                                        easing: 'linear',
                                                        from: 1,
                                                        to: 0,
                                                        loop: true
                                                    }
                                                },
                                                scales: {
                                                    y: { // defining min and max so hiding the dataset does not change scale range
                                                        min: 0,
                                                        max: 100
                                                    }
                                                }
                                            }

                                        });

                                    }
                                });

                            });

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>
            <td id="column2" class="connectcolumn" style="width: 50%">

                <!-- Server status -->
                <div class="panel" id="radarchart6">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        سود ریالی سفرهای به پایان رسیده یکسال گذشته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div id="container">
                            <canvas id="population-chart6"></canvas>
                        </div>
                        <script>

                            $(function () {

                                var $populationChart = $("#population-chart6");
                                $.ajax({
                                    url: $populationChart.data("url"),
                                    success: function (data) {

                                        var ctx = $populationChart[0].getContext("2d");

                                        new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: {{ labels_8|safe }},
                                                datasets: [{
                                                    label: 'سود ریالی ',
                                                    borderColor: 'rgba(10,210,37,0.91)',
                                                    fill: true,
                                                    tension: 0.1,
                                                    data: {{ data_8|safe }}
                                                }]
                                            },

                                            options: {
                                                animations: {
                                                    tension: {
                                                        duration: 1000,
                                                        easing: 'linear',
                                                        from: 1,
                                                        to: 0,
                                                        loop: true
                                                    }
                                                },
                                                scales: {
                                                    y: { // defining min and max so hiding the dataset does not change scale range
                                                        min: 0,
                                                        max: 100
                                                    }
                                                }
                                            }

                                        });

                                    }
                                });

                            });

                        </script>


                    </div>

                </div>
                <!-- /End Server status -->
            </td>


        </tr>
        <tr class="row4">
            <td id="column1" class="connectcolumn">

                <!-- Last comments -->
                <div class="panel" id="comments">
                    <div class="panel-heading">
                        <i class="la la-commenting sort-hand"></i>
                        آخرین دیدگاه ها
                        <div class="pan-btn expand min reload"></div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <!-- Comment loop -->
                            {% for message in emails %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{% url 'account:profile_detail' user.pk %}">
                                                {% if message.sender.avatar %}
                                                    <img class="media-object" src="{{ message.sender.avatar.url }}"
                                                         width="40"
                                                         alt="بارگذاری نشد">
                                                {% else %}
                                                    {% if user.gender == 'F' %}
                                                        <img src="{% static 'registrations\dialog\img\avatar\woman.png' %}"
                                                             class="i#000000=010000" alt="بارگذاری نشد"
                                                            width="40">
                                                    {% else %}
                                                        <img src="{% static 'registrations\dialog\img\avatar\man.png' %}"
                                                             class="i#000000=010000" alt="بارگذاری نشد"
                                                             data-lity=""

                                                            width="40">
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                {{ message.sender.get_full_name }}
                                                <small class="t#0aa">{{ message.timestamp }}</small>

                                            </h4>
                                          <strong>  {{ message.subject|striptags|truncatewords:20 }} </strong> <br>
                                        </div>
                                    </div>
                                    <div class="coment-action">
                                        <a href="{% url 'mail:delete-email' message.id %}">حذف کردن</a>
                                       <a href="{% url 'mail:inbox_detail' message.id %}">  لینک نوشته</a>
                                    </div>
                                </li>
                            {% endfor %}
                            <!-- End comment loop -->
                        </ul>
                    </div>
                </div>
                <!-- /End Last comments -->


                <!-- Zigzag Table -->
                <div class="panel" id="zigzag_table">
                    <div class="panel-heading">
                        <i class="la la-users"></i>
                        کارمندان شرکت هویار ترابر
                        <div class="pan-btn min expand reload"></div>
                    </div>

                    <div class="panel-body">

                        <table class="zigzag">
                            <thead>
                            <tr>
                                <th class="header">نام همکار</th>
                                <th class="header">سمت شغلی</th>
                                <th class="header">ایمیل</th>
                                <th class="header">آخرین ورود</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}
                                <tr>
                                    <td style="text-align: center"><a
                                            href="{% url 'account:profile_detail' user.pk %}">{{ user.get_full_name }}
                                    </td>
                                    <td style="text-align: center">{{ user.job_title }}</td>
                                    <td style="text-align: center">{{ user.email }}</td>
                                    <td style="width:200px;text-align: center">
                                        {{ user.activity.last_activity }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /End Zigzag Table -->


                <!-- Order list -->
                <div class="panel" id="OrderList">
                    <div class="panel-heading">
                        <i class="la la-tasks sort-hand"></i>
                        لیست اولویت
                        <div class="pan-btn min"></div>
                    </div>
                    <div class="panel-body">

                        <table class="table " id="tasktable">
                            <tr class="nodrop">
                                <th>کارها</th>
                                <th>زمان ایجاد</th>
                                <th>زمان انجام کار</th>
                                <th>ایجاد کننده</th>
                                <th>انجام دهنده</th>
                                <th>مربوط به لیست</th>
                            </tr>

                            {% for task in tasks %}
                                <tr id="{{ task.id }}">
                                    <td>
                                        <a href="{% url 'todo:task_detail' task.id %}">{{ task.title|truncatewords:10 }}</a>
                                    </td>
                                    <td>
                                        {{ task.created_date|date:"m/d/Y" }}
                                    </td>
                                    <td>
              <span {% if task.overdue_status %}class="overdue"{% endif %}>
                {{ task.due_date|date:"m/d/Y" }}
              </span>
                                    </td>
                                    <td>
                                        {{ task.created_by }}
                                    </td>
                                    <td>
                                        {% if task.assigned_to %}{{ task.assigned_to }}{% else %}هرکسی{% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'todo:list_detail' task.task_list.id task.task_list.slug %}">   {{ task.task_list }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
                <!-- /End Order list -->
            </td>

            <td id="column2" class="connectcolumn" style="width: 350px">

                <div class="panel" id="easy_pie" style="border-radius: 10px;">
                    <div class="panel-heading" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        <i class="la la-pie-chart sort-hand ui-sortable-handle"></i>
                        نگاه کلی
                        <div class="pan-btn min expand reload"><span
                                class="minimize_btn la la-chevron-up waves-effect waves-circle"></span><span
                                class="fullsize_btn la la-expand waves-effect waves-circle"></span><span
                                class="reload_btn la la-refresh waves-effect waves-circle"></span></div>
                    </div>
                    <div class="panel-body">

                        <ul class="list-group">
                            <li class="list-group-item clearfix">
                                <div id="pie_chart1" class="pie-chart pull-left" data-percent="-46">
                                    <span class="percent">-46</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <div class="after-chart">
                                    سفارشات <p class="after-chart-description">کاهش</p>
                                </div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div id="pie_chart3" class="pie-chart pull-left" data-percent="18">
                                    <span class="percent">18</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <div class="after-chart">
                                    سود <p class="after-chart-description">افزایش</p>
                                </div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div id="pie_chart4" class="pie-chart pull-left" data-percent="-20">
                                    <span class="percent">-20</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <div class="after-chart">
                                    فروش <p class="after-chart-description">کاهش</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Weather summary -->
                <div class="panel" id="weather">
                    <div class="panel-heading">
                        <i class="la la-cloud sort-hand"></i>
                        خلاصه آب و هوا
                        <div class="pan-btn expand min reload"></div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <a class="weatherwidget-io" href="https://forecast7.com/en/35d6951d39/tehran/"
                                   data-label_1="TEHRAN" data-label_2="WEATHER" data-theme="mountains">TEHRAN
                                    WEATHER</a>
                                <script>
                                    !function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = 'https://weatherwidget.io/js/widget.min.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'weatherwidget-io-js');
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /End Weather summary -->
            </td>
        </tr>
    </table>

{% endblock %}