{% extends 'basic.html' %}
{% block title %} My Awesome Cart Tracker{% endblock %}
{% block body %}
    <div class="container">
        <div class="col my-4">
            <h2>Enter your Order Id and Email address to track your order</h2>
            <form method="post" action="#" id="trackerForm">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputname">Order Id</label>
                        <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </div>
            </form>
        </div>
        <div class="col my-4">
            <h2>Your Order Status</h2>
            <div style="direction: rtl" class="my-4">
                <ul class="list-group" id="items">
                    Enter your order Id and Email and click Track Order to find details about your order!
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#trackerForm').submit(function (event) {
            $('#items').empty();
            var formData = {
                'orderId': $('input[name=orderId]').val(),
                'email': $('input[name=email]').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/shop/tracker/',
                data: formData,
                encode: true
            })
                .done(function (data) {
                    console.log(data)
                    updates = JSON.parse(data);
                    if (updates.length > 0 & updates != {}) {
                        for (i = 0; i < updates.length; i++) {
                            let text = updates[i]['text'];
                            let time = updates[i]['time'];
                            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                            $('#items').append(mystr);
                        }
                    } else {
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                        $('#items').append(mystr);
                    }
                });
            event.preventDefault();
        });
    </script>
{% endblock %}