{% extends 'registration/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}ایمیل{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
    {% block script %}
    {% endblock %}
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<p>{{ form.non_field_errors }}</p>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>