<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={% url 'two_factor:login' %}">
        <script type="text/javascript">
            window.location.href = {% url 'two_factor:login' %}
        </script>
        <title>Page Redirection</title>
    </head>
</html>