{% extends 'registration/base.html' %}
<title>{% block title %} نقشه گوگل {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">نقشه گوگل</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>نقشه ها</span></li>
            <li><span>نقشه گوگل</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- panel -->
                <div class="panel" id="large">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        نقشه قابل کشیدن به همراه دکمه
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.6668321694902!2d51.41802597083242!3d35.734399287380576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01a459b2a2a7%3A0x706df27e3feecaa0!2z2YfZiNuM2KfYsSDYqtix2KfYqNix!5e0!3m2!1sfa!2s!4v1648235423117!5m2!1sfa!2s"
                                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!-- /End panel -->


                <!-- panel -->
                <div class="panel" id="small1">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        نقشه کوچک
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.6668321694902!2d51.41802597083242!3d35.734399287380576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01a459b2a2a7%3A0x706df27e3feecaa0!2z2YfZiNuM2KfYsSDYqtix2KfYqNix!5e0!3m2!1sfa!2s!4v1648235423117!5m2!1sfa!2s"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!-- /End panel -->

            </td>
        </tr>
    </table>
{% endblock %}
