{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% block title %}{% block title_meta %}تغییر گذرواژه{% endblock %}{% endblock %}
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li> تغییر رمز ورود</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        تغییر رمز ورود
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group col-md-12 ">
                                    <div class="form-group col-md-6 mb-0">
                                        <strong>رمز قدیمی</strong>
                                        {{ form.old_password|add_class:'form-control' }}
                                        {% if form.old_password.errors %}
                                            <div class="text-danger">
                                                {{ form.old_password.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <div class="form-group col-md-6 mb-0">
                                        <strong>رمز جدید</strong>

                                        {{ form.new_password1|add_class:'form-control' }}
                                        {% if form.new_password1.errors %}
                                            <div class="text-danger">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        <strong>تکرار رمز جدید</strong>

                                        {{ form.new_password2|add_class:'form-control' }}
                                        {% if form.new_password2.errors %}
                                            <div class="text-danger">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button class="btn btn-danger">تغییر گذرواژه</button>
                            </div>


                        </form>

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}



