{% load  static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <!-- Header meta tags -->
    <meta charset="utf-8">
    <title>دیالوگ - برگه پیدا نشد</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'registrations/login/blank/blank.css' %}" rel="stylesheet"
          type="text/css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'registrations/dialog/img/favicon/favicon.png' %}">

    <!-- Header scripts -->
    <script type="text/javascript" src="{% static 'registrations/dialog/js/modernizr-custom.js' %}"></script>
</head>

<body>

<h1 align="center"><a class="t#eee=bbb" href="index.html">برند یا لوگو</a></h1>

<!-- multistep form -->
<form id="msform">

    <div class="box b#005bea b%3 t#bbb">
        <div class="col-md-8 text-center mx-auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
                </div>
                <div class="card-body ">
                    <form method="post">
                        <div class="colM" id="content">
                            <h3>تقاضای ریست رمز به ایمیل شما فرستاده شد.</h3>
                            <a style="color: #fdebd0" class="myfont" href="{% url 'two_factor:login' %}"><br><u>ورود به صفحه ورود</u></a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>

</form>


<!-- downloaded scripts (for all pages) -->
<script type="text/javascript" src="{% static 'registrations/dialog/js/pack.js' %}"></script>

</body>
</html>

