{% extends 'registration/base.html' %}
<title>{% block title %} سود ماهانه {% endblock %}</title>
{% block content %}
    <section class="clearfix b#fff">
        <div id="content" class="col-lg-12 col-xs-12">

            <!-- title and breadcrumb -->
            <div class="page-header">
                <h2 class="page-title">کمیسیون ماهانه</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'account:home' %}">پیشخوان</a></li>
                    <li><span>کمیسیون ماهانه</span></li>
                </ol>

                <div class="Jalali pull-right">
                    <p id="JalaliDayAndDate"></p>
                </div>
            </div>
            <!-- /End title and breadcrumb -->

            <table id="content_table">
                <tr class="row1">
                    <td id="column0" class="connectcolumn" colspan="2">

                        <!-- Inline forms -->
                        <div class="panel" id="color">
                            <div class="panel-heading">
                                <i class="la la-hashtag sort-hand"></i>
                                جزئیات کمیسیون ریالی
                                <div class="pan-btn expand min"></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-sm-3">

                                        <!-- image and nav -->
                                        <div class="panel nav-sidebar-tab" style="border-radius: 10px;">


                                            <div class="well Ribbon b#5ec"
                                                 style="background-color: rgb(255,255,255) !important;">
                                                <h2 class="t#9fe"
                                                    style="color: rgb(52,81,229) !important;">{{ queryset_2.0.companyName.sales.get_full_name }}</h2>
                                            </div>
                                        </div>

                                        <!-- friends -->
                                    </div>


                                    <div class="col-sm-9 user-profile-content">
                                        <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                            <!-- profile -->
                                            <div class="tab-pane fade in active" id="prof">

                                                <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">مشخصات این سفر</h3>

                                                <div class="panel m-t-30" style="border-radius: 10px;">

                                                    <div class="panel-heading Montserrat-font"
                                                         style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                        <h1 class="panel-title">مشخصات</h1>
                                                    </div>

                                                    <div class="panel-body">
                                                        <table class="table">
                                                            <tbody>
                                                            {% if queryset_2 %}
                                                                {% for data in queryset_2 %}
                                                                    <tr>
                                                                        <td>سود ارزی شماره رفرنس <a class="text-warning"
                                                                                                    href="{% url 'reference:reference_detail' data.pk %}">{{ data.reference_number }}</a>:
                                                                        </td>
                                                                        <td {% if data.profit_2.amount > 0 %}
                                                                            class="la la-caret-up"
                                                                            style="color: #2fad00"
                                                                        {% elif data.profit_2.amount < 0 %}
                                                                            class="la la-caret-down"
                                                                            style="color: #be0606"
                                                                        {% else %}
                                                                            style="color: #f67a00 ; font-size: large"
                                                                        {% endif %}>
                                                                            {{ data.profit_2 }}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% else %}
                                                                <h3 class="text-danger">کمیسیون ریالی برای شما در
                                                                    سیستم ثبت نشده است . </h3>
                                                                <ul style="list-style-type: circle">
                                                                    <li>یا وضعیت سفر را باید به
                                                                        "تایید و به پایان رسیده ( سود دریافت نشده )"
                                                                        تغییر دهید.
                                                                    </li>
                                                                    <li>یا رفرنس جدیدی
                                                                        در مرحله دریافت کمیسیون ریالی ندارید .
                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /End Inline forms -->
                    </td>
                </tr>
            </table>
            <table id="content_table">
                <tr class="row2">
                    <td id="column1" class="connectcolumn">

                        <!-- Radar Chart -->
                        <div class="panel" id="radarchart">
                            <div class="panel-heading">
                                <i class="la la-hashtag sort-hand"></i>
                                کمیسیون ریالی
                                <div class="pan-btn expand min"></div>
                            </div>

                            <div class="panel-body">
                                {% if queryset_2 %}
                                    <div id="container">
                                        <canvas id="pie-chart"></canvas>
                                    </div>
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                                    <script>
                                        var config = {
                                            type: 'doughnut',
                                            data: {
                                                datasets: [{
                                                    data: {{ data_2|safe }},
                                                    backgroundColor: [
                                                        'rgba(218,101,101,0.44)', 'rgba(119,183,122,0.36)', 'rgba(91,104,162,0.55)', 'rgba(199,189,120,0.59)', '#D3D3D3'
                                                    ],
                                                    label: 'Population'
                                                }],
                                                labels: {{ labels_2|safe }}
                                            },
                                            options: {
                                                responsive: true
                                            }
                                        };

                                        window.onload = function () {
                                            var ctx = document.getElementById('pie-chart').getContext('2d');
                                            window.myPie = new Chart(ctx, config);
                                        };

                                    </script>
                                {% else %}
                                    <h3 class="text-danger">کمیسیون ارزی برای شما در
                                        سیستم ثبت نشده است . </h3>
                                    <ul style="list-style-type: circle">
                                        <li>یا وضعیت سفر را باید به
                                            "تایید و به پایان رسیده ( سود دریافت نشده )"
                                            تغییر دهید.
                                        </li>
                                        <li>یا رفرنس جدیدی
                                            در مرحله دریافت کمیسیون ارزی ندارید .
                                        </li>
                                    </ul>
                                {% endif %}

                            </div>
                        </div>
                        <!-- /End Radar Chart -->

                    </td>

            </table>

        </div>
    </section>
{% endblock %}