{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}

<title>{% block title %} پروفایل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        <div class="row">

                            <!-- navigation -->
                            <div class="col-sm-3">

                                <!-- image and nav -->
                                <div class="panel nav-sidebar-tab" style="border-radius: 10px;">
                                    <div class="profie-avatar b#0162e8" style="background-color: rgb(1, 98, 232);">
                                        {% if user.avatar %}

                                            <img src="{{ user.avatar.url }}" class="i#000000=010000" alt="بارگذاری نشد"
                                                 data-lity=""
                                                 style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            <div class="t#fff Ubuntu-font" style="color: rgb(255, 255, 255);">
                                                {{ user.get_full_name }}
                                            </div>
                                        {% else %}
                                            {% if user.gender == 'F' %}
                                                <img src="{% static 'registrations\dialog\img\avatar\woman.png' %}"
                                                     class="i#000000=010000" alt="بارگذاری نشد"
                                                     data-lity=""
                                                     style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            {% else %}
                                                <img src="{% static 'registrations\dialog\img\avatar\man.png' %}"
                                                     class="i#000000=010000" alt="بارگذاری نشد"
                                                     data-lity=""
                                                     style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <ul class="nav tabs">
                                        <li class="active"><a href="#prof" data-toggle="tab">پروفایل</a></li>
                                        <li class=""><a href="#activity" data-toggle="tab">فعالیت اخیر</a></li>
                                        <li class=""><a href="{% url 'account:profile' %}">ویرایش پروفایل</a></li>
                                    </ul>
                                </div>

                                <!-- friends -->
                                <div class="panel second-nav" style="border-radius: 10px;">
                                    <div class="panel-body">
                                        <h4>وضعیت</h4>
                                        {{ user.about }}
                                    </div>
                                </div>
                            </div>

                            <!-- content -->
                            <div class="col-sm-9 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">حساب کاربری</h3>

                                        <div class="panel m-t-30" style="border-radius: 10px;">

                                            <div class="panel-heading Montserrat-font"
                                                 style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <h1 class="panel-title">مشخصات</h1>
                                            </div>

                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="first-table-row">
                                                        <td>بخش:</td>
                                                        <td>{{ user.job_title }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>تاریخ آخرین ورود</td>
                                                        <td>{{ user.last_login }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>جنسیت</td>
                                                        <td>{{ user.get_gender_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ایمیل</td>
                                                        <td>{{ user.email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره تلفن</td>
                                                        <td>{{ user.phone_number }}</td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>

                                            <div class="panel-footer"
                                                 style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                                <a class="btn btn-primary waves-effect" title="پیام برودکست" tooltip=""><i
                                                        class="la la-envelope"></i></a>
                                                <span class="pull-right">
											<a href="{% url 'account:profile' %}" class="btn btn-warning waves-effect"
                                               title="ویرایش این کاربر" tooltip=""><i class="la la-edit"></i></a>
										</span>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- activity -->
                                    <div class="tab-pane fade in" id="activity">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">فعالیت های اخیر</h3>

                                        <!-- The Timeline -->
                                        <ul class="timeline">

                                            <!-- Item 1 -->
                                            <li>
                                                <div class="direction-r">
                                                    <div class="flag-wrapper">
                                                        <span class="flag">فریلنسر</span>
                                                        <span class="time-wrapper">2013 - تاکنون</span>
                                                    </div>
                                                    <div class="desc">شغل فعلی من</div>
                                                </div>
                                            </li>

                                            <!-- Item 2 -->
                                            <li>
                                                <div class="direction-l">
                                                    <div class="flag-wrapper">
                                                        <span class="flag">شرکت اپل</span>
                                                        <span class="time-wrapper">2013 - 2011</span>
                                                    </div>
                                                    <div class="desc">شغل اول من</div>
                                                </div>
                                            </li>

                                            <!-- Item 3 -->
                                            <li>
                                                <div class="direction-r">
                                                    <div class="flag-wrapper">
                                                        <span class="flag">دانشگاه هاروارد</span>
                                                        <span class="time-wrapper">2011 - 2008</span>
                                                    </div>
                                                    <div class="desc">دانشگاه محل تحصبل من</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- edit user -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

