{% extends 'registration/base.html' %}
{% load widget_tweaks %}

<title>{% block title %} پروفایل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-12">
                            <!-- general form elements -->

                            <div class="card-header">
                                <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
                            </div>

                            <div class="card-body">
                                <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.username.label }}
                                        {{ form.username|add_class:'form-control' }}
                                        {% if form.username.errors %}
                                            <div class="text-danger">
                                                {{ form.username.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.first_name.label }}
                                        {{ form.first_name|add_class:'form-control' }}
                                        {% if form.first_name.errors %}
                                            <div class="text-danger">
                                                {{ form.first_name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.last_name.label }}
                                        {{ form.last_name|add_class:'form-control' }}
                                        {% if form.last_name.errors %}
                                            <div class="text-danger">
                                                {{ form.last_name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ form.email.label }}
                                        {{ form.email|add_class:'form-control' }}
                                        {% if form.email.errors %}
                                            <div class="text-danger">
                                                {{ form.email.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.phone_number.label }}
                                        {{ form.phone_number|add_class:'form-control' }}
                                        {% if form.phone_number.errors %}
                                            <div class="text-danger">
                                                {{ form.phone_number.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.gender.label }}
                                        {{ form.gender|add_class:'form-control' }}
                                        {% if form.gender.errors %}
                                            <div class="text-danger">
                                                {{ form.gender.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.job_title.label }}
                                        {{ form.job_title|add_class:'form-control' }}
                                        {% if form.job_title.errors %}
                                            <div class="text-danger">
                                                {{ form.job_title.errors }}
                                            </div>
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        {{ form.about.label }}
                                        {{ form.about|add_class:'form-control' }}
                                        {% if form.about.errors %}
                                            <div class="text-danger">
                                                {{ form.about.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {{ form.avatar.label }}
                                        {{ form.avatar }}
                                        {% if form.avatar.errors %}
                                            <div class="text-danger">
                                                {{ form.avatar.errors }}
                                            </div>
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        <button  type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-ok"></span> Save
                                        </button>
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
