{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
<title>{% block title %} ایجاد و ویرایش رفرنس {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %}  ایجاد و ویرایش رفرنس  {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'reference:reference_list' %}">/ رفرنس لیست </a></li>

            <li>ایجاد و ویرایش رفرنس</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        ایجاد رفرنس
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">

                        <div class="col-md-12">
                            <!-- general form elements -->

                            <div class="card-body">
                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            {% bootstrap_icon "star" %} ثبت تغییرات
                                        </button>
                                    {% endbuttons %}
                                </form>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}