{% extends 'registration/base.html' %}
{% load ratings %}
{% load widget_tweaks %}
<title>{% block title %} جستجوی پیشرفته رفرنس لیست  {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جستجوی پیشرفته رفرنس لیست {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'reference:reference_list' %}">رفرنس لیست</a></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table class="col-md-6" id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جستجوی پیشرفته رفرنس لیست
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">

                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.reference_number.label_tag }}
                                                    {% render_field filter.form.reference_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.companyName.label_tag }}
                                                    {% render_field filter.form.companyName class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.kind_shipment.label_tag }}
                                                    {% render_field filter.form.kind_shipment class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.country_of_receipt.label_tag }}
                                                    {% render_field filter.form.country_of_receipt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.port_of_receipt.label_tag }}
                                                    {% render_field filter.form.port_of_receipt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.port_of_discharge.label_tag }}
                                                    {% render_field filter.form.port_of_discharge class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.status.label_tag }}

                                                    {% render_field filter.form.status class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    <strong for="id_due_date">تاریخ ایجاد</strong>
                                                    {% render_field filter.form.created class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__gt.label_tag }}
                                                    {% render_field filter.form.year_joined__gt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__lt.label_tag }}
                                                    {% render_field filter.form.year_joined__lt class="form-control" %}
                                                </div>

                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            <a href="{% url 'client:client-create' %}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد رفرنس
                                            </a>
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if filter.qs %}
                            <table style="font-size: 14px" id="grid"
                                   class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شماره </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:45px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">  شرکت</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نوع حمل</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">کشور مبدا</span><span
                                            class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">محل بارگیری</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نرخ خرید ارزی</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نرخ فروش ارزی</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">سود ارزی </span><span class="icon fa "></span></a></th>
                                    {% if not profit_2 == 0 %}

                                        <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                class="column-header-anchor "><span
                                                class="text">سود ریالی </span><span class="icon fa "></span></a></th>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                class="column-header-anchor "><span
                                                class="text">بازاریاب</span><span class="icon fa "></span></a>
                                        </th>
                                    {% endif %}
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">وضعیت</span><span class="icon fa "></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor "><span
                                            class="text">ویرایش رفرنس</span><span class="icon fa "></span></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reference in filter.qs %}
                                    <tr class="text-center {% if reference.status == 'p' %}success active
                    {% elif reference.status == 'd' %} danger active
                    {% elif reference.status == 'e' %} info active
                    {% elif reference.status == 'f' %} dark active
                    {% else %}warning active
                    {% endif %}" data-row-id="5">
                                        <td class="text-center text-warning"
                                            style="width:100px;"><a
                                                href="{% url 'reference:reference_detail' reference.pk %}">{{ reference.reference_number }}</a>
                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ reference.companyName }}</td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.kind_shipment }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.get_country_of_receipt_display }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.port_of_receipt }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.net_rate_1 }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ reference.selling_rate_1 }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ reference.profit_1 }}
                                        </td>
                                        {% if not profit_2 == 0 %}
                                            <td class="text-center" style="width:75px;">
                                                {{ reference.profit_2 }}
                                            </td>
                                        {% endif %}

                                        {% if user.is_superuser %}
                                            <td class="text-center" style="width:75px;">
                                                {{ reference.companyName.sales }}
                                            </td>
                                        {% endif %}
                                        <td>
                                            {% if reference.status == 'p' %}
                                                <span class="badge progress-bar-success">تایید شد و در حال انجام</span>
                                            {% elif reference.status == 'i' %}
                                                <span class="badge progress-bar-warning">در حال بررسی</span>
                                            {% elif reference.status == 'd' %}
                                                <span class="badge progress-bar-danger">کنسل شد</span>
                                            {% elif reference.status == 'e' %}
                                                <span class="badge progress-bar-info">به پایان رسید ( در مرحله دریافت سود )</span>
                                            {% elif reference.status == 'f' %}
                                                <span class="badge progress-bar-striped">بایگانی</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            <p><a href="{% url 'reference:reference-update' reference.pk %}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                            <!--/div-->
                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}