{% extends 'registration/base.html' %}
{% load ratings %}
<title>{% block title %} رفرنس لیست {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} رفرنس لیست {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li>رفرنس لیست</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table class="col-md-6" id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        رفرنس لیست
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'reference:reference-create' %}"
                                               class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد رفرنس جدید
                                            </a>
                                        </div>
                                    </div>
                                    <div class="actions btn-group">
                                        <div class="dropdown btn-group">
                                            <a href="{% url 'reference:search_reference_list' %}"
                                               class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-search"></span> جستجوی پیشرفته
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        {% if references %}
                            <table style="font-size: 14px" id="grid"
                                   class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شماره </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:45px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">  شرکت</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نوع حمل</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">کشور مبدا</span><span
                                            class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">محل بارگیری</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نرخ خرید ارزی</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نرخ فروش ارزی</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">سود ارزی </span><span class="icon fa "></span></a></th>
                                    {% if not profit_2 == 0 %}

                                        <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                class="column-header-anchor "><span
                                                class="text">سود ریالی </span><span class="icon fa "></span></a></th>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                class="column-header-anchor "><span
                                                class="text">بازاریاب</span><span class="icon fa "></span></a>
                                        </th>
                                    {% endif %}
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">وضعیت</span><span class="icon fa "></span></a>
                                    </th>
                                    <th data-column-id="link" class="right-center" style="width:80px;"><a
                                            class="column-header-anchor "><span
                                            class="text">ویرایش رفرنس</span><span class="icon fa "></span></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reference in object_list %}
                                    <tr class="text-center {% if reference.status == 'p' %}success active
                    {% elif reference.status == 'd' %} danger active
                    {% elif reference.status == 'e' %} info active
                    {% elif reference.status == 'f' %} dark active
                    {% else %}warning active
                    {% endif %}" data-row-id="5">
                                        <td class="text-center text-warning"
                                            style="width:100px;"><a
                                                href="{% url 'reference:reference_detail' reference.pk %}">{{ reference.reference_number }}</a>
                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ reference.companyName }}</td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.kind_shipment }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.get_country_of_receipt_display }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.port_of_receipt }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ reference.net_rate_1 }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ reference.selling_rate_1 }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ reference.profit_1 }}
                                        </td>
                                        {% if not profit_2 == 0 %}
                                            <td class="text-center" style="width:75px;">
                                                {{ reference.profit_2 }}
                                            </td>
                                        {% endif %}

                                        {% if user.is_superuser %}
                                            <td class="text-center" style="width:75px;">
                                                {{ reference.companyName.sales }}
                                            </td>
                                        {% endif %}
                                        <td>
                                            {% if reference.status == 'p' %}
                                                <span class="badge progress-bar-success">تایید شد و در حال انجام</span>
                                            {% elif reference.status == 'i' %}
                                                <span class="badge progress-bar-warning">در حال بررسی</span>
                                            {% elif reference.status == 'd' %}
                                                <span class="badge progress-bar-danger">کنسل شد</span>
                                            {% elif reference.status == 'e' %}
                                                <span class="badge progress-bar-info">به پایان رسید ( در مرحله دریافت سود )</span>
                                            {% elif reference.status == 'f' %}
                                                <span class="badge progress-bar-striped">بایگانی</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            <p><a href="{% url 'reference:reference-update' reference.pk %}" >
                                                 <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div id="grid-footer" class="bootgrid-footer container-fluid">
                                <div class="row">
                                    <div class="col-sm-6"><p class="pagination" aria-hidden="true"
                                                             style="display: none;"></p></div>
                                    <div class="col-sm-6 infoBar">
                                        {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                        <li class="active"><span>{{ i }} <span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                            <!--/div-->
                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
