{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load comment_tags %}
{% load ratings %}
{% load static %}
<title>{% block title %} جزئیات رفرنس {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جزئیات رفرنس {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'reference:reference_list' %}">رفرنس لیست </a></li>
            <li>جزئیات رفرنس</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جزئیات رفرنس
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-3">

                                <!-- image and nav -->
                                <div class="panel nav-sidebar-tab" style="border-radius: 10px;">


                                    <div class="well Ribbon b#5ec"
                                         style="background-color: rgb(255,255,255) !important;">
                                        <h2 class="t#9fe"
                                            style="color: rgb(52,81,229) !important;">{{ reference.reference_number }}</h2>
                                    </div>

                                    <ul class="nav tabs">

                                        <li class="active"><a href="#prof" data-toggle="tab">مشخصات رفرنس</a></li>
                                        <li class=""><a href="#activity" data-toggle="tab">نظرات </a>
                                        </li>
                                        <li class=""><a href="{% url 'reference:reference-update' reference.pk %}">ویرایش
                                            رفرنس</a></li>
                                    </ul>
                                </div>

                                <!-- friends -->
                            </div>

                            <!-- content -->
                            <div class="col-sm-9 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">مشخصات این رفرنس</h3>

                                        <div class="panel m-t-30" style="border-radius: 10px;">


                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="first-table-row ">
                                                        <td>شماره رفرنس</td>
                                                        <td class="text-danger">{{ reference.reference_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>نام شرکت</td>
                                                        <td>
                                                            <a class="btn btn-raised"
                                                               href="{% url 'client:client_detail' reference.companyName.pk %}">

                                                                {{ reference.companyName }}

                                                            </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>نوع حمل</td>
                                                        <td>{{ reference.kind_shipment }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>زمان شروع حمل</td>
                                                        <td>{{ reference.start_project }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>کشور بارگیری</td>
                                                        <td>{{ reference.get_country_of_receipt_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>پورت بارگیری</td>
                                                        <td>{{ reference.port_of_receipt }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>کشور مقصد</td>
                                                        <td>{{ reference.get_country_of_discharge_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>گمرک مقصد</td>
                                                        <td>{{ reference.port_of_discharge }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>وضعیت پرداخت بارنامه MBL</td>
                                                        <td>{{ reference.get_status_MBL_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>وضعیت پرداخت بارنامه HBL</td>
                                                        <td>{{ reference.get_status_HBL_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>شرکت حمل کننده کالا</td>

                                                        <td>
                                                            {% if reference.carrier %}
                                                                <a class="btn btn-raised"
                                                                   href="{% url 'contact:contact_detail_list' reference.carrier.slug %}">{{ reference.carrier }}</a>
                                                            {% else %}
                                                                مشخص نشده است.
                                                            {% endif %}
                                                        </td>

                                                    </tr>
                                                    <tr class="danger">
                                                        <td>نرخ خرید ارزی</td>
                                                        <td>{{ reference.net_rate_1 }} </td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>نرخ فروش ارزی</td>
                                                        <td>{{ reference.selling_rate_1 }} </td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>سود ارزی</td>
                                                        <td>{{ reference.profit_1 }} </td>
                                                    </tr>
                                                    {% if not profit_2 == 0 %}
                                                        <tr style="border-top: double" class="danger">
                                                            <td>نرخ خرید ریالی</td>
                                                            <td>{{ reference.net_rate_2 }} </td>
                                                        </tr>
                                                        <tr class="info">
                                                            <td>نرخ فروش ریالی</td>
                                                            <td>{{ reference.selling_rate_2 }} </td>
                                                        </tr>
                                                        <tr class="success">
                                                            <td>سود ریالی</td>
                                                            <td>{{ reference.profit_2 }} </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>زمان تقریبی رسیدن محموله</td>
                                                        <td>{{ reference.ETA }} </td>
                                                    </tr>
                                                    {% if reference.status == 'p' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>{{ reference.period_time }} روز</td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if reference.status == 'i' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>پروسه حمل هنوز آغاز نشده است.</td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if reference.status == 'e' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>محموله در تاریخ {{ reference.ETA }} به مقصد رسید.
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if reference.status == 'f' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>محموله در تاریخ {{ reference.ETA }} به مقصد رسید.
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>وضعیت سفر</td>
                                                        <td>
                                                            {% if reference.status == 'p' %}
                                                                <span class="badge progress-bar-success">تایید شد و در حال انجام</span>
                                                            {% elif reference.status == 'i' %}
                                                                <span class="badge progress-bar-warning">در حال بررسی</span>
                                                            {% elif reference.status == 'd' %}
                                                                <span class="badge progress-bar-danger">کنسل شد</span>
                                                            {% elif reference.status == 'e' %}
                                                                <span class="badge progress-bar-info">به پایان رسید ( در مرحله دریافت سود )</span>
                                                            {% elif reference.status == 'f' %}
                                                                <span class="badge progress-bar-striped">بایگانی</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% if  reference.description %}
                                                        <tr>
                                                            <td>توضیحات اضافه</td>
                                                            <td>{{ reference.description }} </td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>

                                            </div>


                                        </div>
                                    </div>
                                    <!-- activity -->
                                    <div class="tab-pane fade in" id="activity">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">نظرات در باره این سفر</h3>
                                        <br>
                                        <div class="panel m-t-30" style="border-radius: 10px;">

                                            <div class="panel-heading Montserrat-font"
                                                 style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <!-- The Timeline -->
                                                <div class="row">
                                                    <div class="col-12">
                                                        {% render_comments object request %}

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- edit user -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

