{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load ratings %}
<title>{% block title %} لیست سفر ها {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} لیست سفر {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان</a></li>
            <li>لیست سفر</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table class="col-md-6" id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        گزارش سفر
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">
                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.shipment_number.label_tag }}
                                                    {% render_field filter.form.shipment_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.reference_number.label_tag }}
                                                    {% render_field filter.form.reference_number__reference_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    <label>شماره کانتینر:</label>
                                                    {% render_field filter.form.container_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.BL_number.label_tag }}
                                                    {% render_field filter.form.BL_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    <label>بازاریاب:</label>
                                                    {% render_field filter.form.reference_number__companyName__sales class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.truck_number.label_tag }}
                                                    {% render_field filter.form.truck_number class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    <label>نوع سفر:</label>

                                                    {% render_field filter.form.kind_shipment class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.created.label_tag }}
                                                    {% render_field filter.form.created class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__gt.label_tag }}
                                                    {% render_field filter.form.year_joined__gt class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.year_joined__lt.label_tag }}
                                                    {% render_field filter.form.year_joined__lt class="form-control" %}
                                                </div>

                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            {% if user.is_document %}
                                                <a href="{% url 'shipment:shipment-create' %}" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-plus"></span> ایجاد سفر جدید
                                                </a>
                                            {% endif %}
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if filter.qs %}
                            <table style="font-size: 14px" id="grid"
                                   class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شماره سفر </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:60px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">شماره رفرنس</span><span
                                            class="icon fa"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">نوع حمل</span><span class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">شماره بارنامه</span><span
                                            class="icon fa "></span></a></th>

                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">وضعیت MBL</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">وضعیت HBL </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">زمان ایجاد</span><span class="icon fa "></span></a>
                                    </th>
                                    {% if user.is_account or user.is_document %}
                                        <th data-column-id="link" class="text-center" style="width:75px;"><a
                                                class="column-header-anchor "><span
                                                class="text">ویرایش رفرنس</span><span class="icon fa "></span></a></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for shipment in filter.qs %}
                                    <tr class="text-center {% if shipment.kind_shipment == 'TT' %}success active
                    {% elif shipment.kind_shipment == 'SC' %} danger active
                    {% elif shipment.kind_shipment == 'CC' %} info active
                    {% elif shipment.kind_shipment == 'TR' %} dark active
                    {% else %}warning active
                    {% endif %}" data-row-id="5">
                                        <td class="text-center text-warning"
                                            style="width:100px;"><a
                                                href="{% url 'shipment:shipment_detail' shipment.pk %}">{{ shipment.shipment_number }}</a>
                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ shipment.reference_number }}</td>

                                        <td class="text-center" style="width:75px;">
                                            {{ shipment.kind_shipment }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ shipment.BL_number }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ shipment.get_MBL_status_display }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {{ shipment.get_HBL_status_display }}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {{ shipment.created }}
                                        </td>
                                        {% if user.is_account or user.is_document %}
                                            <td class="text-center" style="width:75px;">
                                                <p><a href="{% url 'shipment:shipment-update' shipment.pk %}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                </p>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <!--/div-->
                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}