{% extends 'registration/base.html' %}
{% load widget_tweaks %}

<title>{% block title %} ایجاد و ویرایش سفر {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} ایجاد و ویرایش سفر {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'shipment:shipment_list' %}">لیست سفر ها </a></li>
            <li>ایجاد و ویرایش سفر</li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        ایجاد و ویرایش سفر
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-12">
                            <!-- general form elements -->

                            <div class="card-body">
                                <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <strong for="id_due_date">شماره سفر</strong>
                                        {{ form.shipment_number|add_class:'form-control' }}
                                        {% if form.shipment_number.errors %}
                                            <div class="text-danger">
                                                {{ form.shipment_number.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">شماره رفرنس</strong>
                                        {{ form.reference_number|add_class:'form-control' }}
                                        {% if form.reference_number.errors %}
                                            <div class="text-danger">
                                                {{ form.reference_number.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">نوع حمل</strong>
                                        {{ form.kind_shipment|add_class:'form-control' }}
                                        {% if form.kind_shipment.errors %}
                                            <div class="text-danger">
                                                {{ form.kind_shipment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <strong for="id_due_date">شماره بارنامه</strong>
                                        {{ form.BL_number|add_class:'form-control' }}
                                        {% if form.BL_number.errors %}
                                            <div class="text-danger">
                                                {{ form.BL_number.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">شماره کانتینر</strong>
                                        {{ form.container_number|add_class:'form-control' }}
                                        {% if form.container_number.errors %}
                                            <div class="text-danger">
                                                {{ form.container_number.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">شماره کامیون</strong>
                                        {{ form.truck_number|add_class:'form-control' }}
                                        {% if form.truck_number.errors %}
                                            <div class="text-danger">
                                                {{ form.gender.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">وضعیت بارنامه دریایی</strong>
                                        {{ form.MBL_status|add_class:'form-control' }}
                                        {% if form.MBL_status.errors %}
                                            <div class="text-danger">
                                                {{ form.MBL_status.errors }}
                                            </div>
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        <strong for="id_due_date">وضعیت بارنامه فورواردری</strong>
                                        {{ form.HBL_status|add_class:'form-control' }}
                                        {% if form.HBL_status.errors %}
                                            <div class="text-danger">
                                                {{ form.HBL_status.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">آیا صورتحساب کرایه حمل پرداخت شده است ؟</strong>
                                        {{ form.freight_charge_payment|add_class:'form-control' }}
                                        {% if form.freight_charge_payment.errors %}
                                            <div class="text-danger">
                                                {{ form.freight_charge_payment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">صورتحساب ترخیصیه</strong>
                                        {{ form.DO_invoice|add_class:'form-control' }}
                                        {% if form.DO_invoice.errors %}
                                            <div class="text-danger">
                                                {{ form.DO_invoice.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">آیا صورتحساب ترخیصیه پرداخت شده است ؟</strong>
                                        {{ form.DO_invoice_payment|add_class:'form-control' }}
                                        {% if form.DO_invoice_payment.errors %}
                                            <div class="text-danger">
                                                {{ form.DO_invoice_payment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">صورتحساب ترانزیت</strong>
                                        {{ form.Transit_invoice|add_class:'form-control' }}
                                        {% if form.Transit_invoice.errors %}
                                            <div class="text-danger">
                                                {{ form.Transit_invoice.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">آیا صورتحساب ترانزیت پرداخت شده است ؟</strong>
                                        {{ form.Transit_invoice_payment|add_class:'form-control' }}
                                        {% if form.Transit_invoice_payment.errors %}
                                            <div class="text-danger">
                                                {{ form.Transit_invoice_payment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">صورتحساب قبض انبار</strong>
                                        {{ form.WR_invoice|add_class:'form-control' }}
                                        {% if form.WR_invoice.errors %}
                                            <div class="text-danger">
                                                {{ form.WR_invoice.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">آیا صورتحساب قبض انبار پرداخت شده است ؟</strong>
                                        {{ form.WR_invoice_payment|add_class:'form-control' }}
                                        {% if form.WR_invoice_payment.errors %}
                                            <div class="text-danger">
                                                {{ form.WR_invoice_payment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">صورتحساب متفرقه</strong>
                                        {{ form.other_charge|add_class:'form-control' }}
                                        {% if form.other_charge.errors %}
                                            <div class="text-danger">
                                                {{ form.other_charge.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">آیا صورتحساب متفرقه پرداخت شده است ؟</strong>
                                        {{ form.other_charge_payment|add_class:'form-control' }}
                                        {% if form.other_charge_payment.errors %}
                                            <div class="text-danger">
                                                {{ form.other_charge_payment.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <strong for="id_due_date">زمان تقریبی رسیدن محموله</strong>
                                        {{ form.ETA|add_class:'form-control' }}
                                        {% if form.ETA.errors %}
                                            <div class="text-danger">
                                                {{ form.ETA.errors }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <strong for="id_due_date">توضیحات</strong>
                                        {{ form.description|add_class:'form-control' }}
                                        {% if form.description.errors %}
                                            <div class="text-danger">
                                                {{ form.description.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <strong for="id_due_date">آخرین نسخه بارنامه دریایی</strong>

                                        {{ form.MBL_file }}
                                        {% if form.MBL_file.errors %}
                                            <div class="text-danger">
                                                {{ form.MBL_file.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <hr/>
                                    <div>
                                        <strong for="id_due_date">آخرین نسخه بارنامه فورواردری</strong>
                                        <br>
                                        {{ form.HBL_file }}
                                        {% if form.HBL_file.errors %}
                                            <div class="text-danger">
                                                {{ form.HBL_file.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <hr/>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-ok"></span> ذخیره
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
