{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load comment_tags %}
{% load ratings %}
{% load static %}
<title>{% block title %} جزئیات سفر {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} جزئیات سفر {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان</a></li>
            <li><a href="{% url 'shipment:shipment_list' %}">لیست سفر</a></li>
            <li>جزئیات سفر سفر</li>
        </ol>
        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">
                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جزئیات سفر
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- content -->
                            <div class="col-sm-12 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">
                                        <div class="panel m-t-30" style="border-radius: 10px;">
                                            <div class="panel-heading Montserrat-font"
                                                 style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <h1 class="panel-title">مشخصات</h1>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="first-table-row ">
                                                        <td>شماره سفر</td>
                                                        <td>{{ shipment.shipment_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره پیگیری</td>
                                                        <td><strong>{{ shipment.tracking }}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره رفرنس</td>
                                                        <td>
                                                            <a class="btn btn-success m-t-10 waves-classic"
                                                               href="{% url 'reference:reference_detail' shipment.reference_number.pk %}">
                                                                {{ shipment.reference_number }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>نام شرکت</td>
                                                        <td>
                                                            <a class="btn btn-success m-t-10 waves-effect"
                                                               href="{% url 'client:client_detail' shipment.reference_number.companyName.pk %}">
                                                                {{ shipment.reference_number.companyName }}
                                                            </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره بارنامه دریایی</td>
                                                        <td>{{ shipment.MBL_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>شماره بارنامه مشتری</td>
                                                        <td>{{ shipment.HBL_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>نوع حمل</td>
                                                        <td>{{ shipment.kind_shipment }}</td>
                                                    </tr>
                                                    {% if shipment.kind_shipment in 'CC , TR' %}
                                                        <tr>
                                                            <td>وضعیت بارنامه دریایی</td>
                                                            <td>{{ shipment.get_MBL_status_display }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td> بارنامه دریایی</td>
                                                            {% if shipment.MBL_file %}
                                                                <td>
                                                                    <a href="{{ shipment.MBL_file.url }}"><strong
                                                                            class="text-success la la-eye"></strong></a>
                                                                </td>
                                                            {% else %}
                                                                <td>
                                                                    ______
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>وضعیت بارنامه فورواردری</td>
                                                        <td>{{ shipment.get_HBL_status_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td> بارنامه فورواردری</td>
                                                        {% if shipment.HBL_file %}
                                                            <td>
                                                                <a href="{{ shipment.HBL_file.url }}"><strong
                                                                        class="text-success la la-eye"></strong></a>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                ______
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% if shipment.kind_shipment in 'CC , TR' %}
                                                        <tr>
                                                            <td>شماره کانتینر</td>
                                                            <td> {% for con in shipment.container_number %}
                                                                {% if con %}
                                                                    <div class="mr-1 badge badge-info">{{ con }}</div>
                                                                {% else %}
                                                                    <div class="mr-1 badge ">____</div>
                                                                {% endif %}
                                                            {% endfor %}</td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>زمان شروع حمل</td>
                                                        <td>{{ shipment.reference_number.start_project }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>کشور بارگیری</td>
                                                        <td>{{ shipment.reference_number.get_country_of_receipt_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>پورت بارگیری</td>
                                                        <td>{{ shipment.reference_number.port_of_receipt }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>کشور مقصد</td>
                                                        <td>{{ shipment.reference_number.get_country_of_discharge_display }} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>گمرک مقصد</td>
                                                        <td>{{ shipment.reference_number.port_of_discharge }} </td>
                                                    </tr>
                                                    {% if shipment.reference_number.status == 'p' %}
                                                        <tr>
                                                            <td>روزهای باقی مانده تا رسیدن محموله</td>
                                                            {% if shipment.period_time > 0 %}
                                                                <td>{{ shipment.period_time }} روز</td>
                                                            {% else %}
                                                                <td class="text-danger text-center blinking"><strong>**
                                                                    پیگیری شود ** </strong></td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endif %}
                                                    {% if shipment.reference_number.status == 'i' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>پروسه حمل هنوز آغاز نشده است.</td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if shipment.reference_number.status == 'e' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>محموله در تاریخ {{ shipment.ETA }} به مقصد رسید.
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if shipment.reference_number.status == 'f' %}
                                                        <tr>
                                                            <td>زمان سپری شده از حمل تا کنون</td>
                                                            <td>محموله در تاریخ {{ shipment.ETA }} به مقصد رسید.
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if shipment.kind_shipment in 'AA , TT' %}
                                                        <tr>
                                                            <td>صورتحساب قبض انبار</td>
                                                            {% if shipment.WR_invoice %}
                                                                <td>{{ shipment.WR_invoice }} </td>
                                                            {% else %}
                                                                <td>هنوز صادر نشده است.</td>
                                                            {% endif %}
                                                        </tr>
                                                        {% if shipment.WR_invoice %}
                                                            <tr>
                                                                <td> صورتحساب قبض انبار پرداخت شده است ؟</td>
                                                                <td class="text-center" style="width:75px;">
                                                                    {% if  shipment.WR_invoice_payment %}
                                                                        <i class="glyphicon glyphicon-ok"
                                                                           style="color:green"></i>
                                                                    {% else %}
                                                                        <i class="glyphicon glyphicon-remove"
                                                                           style="color:red"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if shipment.kind_shipment in 'CC , TR' %}
                                                        <tr>
                                                            <td>صورتحساب ترخیصیه</td>
                                                            {% if shipment.DO_invoice %}
                                                                <td>{{ shipment.DO_invoice }} </td>
                                                            {% else %}
                                                                <td>هنوز صادر نشده است.</td>
                                                            {% endif %}
                                                        </tr>
                                                        {% if shipment.DO_invoice %}
                                                            <tr>
                                                                <td>صورتحساب ترخیصیه پرداخت شده است ؟</td>
                                                                <td class="text-center" style="width:75px;">
                                                                    {% if  shipment.DO_invoice_payment %}
                                                                        <i class="glyphicon glyphicon-ok"
                                                                           style="color:green"></i>
                                                                    {% else %}
                                                                        <i class="glyphicon glyphicon-remove"
                                                                           style="color:red"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}

                                                    {% endif %}
                                                    {% for demo in shipment.shipment.all %}
                                                        <tr>
                                                        <td> صورتحساب دموراژ
                                                            {% if demo.demo_F %}
                                                                <i style="color: red">قطعی</i>

                                                            {% else %}
                                                                علی الحساب
                                                            {% endif %}
                                                            با شماره {{ demo.number }}</td>
                                                        <br>
                                                        {% if demo %}
                                                            <td>
                                                                <a href="{% url 'invoice:view-pdf-demo-invoice' demo.slug %}"><strong
                                                                        class="text-success la la-eye"></strong></a>

                                                                {% if  demo.demo_invoice_payment %}
                                                                    <i class="glyphicon glyphicon-ok"
                                                                       style="color:green"></i>
                                                                {% else %}
                                                                    <i class="glyphicon glyphicon-remove"
                                                                       style="color:red"></i>
                                                                {% endif %}
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                ______
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tr>
                                                    {% if shipment.kind_shipment == 'TR' %}
                                                        <tr>
                                                            <td>صورتحساب ترانزیت</td>
                                                            {% if shipment.Transit_invoice %}
                                                                <td>{{ shipment.Transit_invoice }} </td>
                                                            {% else %}
                                                                <td>هنوز صادر نشده است.</td>
                                                            {% endif %}
                                                        </tr>
                                                        {% if shipment.Transit_invoice %}
                                                            <tr>
                                                                <td>صورتحساب ترانزیت پرداخت شده است ؟</td>
                                                                <td class="text-center" style="width:75px;">
                                                                    {% if  shipment.Transit_invoice_payment %}
                                                                        <i class="glyphicon glyphicon-ok"
                                                                           style="color:green"></i>
                                                                    {% else %}
                                                                        <i class="glyphicon glyphicon-remove"
                                                                           style="color:red"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if shipment.other_charge %}
                                                        <tr>
                                                            <td>هزینه های متفرقه</td>
                                                            <td>{{ shipment.other_charge }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td>آیا هزینه های متفرقه پرداخت شده است ؟</td>
                                                            <td class="text-center" style="width:75px;">
                                                                {% if  shipment.other_charge_payment %}
                                                                    <i class="glyphicon glyphicon-ok"
                                                                       style="color:green"></i>
                                                                {% else %}
                                                                    <i class="glyphicon glyphicon-remove"
                                                                       style="color:red"></i>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr class="danger">
                                                        <td>نرخ خرید ارزی</td>
                                                        <td>{{ shipment.reference_number.net_rate_1 }} </td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>نرخ فروش ارزی</td>
                                                        <td>{{ shipment.reference_number.selling_rate_1 }} </td>
                                                    </tr>
                                                    {% if not profit_2 == 0 %}
                                                        <tr style="border-top: double" class="danger">
                                                            <td>نرخ خرید ریالی</td>
                                                            <td>{{ shipment.reference_number.net_rate_2 }} </td>
                                                        </tr>
                                                        <tr class="info">
                                                            <td>نرخ فروش ریالی</td>
                                                            <td>{{ shipment.reference_number.selling_rate_2 }} </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>آیا کرایه حمل پرداخت شده است ؟</td>
                                                        <td class="text-center" style="width:75px;">
                                                            {% if  shipment.Transit_invoice_payment %}
                                                                <i class="glyphicon glyphicon-ok"
                                                                   style="color:green"></i>
                                                            {% else %}
                                                                <i class="glyphicon glyphicon-remove"
                                                                   style="color:red"></i>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% if  reference.description %}
                                                        <tr>
                                                            <td>توضیحات اضافه</td>
                                                            <td>{{ reference.description }} </td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% render_comments object request %}
                                    </div>
                                    <!-- activity -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}


