{% load static %}
<!-- sidebar -->
<aside id="sidebar"><!-- This id(=sidebar) is important -->
    <div id="menu_ver" class="StickySidebar">

        <!-- admin details -->
        <div class="well-sm administrator">
            <div class="clearfix">
                <div class="admin-pic col-xs-5">
                    {% if user.avatar %}
                        <img class="img-rounded" src="{{ user.avatar.url }}" alt="بارگذاری نشد" data-lity>
                    {% else %}
                        {% if user.gender == 'F' %}
                            <img src="{% static 'registrations\dialog\img\avatar\woman.png' %}"
                                 class="i#000000=010000" alt="بارگذاری نشد"
                                 data-lity=""
                                 style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                        {% else %}
                            <img src="{% static 'registrations\dialog\img\avatar\man.png' %}"
                                 class="i#000000=010000" alt="بارگذاری نشد"
                                 data-lity=""
                                 style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="admin-name col-xs-7">
                    <div id="my_name" class="m-b-10">{{ user.get_full_name }}</div>
                    <div class="gooleh b#4CAF50"></div>
                    {% if request.user.job_title %}
                        <span>{{ request.user.job_title }}</span>
                    {% else %}
                        <span>کارمند</span>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-4 text-center">
                    <a href="{% url 'password_change' %}"><i class="la la-key"></i></a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="{% url 'mail:index' %}"><i class="la la-envelope-o"></i></a>
                    {% if count > 0 %}
                        <span class="label blink label-danger admin-alert">{{ count }}</span>
                    {% endif %}
                </div>
                <div class="col-xs-4 text-center">
                    <a href="{% url "logout" %}"><i class="la la-power-off"></i></a>
                </div>
            </div>
            <span id="admin_close" class="la la-times la-2x"></span>
        </div>
        <!-- /End admin details -->


        <!-- accordion menu -->
        <div id="cssmenu">
            <ul>
                <!-- Dashboard -->
                <li class="{% if request.resolver_match.url_name == 'home' %}active {% endif %}">
                    <a href="{% url 'account:home' %}">
                        <i class="la la-tachometer"></i>
                        پیشخوان

                    </a>
                </li>
                <!-- Google map -->
                <li class="{% if request.resolver_match.url_name == 'google_map' %}active {% endif %}">
                    <a href="{% url 'account:google_map' %}">
                        <i class="la la-map-marker"></i>
                        نقشه
                    </a>
                </li>

                <!-- Vector map -->
                <li class="{% if request.resolver_match.url_name == 'vector_map' %}active {% endif %}">
                    <a href="{% url 'account:vector_map' %}">
                        <i class="la la-map-o"></i>
                        وکتور
                    </a>
                </li> <!-- -->

                <li class="{% if request.resolver_match.url_name == 'lists' %}active {% endif %}">
                    <a href="{% url 'todo:lists' %}">
                        <i class="la la-tasks"></i>
                        لیست انجام کارها
                    </a>
                </li> <!-- -->

                <li class="{% if request.resolver_match.url_name == 'mine' %}active {% endif %}">
                    <a href="{% url 'todo:mine' %}">
                        <i class="la la-sticky-note"></i>
                        کارهای پیش رو
                    </a>
                </li> <!-- -->

                <li class="has-sub"><a>پیام ها</a>
                    <ul>
                        <li class="{% if request.resolver_match.url_name == 'inbox_list' %}active {% endif %}"><a
                                href="{% url "mail:inbox_list" %}">جعبه دریافت</a></li>

                        <li class="{% if request.resolver_match.url_name == 'sent_list' %}active {% endif %}"><a
                                href="{% url "mail:sent_list" %}">جعبه ارسال</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a>برنامه های در حال توسعه</a>
                    <ul>
                        {% if request.user.superuser or request.user.is_sales %}
                            <li>
                                <a href="{% url 'invoice:dashboard' %}">
                                    <i class="las la-money-bill"></i>
                                    ایجاد نرخ و صورتحساب
                                </a>
                            </li> <!-- -->
                        {% endif %}
                        <li>
                            <a href="{% url 'calendar:dashboard' %}">
                                <i class="lar la-calendar"></i>
                                تقویم کاری
                            </a>
                        </li> <!-- -->

                    </ul>
                </li>

                <li class="{% if request.resolver_match.url_name == 'profile' %}active {% endif %}">
                    <a href="{% url 'two_factor:profile' %}">
                        <i class="las la-user-cog"></i>
                        امنیت
                    </a>
                </li> <!-- -->


            </ul>
        </div>
        <!-- /End accordion menu -->

    </div>
</aside>
<!-- /End sidebar -->