<div class="tab-pane fade" id="tasks">
    <ul class="list-group">
        <li class="list-group-item t#c3272b">
            {% if your_events %}
                <h5>به شما "<strong class="text-dark">{{ your_events.count }}</strong>" وظیفه سپرده شده است .</h5>
                {% for event in your_events %}
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'calendar:event-detail' event.id %}">{{ event.title }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <h5>به شما کاری جهت انجام سپرده نشده است .</h5>
            {% endif %}
    </ul>
    <ul class="list-group">
        <li class="list-group-item t#c3272b">
            {% if my_events %}
                <h5> شما "<strong class="text-dark">{{ my_events.count }}</strong>" وظیفه برای خودتان تعریف کرده اید.
                </h5>
                {% for event in my_events %}
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'calendar:event-detail' event.id %}">{{ event.title }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <h5>وظیفه ای جهت انجام تعریف نکرده اید .</h5>
            {% endif %}
    </ul>
    <ul class="list-group">
        <li class="list-group-item t#c3272b">
            {% if tasks %}
                <h5> شما "<strong class="text-dark">{{ tasks.count }}</strong>" کار برای انجام دادن دارید.
                </h5>
                {% for task in tasks %}
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'todo:task_detail' task.id %}">{{ task.title|truncatewords:10 }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <h5>کاری برای انجام وجود ندارد.</h5>
            {% endif %}
    </ul>
</div>