{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Skolo Online Learning Invoicing System Create your own invoice online">
    <meta name="author" content="Skolo Online Learning">
    <title>invoice huyartarabar</title>

    <link rel="canonical" href="">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'invoice/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'invoice/assets/css/dashboard.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">huyartarabar invoice</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-divider">
                        <a class="nav-link" href="{% url 'account:home' %}">
                            <span data-feather="home"></span>
                            home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice:dashboard' %}">
                            <span data-feather="target"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="navbar-info">
                        <a class="nav-link" href="{% url 'invoice:invoices' %}">
                            <span data-feather="file-plus"></span>
                            Inquiry
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice:demo-invoices' %}">
                            <span data-feather="clock"></span>
                            Demurrage-Invoices
                        </a>
                    </li>
                    <li class="navbar-primary">
                        <a class="nav-link" href="{% url 'client:client_list' %}">
                            <span data-feather="users"></span>
                            Clients
                        </a>
                    </li>

                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Settings</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invoice:company-settings' %}">
                            <span data-feather="file-text"></span>
                            Company
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span data-feather="log-out"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Add the messages here .... -->


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            {% for message in messages %}
                <div class="alert {{ message.tags }} mb-4" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% block main %}
            {% endblock %}

        </main>


    </div>
</div>


<!-- JS starts here  -->
<script src="{% static 'invoice/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script>
    $(document).on('click', '.confirm-delete', function () {
        return confirm('Are you sure you want to delete this?');
    })
</script>
<script src="{% static 'invoice/assets/js/dashboard.js' %}"></script>

{% block scripts %}
{% endblock %}


</body>
</html>
