{% load comment_tags %}
{% load i18n %}

{% if user.avatar %}
    <img class="img-rounded" src="{{ comment.user.avatar.url }}"
         style="width: 50px ;height: 50px ; border-radius: 30px"
         alt="بارگذاری نشد" data-lity>
{% endif %}
<div class=" media-comment-bubble.left-top media-comment-bubble js-updated-comment {% if comment.has_flagged_state %}flagged-comment {% endif %}{% block content_wrapper_cls %}{% if has_valid_profile %}col-9 col-md-10{% else %}co-11 mx-3{% endif %}{% endblock content_wrapper_cls %}"
     id="{{ comment.urlhash }}">
    {% block comment_content %}
        {% render_content comment %}
    {% endblock comment_content %}
    {% get_username_for_comment comment as username %}
    <div class="{% block footer_wrapper_cls %}mt-2 text-muted{% endblock footer_wrapper_cls %}">
        <small>
            <a style="    position: absolute;
    background: rgb(255,119,76);
    background: linear-gradient(45deg,rgb(255,119,76) 0%,rgb(255,78,76) 100%);
    color: #fff;
    padding: 1px 10px;
    border-radius: 5px;
    word-spacing: -2px;
    font-size: 17px;" class="{% block username_cls %}{% endblock username_cls %}" href="{% url 'account:profile_detail' comment.user.pk %}"
               title="View {{ comment.user }} profile">
                {% if comment.user.get_full_name %}
                    {{ comment.user.last_name }}
                {% else %}
                    {{ comment.user }}
                {% endif %}
                <br>
                </{% if comment.user %}a{% else %}span{% endif %}>
            <br>
                {% if comment.is_edited %}
                    <span class="font-italic"
                          title="{% trans 'Edited' %}">{% blocktrans with edited_time=comment.edited|timesince %}ویرایش
                        شده در : {{ edited_time }} قبل{% endblocktrans %}</span>
                {% else %}
                    <span class="font-italic"
                          title="{% trans 'Posted' %}">{% blocktrans with posted_time=comment.posted|timesince %}
                        {{ posted_time }} قبل{% endblocktrans %}</span>
                {% endif %}
                {% can_delete_comment comment user as can_delete %}
                {% if comment.user == user %}
                    | {% include 'comment/comments/edit_icon.html' %}
                    {% include 'comment/comments/delete_icon.html' %}
                {% elif can_delete %}
                    | {% include 'comment/comments/delete_icon.html' %}
                    {% if comment.is_flagged %}
                        {% include 'comment/comments/reject_icon.html' %}
                        {% if comment.is_edited %}
                            {% include 'comment/comments/resolve_icon.html' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if user|can_block_users %}
                    {% include 'comment/block/block_icon.html' %}
                {% endif %}
                {% if comment.is_parent %}
                    {% get_replies_count comment user as reply_count %}
                    |
                    <span class="js-reply-number {% block reply_count_cls %}text-dark{% endblock reply_count_cls %}">{{ reply_count }}</span>
                    <a class="js-reply-link {% block reply_link_cls %}btn btn-link ml-1{% endblock reply_link_cls %}"
                       href="#">
                        {% blocktrans count reply_count=reply_count %} پاسخ{% plural %} پاسخ {% endblocktrans %}
                    </a>
                    {% if comment.user == user and is_subscription_allowed %}
                        <div class="{% block follow_icon_wrapper_cls %}d-inline ml-3{% endblock follow_icon_wrapper_cls %}">
                            {% include 'comment/follow/follow.html' with model_object=comment btnId=comment.id %}
                        </div>
                    {% endif %}
                {% endif %}
            </a>
        </small>

        {% include "comment/reactions/reactions.html" with comment=comment %}
    </div>
</div>

