{% load comment_tags %}
{% load i18n %}
{% if is_anonymous_allowed or user.is_authenticated %}


    <form class="js-comment-form" method="post" data-url="{% url 'comment:create' %}">
        {% csrf_token %}
        <div class="row">
            <div id="inputPlaceholder"
                 class="{% block text_area_wrapper_cls %}col-sm-9 col-md-10 px-2 m-2 m-sm-0{% endblock text_area_wrapper_cls %}">
                {% include 'comment/comments/comment_form.html' with placeholder=placeholder %}
            </div>
            <input name="model_name" value="{% get_model_name model_object %}" hidden>
            <input name="model_id" value="{{ model_object.id }}" hidden>
            <input name="app_name" value="{% get_app_name model_object %}" hidden>
            <input name="oauth" value="{{ oauth }}" hidden>
            {% if comment %}
                <input name="parent_id" value="{{ comment.id }}" type="hidden"/>
            {% endif %}
            <div id="buttonPlaceholder" class="col-sm-3 col-md-2 px-2 m-3 m-sm-0">

                <br>
                <button class="btn btn-shadow" {% if not comment %}onclick="history.go(0)"
                {% endif %}
                        type="submit" name="form_type" value="{% if comment %}child{% else %}parent{% endif %}"
                        data-email-required="{% if user.is_anonymous and is_anonymous_allowed %}true{% endif %}">
                    {% if comment %}{% trans "پاسخ" %}{% else %}{% trans "ارسال" %}{% endif %}
                </button>

            </div>
        </div>
    </form>
{% endif %}
{% if user.is_anonymous %}
    {% block login_info %}
        <div class="d-flex mb-3">
            {% if is_anonymous_allowed %}
                <p class="text-muted{% if comment %} h7{% endif %}">
                    {% trans "Comment Anonymously or" %}
                    <a class="text-success" href="{{ login_url }}?next={{ request.path }}">
                        <em>{% trans "ورود" %}</em>
                    </a>
                    {% trans "to keep your conversations intact" %}
                </p>
            {% else %}
                <p class="text-muted {% if comment %}h7{% endif %}">
                    <a class="text-success" href="{{ login_url }}?next={{ request.path }}">
                        <em>{% trans "ورود" %}</em>
                    </a>
                    {% trans "ارسال دیدگاه" %}
                </p>
            {% endif %}
            {% if oauth %}
                {% block oauth %}
                    <a class="mx-1 my-0 h4 github-color"
                       href="{% url 'social:begin' 'github' %}?next={{ request.path }}"><i
                            class="fa fa-github-square"></i></a>
                    <a class="mx-1 my-0 h4 facebook-color"
                       href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i
                            class="fa fa-facebook-square"></i></a>
                    <a class="mx-1 my-0 h4 twitter-color"
                       href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i
                            class="fa fa-twitter-square"></i></a>
                    <a class="mx-1 my-0 h4 google-color"
                       href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i
                            class="fa fa-google-plus-square"></i></a>
                {% endblock oauth %}
            {% endif %}
        </div>
    {% endblock login_info %}
{% endif %}
