@font-face {
    font-family: 'vazir';
    font-weight: 300;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Thin.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Thin.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Thin.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Thin.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 400;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Light.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Light.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Light.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Light.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 500;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Regular.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Regular.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Regular.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Regular.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 600;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Medium.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Medium.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Medium.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Medium.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 700;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Bold.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Bold.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Bold.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Bold.woff2);
}

@font-face {
    font-family: 'vazir';
    font-weight: 800;
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Black.eot);
    src: url(../../registrations/dialog/fonts/vazir/Vazir-Black.ttf),
    url(../../registrations/dialog/fonts/vazir/Vazir-Black.woff),
    url(../../registrations/dialog/fonts/vazir/Vazir-Black.woff2);
}

body {
    margin: 0;
}

body * {
    font-family: unset;
}

.footerPDF, .headerPDF {
    box-sizing: border-box;
}

thead.report-header {
    display: none;
    visibility: hidden;
    opacity: 0;
}

tfoot.report-footer {
    display: none;
    visibility: hidden;
    opacity: 0;
}

button, input[type=submit], input[type=reset], input[type=button], .button {
    padding-bottom: 1px;
    padding-right: 6px;
    padding-left: 6px;
    vertical-align: middle;
}

button, input[type=submit], input[type=reset], input[type=button], .button, .buttons .button, .yui-button button {
    padding: 5px 10px !important;
    margin: 2px;
    color: #262627;
    text-align: center;
    vertical-align: middle;
    background-color: #ebebea;
    border-radius: 0px;
    cursor: pointer;
}

@page {
    size: auto;
    margin: 0mm;
}

@media print {
    html, body {
        width: 100%;
    }

    body * {
        visibility: hidden;
    }

    #printableDIV, #printableDIV * {
        visibility: visible;
    }

    #ContentContainer {
        margin: 0 !important;
        padding: 0 !important;
    }

    span {
        font-family: inherit !important;
    }

    #printButton {
        display: none;
    }

    #printableDIV {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        box-sizing: border-box !important;
        position: relative;
        left: 0;
        top: 0;
    }

    table.report-container {
        page-break-after: always;
    }

    .report-content-cell {
        height: 100%;
        vertical-align: top;
    }

    thead.report-header {
        display: table-header-group;
    }

    tfoot.report-footer {
        display: table-footer-group;
    }

    .headerPDF {
        position: fixed;
        top: 0;
        right: 0;
    }

    .footerPDF {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}