{% extends "todo/base.html" %}
{% load widget_tweaks %}
{% block page_heading %}{% endblock %}
{% block title %}افزودن لیست انجام کار {% endblock %}
{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">اضافه کردن لیست</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>لیست ها</span></li>
            <li><span>افزودن لیست</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            <div class="form-group label-floating">
                                {% csrf_token %}

                                <div class="form-group label-floating">
                                    <label for="id_name">نام لیست</label>
                                    <input aria-describedby="inputNameHelp" class="form-control" id="id_name"
                                           name="name" placeholder=""
                                           type="text">

                                </div>
                                <br>
                                <div class="input-group">
                                    <label class="control-label">گروه</label><br>
                                    {{ form.group|add_class:'form-control' }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.slug }}
                                </div>
                                <button class="btn btn-primary" type="submit">ثبت</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}