{% extends "todo/base.html" %}
{% block title %}پاک کردن لیست{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">اضافه کردن لیست</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>لیست ها</span></li>
            <li><span>افزودن لیست</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if user.is_staff %}
                            <h1>آیا لیست: <small style="color: #a41515">{{ task_list.name }}</small> پاک شود ؟</h1>

                            <p>کارهای مرتبط با این لیست:</p>

                            <ul>
                                <li>کارهای تمام نشده: {{ task_count_undone }}</li>
                                <li>کارهای تمام شده: {{ task_count_done }}</li>
                                <li>
                                    <strong>مجموع: {{ task_count_total }}</strong>
                                </li>
                            </ul>

                            <p> با پاک شدن این لیست تمامی کارها بصورت <strong>برگشت ناپذیر</strong>. پاک خواهند شد....
                                آیا از انجام این کار مطمئن هستید؟</p>

                            <form accept-charset="utf-8" action="" method="post">
                                {% csrf_token %}
                                <input name="task_list" type="hidden" value="{{ task_list.id }}">
                                <p>
                                    <a class="btn btn-primary round waves-effect"
                                       href="{% url 'todo:list_detail' task_list.id task_list.slug %}">بازگشت به لیست:
                                        {{ task_list.name }}</a>
                                    <input class="btn btn-labeled btn-danger round waves-effect" name="delete-confirm" type="submit"
                                           value="انجامش بده! &larr;">

                                </p>
                            </form>


                        {% else %}
                            <p>متاسفم...شما اجازه پاک کردن لیست را ندارید . جهت انجام این کار با مدیریت صحبت کنید.</p>
                        {% endif %}
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}