{% extends "todo/base.html" %}

{% block title %}{{ list_title }}لیست های موجود {% endblock %}

{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">اضافه کردن لیست</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>لیست ها</span></li>
            <li><span>افزودن لیست</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h1>لیست های کاری</h1>

                        <p>مجموع کارهای پیش رو :<span style="color: red">{{ task_count }}</span> تعداد لیست ها :<span
                                style="color: red">{{ list_count }}</span></p>

                        {% regroup lists by group as section_list %}
                        {% for group in section_list %}
                            <h3>'نام گروه': {{ group.grouper }}</h3>
                            <ul class="list-group mb-4">
                                {% for task in group.list %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="{% url 'todo:list_detail' task.id task.slug %}">{{ task.name }}</a>
                                        <span class="badge badge-primary badge-pill">{{ task.task_set.count }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}

                        <div class="mt-3">

                            {% if user.is_staff %}
                                <a href="{% url 'todo:add_list' %}" class="btn btn-primary">افزودن یک لیست جدید کار</a>
                            {% else %}
                                <a href="" class="btn btn-primary disabled">If you were staff, you could create a new
                                    list</a>
                            {% endif %}

                        </div>

                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}