{% extends "todo/base.html" %}
{% load static %}

{% block title %}Todo List: {{ task_list.name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">اضافه کردن لیست</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>لیست ها</span></li>
            <li><span>افزودن لیست</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if list_slug != "mine" %}
                            <button class="btn btn-primary" id="AddTaskButton" type="button"
                                    data-toggle="collapse" data-target="#AddEditTask">اضافه کردن برنامه کاری
                            </button>

                            {# Task edit / new task form #}
                            <div id="AddEditTask" class="collapse">
                                {% include 'todo/include/task_edit.html' %}
                            </div>
                            <hr/>
                        {% endif %}

                        {% if tasks %}
                            {% if list_slug == "mine" %}
                                <h1> برنامه های کاری مختص به من ( در همه لیست ها) </h1>
                            {% else %}
                                <h1>{{ view_completed|yesno:"کارهای به پایان رسیده, کارها" }} در
                                    "{{ task_list.name }}"</h1>
                                <p><small><i>در گروه کاری "{{ task_list.group }}" - وظایف را جهت اولویت بندی جابجا
                                    کنید.</i></small></p>
                            {% endif %}

                            <table class="table" id="tasktable">
                                <tr class="nodrop">
                                    <th>کارها</th>
                                    <th>زمان ایجاد</th>
                                    <th>زمان انجام کار</th>
                                    <th>ایجاد کننده</th>
                                    <th>انجام دهنده</th>
                                    <th>علامت گذاری</th>
                                </tr>

                                {% for task in tasks %}
                                    <tr id="{{ task.id }}">
                                        <td>
                                            <a href="{% url 'todo:task_detail' task.id %}">{{ task.title|truncatewords:10 }}</a>
                                        </td>
                                        <td>
                                            {{ task.created_date|date:"m/d/Y" }}
                                        </td>
                                        <td>
              <span {% if task.overdue_status %}class="overdue"{% endif %}>
                {{ task.due_date|date:"m/d/Y" }}
              </span>
                                        </td>
                                        <td>
                                            {{ task.created_by }}
                                        </td>
                                        <td>
                                            {% if task.assigned_to %}{{ task.assigned_to }}{% else %}هرکسی{% endif %}
                                        </td>
                                        <td>
                                            <form method="post" action="{% url "todo:task_toggle_done" task.id %}"
                                                  role="form">
                                                {% csrf_token %}
                                                <button class="btn btn-info btn-sm" type="submit" name="toggle_done">
                                                    {% if view_completed %}
                                                        انجام نشده
                                                    {% else %}
                                                        انجام شده
                                                    {% endif %}
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                            {% include 'todo/include/toggle_delete.html' %}

                        {% else %}
                            <h4>هیچ کاری جهت انجام در این لیست وجود ندارد . </h4>
                            {% include 'todo/include/toggle_delete.html' %}

                        {% endif %}
                    </div>
                </div>
                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'todo/js/jquery.tablednd_0_5.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        function order_tasks(data) {
            // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered
            // data in a list. We pass that list as an object ("data") to a Django view
            // to save new priorities on each task in the list.
            $.post("{% url 'todo:reorder_tasks' %}", data, "json");
            return false;
        };

        $(document).ready(function () {
            // Initialise the task table for drag/drop re-ordering
            $("#tasktable").tableDnD();

            $('#tasktable').tableDnD({
                onDrop: function (table, row) {
                    order_tasks($.tableDnD.serialize());
                }
            });

        });

        // When adding a task, change the text of the Add Task button
        function handleClick() {
            console.log(this.innerHTML);
            this.innerHTML = (this.innerHTML == '' ? 'کنسل' : 'افزودن وظیفه');
        }

        document.getElementById('AddTaskButton').onclick = handleClick;
    </script>
{% endblock extra_js %}
