{% extends "todo/base.html" %}
{% load static %}
{% block title %}Task:{{ task.title }}{% endblock %}

{% block extrahead %}
    <style>
        .select2 {
            width: 100% !important;
        }

        .select2-container {
            min-width: 0 !important;
        }
    </style>
    {{ form.media }}
    {{ merge_form.media }}
{% endblock %}



{% block content %}
    <div class="page-header">
        <h2 class="page-title">اضافه کردن لیست</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>لیست ها</span></li>
            <li><span>افزودن لیست</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                        <div class="panel-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="well 00FFFF #080808	"
                                         style="transition: all 0.3s ease 0s; color: rgba(0,0,0,0.53); background-color: rgba(216,232,230,0.8);">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ task.title }}</h3>
                                            {% if task.note %}
                                                <div class="card-text">{{ task.note|safe|urlize|linebreaks }}</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <button
                                            class="btn btn-sm btn-primary"
                                            id="EditTaskButton"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#TaskEdit">
                                        ویرایش کردن
                                    </button>

                                    <form method="post" action="{% url "todo:task_toggle_done" task.id %}"
                                          role="form" class="d-inline">
                                        {% csrf_token %}
                                        <div style="display:inline;">
                                            <button class="btn btn-info btn-sm" type="submit"
                                                    name="toggle_done">
                                                {% if task.completed %} کار به پایان نرسیده {% else %} به پایان
                                                    رساندن کار {% endif %}
                                            </button>
                                        </div>
                                    </form>

                                    <form method="post" action="{% url "todo:delete_task" task.id %}"
                                          role="form"
                                          class="d-inline">
                                        {% csrf_token %}
                                        <div style="display:inline;">
                                            <button class="btn btn-danger btn-sm" type="submit"
                                                    name="submit_delete">
                                                پاک کردن
                                            </button>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item">
                                    <strong>اختصاص دارد به:</strong>
                                    {% if task.assigned_to %} {{ task.assigned_to.get_full_name }} {% else %}
                                        Anyone {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>ایجاد شده توسط:</strong> {{ task.created_by.get_full_name }}
                                </li>
                                <li class="list-group-item">
                                    <strong>زمان انجام کار:</strong> {{ task.due_date }}
                                </li>

                                {% if task.completed %}
                                    <li class="list-group-item">
                                        <strong>کار به پایان رسیده است در :</strong> {{ task.completed_date }}
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <strong>آیا کار به پایان رسیده
                                            است:</strong> {{ task.completed|yesno:"بله,خیر" }}
                                    </li>
                                {% endif %}

                                <li class="list-group-item">
                                    <strong>در لیست:</strong>
                                    <a href="{% url 'todo:list_detail' task.task_list.id task.task_list.slug %}">
                                        {{ task.task_list }}
                                    </a>
                                </li>
                            </ul>
                            <div id="TaskEdit" class="collapse">
                                {# Task edit / new task form #}
                                {% include 'todo/include/task_edit.html' %}
                                {% if merge_form is not None %}
                                    <form action="" method="post">
                                        <div class="card border-danger">
                                            <div class="card-header">Merge task</div>
                                            <div class="card-body">
                                                <div class="">
                                                    <p>ادغام کردن سبب پاک شدن کار می شود و دیدگاه های آن به کار دیگری
                                                        انتقال
                                                        داده می شود</p>
                                                    {% csrf_token %}
                                                    {% for field in merge_form.visible_fields %}
                                                        <p>
                                                            {{ field.errors }}
                                                            {{ field }}
                                                        </p>
                                                    {% endfor %}
                                                    <input class="d-inline btn btn-sm btn-outline-danger" type="submit"
                                                           name="merge_task_into" value="Merge">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>

                        <div class="panel-body">
                            {% if attachments_enabled %}

                                <h5 class="card-header">
                                    ضمیمه ها
                                </h5>



                                {% if task.attachment_set.count %}
                                    <div class="table-responsive">
                                        <table class="table mb-3">
                                            <thead>
                                            <tr>
                                                <th>فایل</th>
                                                <th>آپلود شده در تاریخ</th>
                                                <th>توسط</th>
                                                <th>نوع فایل</th>
                                                <th>پاک کردن</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for attachment in task.attachment_set.all %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ attachment.file.url }}">{{ attachment.filename }}</a>
                                                    </td>
                                                    <td>{{ attachment.timestamp }}</td>
                                                    <td>{{ attachment.added_by.get_full_name }}</td>
                                                    <td>{{ attachment.extension.lower }}</td>
                                                    <td>
                                                        <form action="{% url "todo:remove_attachment" attachment.id %}"
                                                              method="POST">
                                                            {% csrf_token %}
                                                            <input type="submit" value="حذف کردن"
                                                                   class="btn btn-labeled btn-danger round waves-effect">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}

                                <form method="POST" action="" enctype="multipart/form-data" style="width:50%;">
                                    {% csrf_token %}

                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="attachment_file_input">انتخاب کرد
                                                فایل</label><br>
                                            <input type="file" class="custom-file-input" id="attachment_file_input"
                                                   name="attachment_file_input"/><br>

                                        </div>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-warning waves-effect">آپلود <i
                                                    class="la la-cloud-upload"></i></button>

                                        </div>
                                    </div>
                                </form>

                                </div>
                                </div>
                            {% endif %}
                </div>

            </td>
        </tr>
    </table>

    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>

                        <div class="panel-body">
                            <div class="mt-3">
                                <h1>افزودن دیدگاه</h1>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment-body" rows="3" required></textarea>
                                    </div>
                                    <input class="btn btn-sm btn-primary" type="submit" name="add_comment"
                                           value="افزودن دیدگاه">
                                </form>
                            </div>
                            <hr/>

                            <div class="task_comments mt-4">
                                {% if comment_list %}
                                    <h2>دیدگاه های این کار</h2>
                                    {% for comment in comment_list %}
                                        <div class="mb-4 ">
                                            <div class="card-header">
                                                <div class="float-left">

                                                    {% if comment.email_message_id %}
                                                        <span class="badge badge-warning">ایمیل</span>
                                                    {% endif %}
                                                    {{ comment.author.get_full_name }}
                                                </div>
                                                <span class="float-right d-inline-block text-muted">
            {{ comment.date|date:"F d Y P" }}
          </span>
                                            </div>
                                            <div class="{{ comment_classes | join:" " }} media-comment-bubble.left-top media-comment-bubble ">
                                                {{ comment.body|safe|urlize|linebreaks }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h5>هیچ دیدگاهی وجود ندارد.</h5>
                                {% endif %}
                            </div>

                        </div>
            </td>
        </tr>
    </table>

{% endblock %}

{% block extra_js %}
    {# Support file attachment uploader #}
    <script>
        $('#attachment_file_input').on('change', function () {
            // Get the file name and remove browser-added "fakepath."
            // Then replace the "Choose a file" label.
            var fileName = $(this).val().replace('C:\\fakepath\\', " ");
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock extra_js %}

