{% extends 'calendar/base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}

    <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>Event Dashboard</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'account:home' %}" class="fa fa-home fa-lg"></a></li>
        <li class="breadcrumb-item"><a href="{% url 'calendar:dashboard' %}">Dashboard</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div STYLE="direction: rtl; background-color: #008b8b30"
                 class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div STYLE="direction: rtl ; background-color: #008b8b30;" class="alert alert-danger">
                    {{ error }}
                    <button style="direction: rtl" type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">

        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-files-o fa-3x"></i>
                <div class="info">
                    <h4>Total Completed Events</h4>
                    <p><b>{{ total_event }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h4>Total Running Events</h4>
                    <p><b>{{ running_events.count }}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <div id="sampleTable_wrapper"
                             class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable"
                                           role="grid" aria-describedby="sampleTable_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending"
                                                style="width: 261.641px;">SL
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 417.312px;">Event Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Office: activate to sort column ascending"
                                                style="width: 189.281px;">Start Time
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 102.141px;">End Time
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 102.141px;">delete event
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for event in latest_events %}
                                            <tr role="row" class="odd" style="direction: rtl">
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td><a href="{% url 'calendar:event-detail' event.id%}">{{ event.title }}</a></td>
                                                <td>{{ event.start_time }}</td>
                                                <td>{{ event.end_time }}</td>
                                                <td style="font-size: large"><p><a
                                                        href="{% url 'calendar:delete-event' event.id %}"><i
                                                        class="fa fa-trash"> delete</i></a>
                                                </p></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'calendar/js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'calendar/js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
