label {
    display: block;
    font-weight: bold;
}

.alert-success, .bg-success {
    background-color: rgb(35 201 32 / 32%) !important;
}

.alert-success, .alert-success > a, .bg-success, .bg-success > a {
    color: #000 !important;
}


.media-comment-bubble {
    border-radius: 20px;
    border-top-right-radius: 0;
    position: relative;
    background-color: #f2f2f2;
    padding: 1rem 1.25rem;
}

.media-comment-bubble.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -16px;
    left: auto;
    top: 0px;
    bottom: auto;
    border: 18px solid transparent;
    border-top-color: #f2f2f2;
}

span.float-right.d-inline-block.text-muted {
    font: small-caption;
}

.media-comment-bubble {
    border-radius: 20px;
    border-top-right-radius: 0;
    position: relative;
    background-color: #b1d5a963;
}

.alert-success, .bg-success {
    background-color: rgb(118 201 171 / 53%) !important;
}


element.style {
    color: rgb(0 0 0);
    background-color: rgb(73 149 133 / 27%);
}

.alert, .alert.alert-default {
    background-color: rgb(168 223 181 / 84%);
    color: rgb(2 2 2);
}