{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به ثایت </title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/images/icons/favicon.ico' %}" rel="icon" type="image/png"/>
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/fonts/iconic/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/animate/animate.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/animsition/css/animsition.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/select2/select2.min.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/daterangepicker/daterangepicker.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/css/util.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'registrations/login/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'registrations/login/css/rtl.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
</head>
<body>

  {% block content_wrapper %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}

<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registrations/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registrations/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/js/main.js' %}"></script>

</body>
</html>
