{% extends "registration/layout.html" %}
{% load static %}



{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">
            پیام ها</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">پیشخوان</a></li>
            <li><span>جعبه پیام ها</span></li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- panel -->
                <div class="panel" id="large">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جعبه پیام ها
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body ">
                        <span class="label blink label-danger admin-alert"></span>

                        <button class="text-danger text-center blinking" id="inbox">پیام های جدید
                        </button>
                        <hr>

                        <div id="emails-view">

                        </div>
                        <div id="compose-view">
                            <h3>ایمیل جدید</h3>
                            <div id="message"></div>
                            <form id="compose-form">
                                <div class="form-group">
                                    از:
                                    <input disabled class="form-control" value="{{ request.user.get_full_name }}"
                                           id="from">
                                </div>
                                <div class="form-group">
                                    به:
                                    <input id="compose-recipients" class="form-control" name="to">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="compose-subject" placeholder="موضوع">
                                </div>

  <script src="https://cdn.tiny.cloud/1/0gew21wg40ivuhisit0lnzwte14lw35uonth9l630hkp44tb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
                                <textarea class="form-control" id="compose-body"
                                          placeholder="متن پیام"></textarea><br><br>

                                <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
    });
  </script>
                                <div><input type="submit" class="btn btn-sm btn-success" value="ارسال ایمیل"></div>

                            </form>
                        </div>

                        {% block script %}
                            <script src="{% static 'mail/inbox.js' %}"></script>
                        {% endblock %}
                    </div>
                </div>
                <!-- /End panel -->

            </td>
        </tr>
    </table>
{% endblock %}