{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load comment_tags %}
<title>{% block title %} جزئیات ایمیل {% endblock %}</title>

{% block content %}

    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li><a href="{% url 'mail:sent_list' %}">لیست پیام های ارسالی /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جزئیات پیام
                        <div class="pan-btn expand min"></div>
                    </div>


                    <div class="panel-body">
                        <div class="row">

                            <!-- navigation -->
                            <div class="col-sm-3">

                                <!-- image and nav -->
                                <div class="panel nav-sidebar-tab" style="border-radius: 10px;">
                                    <div class="profie-avatar b#0162e8" style="background-color: rgb(1, 98, 232);">
                                        {% if email.user.avatar %}

                                            <img src="{{ email.user.avatar.url }}" class="i#000000=010000"
                                                 alt="بارگذاری نشد"
                                                 data-lity=""
                                                 style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            <div class="t#fff Ubuntu-font" style="color: rgb(255, 255, 255);">
                                                {{ email.user.get_full_name }}
                                            </div>
                                        {% else %}
                                            {% if email.user.gender == 'F' %}
                                                <img src="{% static 'registrations\dialog\img\avatar\woman.png' %}"
                                                     class="i#000000=010000" alt="بارگذاری نشد"
                                                     data-lity=""
                                                     style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            {% else %}
                                                <img src="{% static 'registrations\dialog\img\avatar\man.png' %}"
                                                     class="i#000000=010000" alt="بارگذاری نشد"
                                                     data-lity=""
                                                     style="transition: all 0.3s ease 0s; filter: grayscale(0%) blur(0px) invert(0%) sepia(0%) brightness(100%) contrast(100%); cursor: zoom-in;">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <ul class="nav tabs">
                                        <li class=""><a href="{% url 'account:profile_detail' email.sender.id %}">
                                            پروفایل</a></li>
                                    </ul>
                                </div>

                                <!-- friends -->
                            </div>

                            <!-- content -->
                            <div class="col-sm-9 user-profile-content">
                                <div class="tab-content panel panel-body" style="border-radius: 10px;">

                                    <!-- profile -->
                                    <div class="tab-pane fade in active" id="prof">

                                        <h3 class="t#0162e8" style="color: rgb(1, 98, 232);">جزئیات پیام</h3>

                                        <div class="panel m-t-30" style="border-radius: 10px;">

                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr class="first-table-row">
                                                        <td>ارسال کننده:</td>
                                                        <td>{{ email.sender.get_full_name }}</td>
                                                    </tr>

                                                    <tr class="first-table-row">
                                                        <td>موضوع:</td>
                                                        <td>{{ email.subject }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>متن :</td>
                                                        <td>{{ email.body|safe }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>تاریخ دریافت:</td>
                                                        <td>{{ email.timestamp }}</td>
                                                    </tr>


                                                    </tbody>
                                                </table>

                                            </div>

                                            <div class="panel-footer"
                                                 style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                                <button class="btn btn-danger btn-sm" data-toggle="modal"
                                                        data-target="#Modal-sm">
                                                    حذف پیام
                                                </button>

                                                <div id="Modal-sm" class="modal fade">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>
                                                                <h4 class="modal-title">حذف ایمیل <i
                                                                        class="text-danger">"{{ email.subject }}"</i>
                                                                </h4>
                                                            </div>

                                                            <div class="modal-body">
                                                                <i>آیا از حذف کردن ایمیل <i
                                                                        class="text-body">"{{ email.subject }}" مطمئن
                                                                    هستید ؟</i></i>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <a class=" btn btn-danger" data-dismiss="modal">
                                                                    بستن
                                                                </a>
                                                                <a href="{% url 'mail:delete-email' email.id %}"
                                                                   class="btn btn-primary">حذف کردن</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    {% render_comments object request %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}

