{% extends 'registration/base.html' %}
{% load widget_tweaks %}
<title>{% block title %} لیست پیام های دریافتی {% endblock %}</title>
{% block content %}
    <!-- title and breadcrumb -->
    <div class="page-header">
        <h2 class="page-title">{% block header %} لیست مشتریان {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان </a></li>
            <li>لیست پیام های دریافتی</li>
        </ol>

        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <!-- /End title and breadcrumb -->
    <table class="col-md-6" id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        جستجوی پیشرفته
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!--div class="table-responsive"-->
                        <div id="grid-header" class="bootgrid-header container-fluid">
                            <div class="row">
                                <div class="col-sm-12 actionBar">
                                    <div class="search form-group is-empty">
                                        <form method="get">

                                            <div class="row">
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.sender.label_tag }}
                                                    {% render_field filter.form.sender class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.subject.label_tag }}
                                                    {% render_field filter.form.subject class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.timestamp.label_tag }}
                                                    {% render_field filter.form.timestamp class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.body.label_tag }}
                                                    {% render_field filter.form.body class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.read.label_tag }}
                                                    {% render_field filter.form.read class="form-control" %}
                                                </div>
                                                <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.archived.label_tag }}
                                                    {% render_field filter.form.archived class="form-control" %}
                                                </div>

                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> جستجو
                                            </button>
                                            <a href="{% url 'mail:index' %}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span> ایجاد ایمیل جدید
                                            </a>
                                            <br>
                                            <br>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if filter.qs %}
                            <table id="grid" class="table table-condensed table-hover table-striped bootgrid-table"
                                   data-selection="true" data-multi-select="true" data-row-select="true"
                                   data-keep-selection="true" aria-busy="false" style="width: 100%">
                                <thead>
                                <tr>
                                    <th data-column-id="id" class="text-center" style="width:80px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text">گیرنده پیام</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="sender" class="text-center" style="width:45px;"><a
                                            class="column-header-anchor sortable"><span
                                            class="text"> موضوع</span><span
                                            class="icon fa fa-sort-asc"></span></a>
                                    </th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">زمان دریافت</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">خوانده شده است؟</span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">وضعیت آرشیو </span><span class="icon fa "></span></a></th>
                                    <th data-column-id="link" class="text-center" style="width:75px;"><a
                                            class="column-header-anchor "><span
                                            class="text">حذف کردن پیام </span><span class="icon fa "></span></a></th>
                                </tr>


                                </thead>
                                <tbody>
                                {% for mail in filter.qs %}
                                    <tr data-row-id="5">
                                        <td class="text-center text-warning"
                                            style="width:100px;"><a
                                                href="{% url "mail:sent_detail" mail.pk %}">{{ mail.user }}</a>

                                        </td>
                                        <td class="text-center"
                                            style="width:45px;">{{ mail.subject }}</td>

                                        <td class="text-center" style="width:75px;">
                                            {{ mail.timestamp }}
                                        </td>

                                        <td class="text-center" style="width:75px;">
                                            {% if mail.read %}
                                                <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            {% if mail.archived %}
                                                <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="width:75px;">
                                            <p><a onclick="return confirm('آیا از پاک کردن این پیام مطمئن هستید ؟')"
                                                  href="{% url 'mail:delete-email' mail.pk %}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                                <script>$(document).on('click', '.confirm-delete', function () {
                                                    return confirm('آیا از پاک کردن این پیام مطمئن هستید ؟');
                                                })</script>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        {% else %}
                            <h3>محتوایی برای نمایش وجود ندارد.</h3>
                        {% endif %}

                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}