{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <table id="content_table" >
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h1>{% block title %}{% trans "لیست توکن ها" %}{% endblock %}</h1>
                        <p>{% blocktrans trimmed %}لیست توکن های ایجاد شده برای زمانی می باشد که شما دسترسی به تلفن همراه خود را ندارید .{% endblocktrans %}</p>
<br>
                        {% if device.token_set.count %}
                            <ul style="font-size: large">
                                {% for token in device.token_set.all %}
                                    <li  >• {{ token.token }}</li>
                                {% endfor %}
                            </ul>
                            <br>
                            <p class="text-danger">*{% blocktrans %}لطفا این لیست را در یک مکان امن حفظ کنید.{% endblocktrans %}</p>
                        {% else %}
                            <p>{% trans "شما هنوز لیست توکن ایجاد نکرده اید ." %}</p>
                        {% endif %}

                        <form method="post">{% csrf_token %}{{ form }}
                            <a href="{% url 'two_factor:profile' %}"
                               class="float-right btn btn-link">{% trans "بازگشت به صفحه تنظیمات" %}</a>
                            <button class="btn btn-primary" type="submit">{% trans "ایجاد توکن " %}</button>
                        </form>

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}