{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به ثایت </title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/images/icons/favicon.ico' %}" rel="icon" type="image/png"/>
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/fonts/iconic/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/animate/animate.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/animsition/css/animsition.min.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/select2/select2.min.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/vendor/daterangepicker/daterangepicker.css' %}" rel="stylesheet"
          type="text/css">
    <!--===============================================================================================-->
    <link href="{% static 'registrations/login/css/util.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'registrations/login/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'registrations/login/css/rtl.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<div class="limiter img-fluid">
    <div class="container-login100" style="">
        <div class="wrap-login100 img-fluid"
             style="box-sizing: revert;opacity:.95;filter: alpha(opacity=50); background: hsl(0,0%,100%) !important; border-radius: 50px !important;     padding-block: 50px; box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);">
            {% if wizard.steps.current == 'auth' %}
            {% elif wizard.steps.current == 'token' %}<br>
                {% if device.method == 'call' %}
                    <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
                        digits you hear.{% endblocktrans %}</p>
                {% elif device.method == 'sms' %}
                    <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
                        sent.{% endblocktrans %}</p>
                {% else %}
                    <p class="alert alert-success" style="background: rgba(224,229,233,0.01)">{% blocktrans trimmed %}
                        لطفا توکن ایجاد
                        شده را وارد
                        نمایید.{% endblocktrans %}</p>
                {% endif %}
            {% elif wizard.steps.current == 'backup' %}
                <p class="alert alert-success">{% blocktrans trimmed %}از این فرم برای وارد کردن توکن ایجاد شده برای
                    ورود به
                    سیستم استفاده کنید.لطفاً
                    یکی از این نشانه های پشتیبان را وارد کنید تا به حساب کاربری خود وارد شوید.{% endblocktrans %}</p>
            {% endif %}

            <form class="login100-form validate-form" method="post">{% csrf_token %}
                <div class="login100-form-title img-fluid"
                     style="opacity: .9;width: 100%;height: 206px;background-image: url(../../../static/registrations/dialog/img/other/erfan.jpg); background-position: center">
<span class="login100-form-title-1">
 <span class="login100-form-title p-b-96">

					</span>
</span>
                </div>

                <br><br>
                <table>
                    {{ wizard.management_form }}
                    {{ wizard.form }}
                </table>

                {% if backup_tokens %}
                    <p>{% trans "می توانید از لیست توکن های از قبل ایجاد شده استفاده کنید." %}</p>
                    <p>
                        <button name="wizard_goto_step" type="submit" value="backup"
                                class="btn btn-secondary btn-block">{% trans "وارد کردن توکن از لیست پشتیبانی" %}</button>
                    </p>
                {% endif %}
                <br>
                <a class="myfont" href="{% url 'password_reset' %}">فراموشی رمز عبور</a>
                <br><a class="myfont" href="{% url 'register' %}">ثبت نام</a>
                <br><a class="myfont" href="/shop/tracker/">پیگیری محموله </a>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn myfont">
                            ورود
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>


<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registrations/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registrations/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registrations/login/js/main.js' %}"></script>

</body>
</html>

