{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-danger">{% block title %}{% trans "اجازه دسترسی ندارید !!!" %}{% endblock %}</h1>

                        <p>{% blocktrans trimmed %}دسترسی به صفحه درخواستی تنها با فعال کردن سیستم احراز هویت دو عاملی امکان پذیر می باشد .{% endblocktrans %}</p>

                        <p>{% blocktrans trimmed %}سیستم احراز هویت دو مرحله ای برای شما فعال نمی باشد .لطفا این سیستم را جهت دسترسی به صفحه و ارتقاء حساب خود فعال کنید . {% endblocktrans %}</p>
                        <p>
                            <a href="javascript:history.go(-1)"
                               class="float-right btn btn-link">{% trans "بازگشت" %}</a>
                            <a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
                                {% trans "فعال سازی سیستم احراز هویت دو مرحله ای" %}</a>
                        </p>

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
