{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h2 >{% block title %}{% trans "سیستم احراز هویت دو مرحله ای شما با موفقیت فعال شد ." %}{% endblock %}</h2>

                        {% if not phone_methods %}
                            <p><a href="{% url 'two_factor:profile' %}"
                                  class="btn btn-shadow">{% trans "بازگشت به صفحه امنیت حساب" %}</a></p>
                        {% else %}
                            <p>{% blocktrans trimmed %}However, it might happen that you don't have access to
                                your primary token device. To enable account recovery, add a phone
                                number.{% endblocktrans %}</p>

                            <a href="{% url 'two_factor:profile' %}"
                               class="float-right btn btn-link">{% trans "بازگشت به صفحه امنیت حساب" %}</a>
                            <p><a href="{% url 'two_factor:phone_create' %}"
                                  class="btn btn-success">{% trans "Add Phone Number" %}</a></p>
                        {% endif %}

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
