{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% block header %} داشبورد {% endblock %}</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'account:home' %}">پیشخوان /</a></li>
        </ol>


        <div class="Jalali pull-right">
            <p id="JalaliDayAndDate"></p>
        </div>
    </div>
    <table id="content_table">
        <tr class="row1">
            <td id="column0" class="connectcolumn" colspan="2">

                <!-- Inline forms -->
                <div class="panel" id="color">
                    <div class="panel-heading">
                        <i class="la la-hashtag sort-hand"></i>
                        فرم های خطی
                        <div class="pan-btn expand min"></div>
                    </div>
                    <div class="panel-body">
                        <h1>{% block title %}{% trans "فعال کردن احراز هویت دو عاملی" %}{% endblock %}</h1>
                        {% if wizard.steps.current == 'welcome' %}
                            <p>{% blocktrans trimmed %}شما در حال افزایش امنیت حساب خود می باشید. مراحل را دنبال کنید تا
                                احراز هویت دو عاملی  شما فعال شود.{% endblocktrans %}</p>
                        {% elif wizard.steps.current == 'method' %}
                            <p>{% blocktrans trimmed %}لطفا یکی از روش های زیر را انتخاب کنید .{% endblocktrans %}</p>
                        {% elif wizard.steps.current == 'generator' %}
                            <p>{% blocktrans trimmed %} برای این روش شما نیاز به یک تلفن همراه هوشمند و برنامه  "google
                                authenticator" می باشید.
                            {% endblocktrans %}</p>
                            <p><img src="{{ QR_URL }}" alt="QR Code"/></p>
                        {% elif wizard.steps.current == 'yubikey' %}
                            <p>{% blocktrans trimmed %}یک سیستم امنیتی بسیار قوی می باشد که جهت فعالسازی آن نیاز به  <a style="color: red" href="https://www.yubico.com/"> yubico </a>می باشید . {% endblocktrans %}</p>
                        {% endif %}

                        <form action="" method="post">{% csrf_token %}
                            {% include "two_factor/_wizard_forms.html" %}
                            {% include "two_factor/_wizard_actions.html" %}
                        </form>

                    </div>
                </div>

                <!-- /End Inline forms -->
            </td>
        </tr>
    </table>
{% endblock %}
